.course-content {
  #live-sessions {
    display: none;
  }
}

.course-content {
  #courslet-history {
    display: none;
  }
}

// -- Tabs
.course-content-tabs {
  background: #fff;
  border-bottom: 1px solid #E8E8EB;

  ul {
    @extend .clearfix;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    width: 50%;
    float: left;

    &:first-child a {
      border-right: 1px solid #E8E8EB;
    }
  }

  a {
    display: block;
    font-size: 17px;
    line-height: 20px;
    color: #B1B0B9;
    padding: 30px 0 28px 0;
    text-align: center;
    transition: all 0.3s;
    border-bottom: 2px solid #fff;

    &:hover, &:active, &:focus, &.course-content-tabs--selected {
      color: $brand-green;
      padding-bottom: 28px;
      border-color: $brand-green;
      color: $brand-green;
      text-decoration: none;
    }
  }
}

// -- Units
.course-content-units {
  padding: 35px 0 50px 0;
  min-height: 500px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 15px 0 0 0;
  }

  a {
    position: relative;
    display: block;
    padding: 50px 50px 50px 160px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.3);
    // IE8 SVG fallback https://css-tricks.com/using-svg/
    background: #fff url(../img/course-open-unit.png) no-repeat 50px 50px;
    background-image: url(../img/course-open-unit.svg), none;
    background-size: 60px 60px;
    transition: all 0.3s;

    &:hover, &:active, &:focus {
      text-decoration: none;
      opacity: 0.5;
    }

    h3 {
      font-size: 19px;
      font-weight: normal;
      line-height: 25px;
      color: #333;
      margin: 5px 0 0 0;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      color: #808080;
      margin: 5px 0;
    }
  }
}

.course-content-unit-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  z-index: 1003;
  background: #F6FBF5;
  border-top: 1px solid #AEDDA4;
  border-radius: 0 0 4px 4px;

  span {
    position: absolute;
    top: -1px;
    left: 0;
    width: 2px;
    height: 8px;
    border-radius: 0 4px 4px 4px;
    border: 1px solid #43B02A;
    background: $brand-green;
    background: repeating-linear-gradient(
      45deg,
      #43B02A,
      #43B02A 6px,
      #61BD4D 6px,
      #61BD4D 12px
    );
  }
}

.course-content-units-description {
  max-width: 500px;
  margin: 10px auto 45px auto;
  font-size: 15px;
  line-height: 22px;
  color: #808080;
  text-align: center;
}
