.course-header {
  position: relative;
  background-color: #F0F4F7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41,46,51,0.3);
    z-index: 1;
  }

  .container {
    max-width: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 164px;
  }

  .logo {
    display: inline-block;
    top: 44px;
    left: 50%;
    width: 44px;
    height: 44px;
    margin: 44px 0 0 0;
    background: url(../img/courselets-logo.png) no-repeat top left;
    background-image: url(../img/courselets-logo.svg), none;
  }

  h1 {
    font-size: 34px;
    font-weight: normal;
    line-height: 40px;
    color: #fff;
    margin-top: 130px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 18px;
  }
}
