 <h4>{{ list_name }}</h4>
 <table class="table table-striped">
   <thead>
   <th>
     Course
   </th>
   <th>
     Settings
   </th>
   </thead>
   <tbody>
   {% for course in courses %}
   <tr>
     <td>
      <a href="{% url 'ctms:course_view' pk=course.id %}">{{ course.title }}</a>
     </td>
     <td>
      <a href="{% url 'ctms:course_settings' pk=course.id %}">settings</a><br>
     </td>
   </tr>
   {% endfor %}
   </tbody>
 </table>

 {% if list_name == 'Shared courses' and instructor_role_courses %}
 <h4>Has instructor role in these courses:</h4>
  <table class="table table-striped">
    <thead >
      <th>
        User who shared
      </th>
      <th>
        Course name
      </th>
      <th>
        link
      </th>

    </thead>
    {% for course in instructor_role_courses %}
    <tr>
      <td>
        {{ course.addedBy }}
      </td>
      <td>
        {{ course.title }}
      </td>
      <td>
        <a href="{% url 'lms:course_view' course_id=course.id %}">open</a>
      </td>
    </tr>
    {% endfor %}
  </table>
 {% endif %}
