<div class="card">
  <header class="card__topbar card__topbar--with-description">
    <h1>Create a New Course</h1>
    <p>
      Let’s start by giving your course a name.
    </p>
  </header>

  <main class="card__content">
    <form method="POST" action="{% url 'ctms:create_course' %}">
      <label for="name">Course Name</label>

      {{ form.title }}
      {{ form.title.errors }}


      <label for="name">Students Number</label>
      {{ form.students_number }}
      {{ form.students_number.errors }}

      {% csrf_token %}

      <input type="submit" name="Create Course" value="Create Course"/>
    </form>
  </main>
</div>
