// Overrides the default Bootstrap styling http://getbootstrap.com/components/#alerts
.alert {
  padding: 12px 24px;
  margin: 12px 0 0 0;

  b {
    font-weight: 600;
  }

  p {
    margin: 0;
    padding: 12px 0;
    max-width: 600px;
  }
}

// Larger viewports
@media (min-width: 1024px) {
  .alert {
    padding: 12px 60px;
  }
}
