.answer {
  .user-info {
    margin-top: 15px;
  }
}

.answer__back {
  margin-top: 6px;
}

.answer__meta {
  margin-top: 18px;
  padding: 12px 0;
  border-top: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6;
}

.answer__answer {
  margin-top: 18px;
}
