.auth-card {
  position: relative;
  background: #fff;
  border-top: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6;
  margin: 23px auto 24px auto;
  max-width: 720px;

  header {
    text-align: center;
    padding: 36px 36px 34px 36px;
    border-bottom: 1px solid #DDE2E6;

    h1 {
      margin-top: 3px;
    }

    p {
      margin-top: 9px;
      color: #7F7F7F;
    }
  }
}

.auth-card__social-options {
  position: relative;
  text-align: left;
  padding: 27px 24px;
  border-bottom: 1px solid #DDE2E6;

  .button {
    margin: 6px;
  }

  p {
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
    margin: 0;

    span {
      display: inline-block;
      background: #fff;
      color: #7F7F7F;
      padding: 0 12px;
    }
  }
}

.auth-card__content {
  padding: 60px;

  > *:first-child {
    margin-top: -12px;;
  }

  label {
    margin-top: 36px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.auth-card__content--centered {
  text-align: center; 
}

.auth-card__actions {
  margin-top: 48px;
  @include clearfix;

  a, span {
    float: left;
    display: inline-block;
    padding: 24px 24px 24px 0;
  }

  span {
    color: #ccc;
  }

  input[type=submit] {
    display: block;
    width: 100%;
    margin: 12px 0 0 0;
  }
}

// Tablet and up
@media (min-width: 768px) {
  .auth-card__social-options {
    text-align: center;
  }

  .auth-card__actions {
    input[type=submit] {
      float: right;
      display: inline-block;
      width: auto;
    }
  }
}

// Larger viewports
@media (min-width: 1024px) {
  .auth-card {
    margin-top: 59px;
    margin-bottom: 60px;
    border-radius: 4px;
    border-left: 1px solid #DDE2E6;
    border-right: 1px solid #DDE2E6;
  }
}
