.errorlist {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin: 3px 0 0 0;
  padding: 12px 18px;
  list-style: none;

  li {
    display: block;
  }
}
