.expandable {

}

.expandable--form-description {
  > p {
    margin: 0;
  }

  .expandable__content p {
    margin: 0;
  }
}

.expandable__toggle {
  cursor: pointer;
}

.expandable__content {
  display: none;
}
