.form-group {
  margin: 48px 0 0 0;

  &:first-of-type {
    margin-top: 0;
  }

  .radio-list {
    margin-bottom: -6px;
  }
}

.form-group--question, .form-group--answer, .form-group--error-models, .form-group--introduction {
  display: none;
}

.form-group__action {
  input[type=submit] {
    float: none;
    margin: 18px 0 0 0;
  }
}
