.get-started {
  &__holder {
    border-bottom: 1px solid #DDE2E6;
    padding-bottom: 28px;
    
    @media screen and (min-width: 1024px) {
      padding-bottom: 52px;
    }
  }
}

.get-started__intro {
  padding: 27px 24px 0 24px;

  h1 {
    margin: 0;
  }

  p {
    color: $color-text-primary;
    margin: 15px 0 0 0;
  }

  .progress-line {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 25px 0 7px 0;
  }
}

.get-started__progress-circle {
  display: none;
  position: absolute;
  top: 95px;
  right: 60px;
  width: 120px;
  height: 120px;

  div {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 34px;
    color: #333;
    line-height: 120px;
    vertical-align: baseline;
    text-align: center;
  }
}

.get-started__progress-sign {
  font-size: 24px;
  color: #808080;
}

.get-started__step--open {
  h2 {
    font-weight: 600;
  }

  .get-started__step-content {
    display: block;
  }
}

.get-started__step--done {
  .get-started__step-status {
    background: url(../../img/instructor/get-started-done.svg) no-repeat top left;
  }
}

.get-started__step-header {
  position: relative;
  padding: 30px 24px 24px 72px;

  h2 {
    font-size: 14px;
    line-height: 24px;
    color: $color-headline;
    margin: 0;
  }
}

.get-started__step-status {
  display: block;
  position: absolute;
  top: 29px;
  left: 24px;
  width: 24px;
  height: 24px;
  background: #ccc;
  background: url(../../img/instructor/get-started-not-done.svg) no-repeat top left;
}

.get-started__step-tip {
  display: block;
  color: #333;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}

.get-started__step-toggle {
  position: static;
  margin: 17px 0 0 0;
  width: 72px;
}

.get-started__step-content {
  display: none;
  padding: 7px 24px 36px 24px;
}

// Larger viewports
@media (min-width: 1024px) {
  .get-started__intro {
    padding: 51px 60px 0 60px;
    position: relative;

    .progress-line {
      display: none;
    }
  }

  .get-started__progress-circle {
    display: block;
  }

  .get-started__step-header {
    padding: 30px 144px 29px 108px;
  }

  .get-started__step-status {
    left: 60px;
  }

  .get-started__step-content {
    padding: 0 60px 36px 108px;
  }

  .get-started__step-toggle {
    position: absolute;
    top: 23px;
    right: 60px;
    margin: 0;
  }

  .get-started__step--open {
    .get-started__step-header {
      padding-bottom: 12px;
    }
  }
}

@media (min-width: 1080px) {
  .get-started__progress-circle {
    top: 83px;
  }
}

@media (min-width: 1172px) {
  .get-started__progress-circle {
    top: 59px;
  }
}
