.image-upload {
  img {
    display: block;
    max-width: 360px;
    height: auto;
    margin: 12px 0 0 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 25px 50px -25px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .image-clear {
    margin: 12px 0 0 0;
  }

  .button {
    margin: 12px 0 0 0;
  }

  label {
    font-weight: normal;
  }
}
