.onboarding-content {
  > p {
    margin: 0;
    max-width: 480px;
  }

  > p + p {
    margin: 12px 0 0 0;
  }

  .button {
    margin-top: 17px;
  }

  .video-link + .button {
    margin-top: 24px;
  }

  .alert {
    padding: 11px 24px;
    margin: 24px 0 0 0;
    max-width: 480px;
  }
}
