.radio-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: 0;
  }

  li {
    display: inline-block;
    margin-top: 6px;
  }

  li + li {
    margin-left: 24px;
  }

  label {
    cursor: pointer;
    font-weight: 400;
  }

  input[type=radio] {
    margin-right: 6px;
  }
}
