.share-group {
  margin: 48px 0 0 0;

  label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #000;
  }

  p {
    margin: 6px 0 0 0;
  }

  .input-with-button {
    margin: 15px 0 0 0;

    input {
      margin: 0;
    }
  }
}

.share-group + .share-group {
  margin-top: 54px;
}
