.sidebar {
  display: none;
  background: $color-dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  min-height: 100%;

  header {
    @include clearfix;
    background: #1B172F;
    border-bottom: 1px solid #2F2B43;
    height: 61px;
    padding-left: 50px; // Make room for hamburger

    a {
      float: left;
      line-height: 60px;
      padding: 0 9px;
      color: #B1B0B9;

      &:hover, &:focus, &:active {
        color: #B1B0B9;
        opacity: 0.6;
      }
    }

    .sidebar__logo {
      display: block;
      padding: 18px 9px 18px 24px;

      img {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }

  section {

  }

  h4 {
    margin: 0;
  }
}

// Larger viewports
@media (min-width: 1024px) {
  .sidebar {
    display: block !important;
    width: 308px;

    header {
      padding-left: 0;
    }
  }
}
