<br>
<form class="form-horizontal" id="issue_form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control inp">
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control inp" name="description" rows="3"></textarea>
        <label>Labels</label>
        <section id="labels"></section><br>
        <hr>
        <div id="all_labels">
            <% _.each(all_labels, function(x) {%>
                <% if ($.inArray(x.id, labels) < 0) { %>
                <label data="<%= x.id %>" class="choices label <%= x.color %>"> <%= x.title %></label>
                <% } %>
            <% } ); %>
        </div>
        <br>
        <label>Assignee</label>
        <select name="assignee" class="form-control">

        </select>
        <input type="hidden" name="author" value="<%= author %>">
        <input type="hidden" name="unit_lesson">
        <input type="hidden" name="is_open" value="true">
        <hr>
    </div>
</form>
<button class="btn btn-success" id="ok_button">Ok</button>
<button class="btn btn-warning" id="cancel_button">Cancel</button>
