<br>
<form class="form-horizontal" id="issue_form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control inp" value="<%= title %>">
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control inp" name="description" rows="3"><%= description %></textarea>
        <label>Labels</label>
        <section id="labels"></section><hr>
        <div id="all_labels"></div>
        <br>
        <label>Assignee</label>

        <input type="hidden" name="author" value="<%= author %>">
    </div>
    <hr>
</form>
<button class="btn btn-success" id="ok_button">Ok</button>
<button class="btn btn-warning" id="cancel_button">Cancel</button>
