<br>
<div class="row" id="lesson_issues_table">
<div class="col-sm-5">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
            <ul class="dropdown-menu">

            </ul>
      </div><!-- /btn-group -->
        <input type="text" class="form-control">
    </div><!-- /input-group -->
</div>
<div class="col-sm-5">
  <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labels <span class="caret"></span></button>
        <ul class="dropdown-menu">

        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
  </div><!-- /input-group -->
</div>
<div class="col-sm-2">
    <button class="btn btn-info" id="add_new_issue">Add new issue</button>
</div>

<hr>
    <%= filter.is_open %>
<table class="table">
    <thead>
    <th id="open_link_th" <% if (filter.is_open) { %> class="success" <% } %> style="text-align: center;">
        <a href="#" id="open_issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Open: <span id="open_span"><%= open_count %></span></a>
    </th>
    <th id="close_link_th" <% if (!filter.is_open) { %> class="success" <% } %> style=" text-align: center;">
       <a href="#" id="closed_issues"><span class="glyphicon glyphicon-ok"></span> Closed: <span id="closed_span"><%= closed_count %></span></a>
    </th>
    <th>
    <div class="pull-right">
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Author <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="dropdown_author">
            <li role="separator" class="divider"></li>
            <li><a href="#" filter="all" field="author">Show all</a></li>
          </ul>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Labels <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="dropdown_labels">
            <% _.each(all_labels, function(x) { %>
                <li style="margin-left: 20px; margin-bottom: 15px;">
                    <h4>
                        <a href="#label" data="<%= x.id %>" class="choices label <%= x.color %>"> <%= x.title %></a>
                    </h4>
                </li>
            <% }); %>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="show_all_labels">Show all</a></li>
          </ul>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Assignee <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="dropdown_assignee">
            <li role="separator" class="divider"></li>
            <li><a href="#" filter="all" field="assignee">Show all</a></li>
          </ul>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a id="byTitle" href="#">By title</a></li>
              <li><a id="byAuthor" href="#">By author</a></li>
          </ul>
      </div>
    </div>
    </th>
</thead>
</table>

    <table class="table table-condensed">
        <tbody id='table_of_issues'>
        </tbody>
    </table>

    </div>

