<br>
<div id="issue_detail">
    <button class="btn btn-info pull-right" id="edit_issue">Edit</button>
    <label>Title</label>
    <p><%= title %></p>
    <label>Description</label>
    <p><%= description %></p>
    <label>Labels</label>
    <p id="labels"></p>
    <label>Author</label>
    <p><%= author_name %></p>
    <label>Assignee</label>
    <p><%= assignee_name.username %></p>
    <button class="btn btn-warning" id="issue_detail_cancel_button">Go back</button>
    <% if (is_open) { %>
        <button class="btn pull-right btn-success" id="close_button">Close issue</button>
    <% }  else { %>
        <button class="btn pull-right btn-warning" id="open_button">Reopen issue</button>
    <% } %>
</div>
<hr>
<h3>Comments</h3>
<div id="comments">

</div>
<div id="for_comment_form">

</div>
