# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
node_modules/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
doc/_build/

# PyBuilder
target/


# custom excludes
.Trash-1000/
.env/
*.db
settings_local.py
local.py
#static/
assets/
mysite/static/
deploy.sh
celerybeat-schedule
.idea/
local_conf.py
socraticqs2.sublime-workspace
socraticqs2.sublime-project
sftp-config.json
_ve_socraticqs2/
fab_settings.py
backups/*
bower_components/
node_modules/
.vscode/
mysite/media/
