{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Courselets{% endblock %}</title>
    <meta name="description" content="{% block description %}Write your own exercises using our fast, effective Open Response Concept Testing methodology.{% endblock %}">
    <link rel="icon" href="{% static "img/instructor/favicon.png" %}">

    <link rel="stylesheet" href="//fast.fonts.net/cssapi/295027bc-49f8-4267-859a-8e5aea9f11b6.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/instructor/app.css" %}">
    {# render_block "css" #}

    {% include "google-analytics.html" %}
  </head>

  <body>
    {% include "ctms/includes/sidebar.html" %}

    <a href="#sidebar" class="hamburger" aria-expanded="false" aria-controls="sidebar"><span class="sr-only">Toggle navigation</span></a>

    <div class="page">
      <header class="page__topbar">
        <div class="page__topbar-inner">
          <!-- TODO: Add first name and link to account settings -->
          <a class="page__account" href="#">
            <img src="{% static "img/instructor/default-avatar@2x.png" %}" alt="TODO: Username" class="avatar">
            <span>First name</span>
          </a>
        </div>
      </header>

      {% block content %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {# render_block "js" #}

    <script>
      $(function(){
        // Mobile navigation
        $('.hamburger').on('click', function(e){
          e.preventDefault();
          var sidebarSelector = $(this).attr('href');

          $(this).toggleClass('hamburger--active');
          $(sidebarSelector).stop().fadeToggle();
        });
      });

      //
    </script>
  </body>
</html>
