{% load ct_extras %}
{% load staticfiles %}
{% load waffle_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static "img/student/favicon.png" %}">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/295027bc-49f8-4267-859a-8e5aea9f11b6.css"/>
    <!-- build:css css/app.css -->
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/student/app.css" %}">
    <!-- endbuild -->

    <!-- HTML5 shim, Respond.js and jQuery for IE8 support of HTML5 elements and media queries -->
    <!-- build:js js/ie8.js -->
    <!--[if lt IE 9]>
    <script src="{% static "bower_components/html5shiv/dist/html5shiv.min.js" %}"></script>
    <script src="{% static "bower_components/respond/dest/respond.min.js" %}"></script>
    <script src="{% static "js/plugins/jquery-1.9.1-for-ie8.min.js" %}"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- Placeholder fill for IE9 and downwards -->
    <!-- build:js js/ie9.js -->
    <!--[if lt IE 10]>
    <script src="{% static "bower_components/placeholders/dist/placeholders.jquery.min.js" %}"></script>
    <![endif]-->
    <!-- endbuild -->
    {% block head %}{% endblock %}
    {% include "google-analytics.html" %}
  </head>

  <body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    {% switch "live_session_enabled" %}
    {% if liveSession %}
      <div class="live-session-notification">
        <img src="{% static "img/avatar-teacher.jpg" %}" alt="INSTRUCTOR NAME">

        <p>
          {{ liveSession.live_instructor_name }} has started a new live session in {{ course.title }}.
        </p>

        <!--<form action="{% url 'ct:home' %}" method="post" style=" display:inline!important;">-->
        <!--</form>form>-->
        <form action="{% url 'chat:init_live_chat' state_id=liveSession.id %}" method="get" style=" display:inline!important;">
          <!--{% csrf_token %}-->
          <!--<input type="hidden" name="liveID" value="{{ liveSession.id }}" />-->
          <input type="submit" value="Join Live Session" />
        </form>
      </div>
    {% endif %}
    {% endswitch %}

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- build:js js/app.js -->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/handlebars/handlebars.runtime.min.js" %}"></script>
    <script src="{% static "bower_components/gsap/src/minified/plugins/ScrollToPlugin.min.js" %}"></script>
    <script src="{% static "bower_components/gsap/src/minified/TweenMax.min.js" %}"></script>
    <script src="{% static "js/chat/views/compiled.templates.js" %}"></script>
    <!-- endbuild -->

    {% block js %}{% endblock %}
  </body>
</html>
