{% extends "lms_base.html" %}

{% load ct_extras %}
{% load staticfiles %}

{% comment %}
  View a course
{% endcomment %}

{% block title %}
  {{ course.title }}
{% endblock %}


{% block join_live_session %}
{% if liveSession %}
<h2>Live Session</h2>
<form action="{% url 'ct:home' %}" method="post" style=" display:inline!important;">
      {% csrf_token %}
      <input type="hidden" name="liveID" value="{{ liveSession.id }}" />
      <input type="submit" value="Join Live Session" />
      </form>
{% endif %}
{% endblock %}

{% block header %}
<!-- Introduction -->
<div class="chat-introduction">
  {% if img_url %}
  <header class="hero" style="background-image:url('{{ img_url }}');">
  {% else %}
  <header class="hero" style="background-image:url('{% static "img/hero.jpg" %}');">
  {% endif %}
    <div class="overlay"></div>

    <div class="chat-container">
      <div class="logo"></div>
      <h1>{{ unit.title }}</h1>
      <p>{{ course.title }}</p>
    </div>
  </header>
<!-- /Introduction -->
{% endblock %}


{% block content %}
<div class="tab-content">
  <div class="tab-pane active" id="HomeTabDiv">

{% if courslets %}
<table class="table table-striped">
<thead><tr>
  <th>Courselets in this course</th><th>Instructor</th>
</tr></thead>
<tbody>
{% for cu in courslets %}
  <tr>
    <td>
    <a href="{{ domain }}/chat/enrollcode/{{ cu.1 }}/">{{ cu.0.unit.title }}</a>
    {% if not cu.0.is_published %}
      (not yet published)
    {% endif %}
    </td>
    <td>
    <a href="/ct/people/{{ cu.unit.addedBy.pk }}/">{{ cu.unit.addedBy.get_full_name }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

  </div><!-- @end #HomeTabDiv -->
</div>
{% endblock %}
