{% extends "lms_base.html" %}
{% load ct_extras %}
{% load staticfiles %}

{% comment %}
  View a course
{% endcomment %}

{% block title %}
  {{ course.title }}
{% endblock %}

{% block content %}
  <main>
    <!-- Header -->
    <header class="course-header" {% if img_url %} style="background-image:url('{{ img_url }}');" {% else %} style="background-image:url('{% static "img/student/hero.jpg" %}');" {% endif %}>
      <div class="overlay"></div>

      <div class="container">
        <div class="logo"></div>

        <h1>{{ course.title }}</h1>

        <p>
          by {{ course.addedBy.get_full_name }}
        </p>
      </div>
    </header>

    <section class="course-content">
      <div class="course-content-tabs">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <ul>
                <li>
                  <a href="#courselets" class="course-content-tabs--selected">Courselets</a>
                </li>

                <li>
                  <a href="#live-sessions">Live Sessions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <section id="courselets" class="course-content-units">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <ul>
                {% if courslets %}
                  {% for cu in courslets %}
                    <li>
                      <a href="{{ domain }}/chat/enrollcode/{{ cu.1 }}/">
                        <h3>{{ cu.0.unit.title }} {% if not cu.0.is_published %} (not yet published) {% endif %}</h3>

                          <p>{{ cu.2 }} lessons, ~{% widthratio cu.2 1 3 %} minutes</p>

                        <div class="course-content-unit-progress">
                          <span style="width: 10%;"></span>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="live-sessions" class="course-content-units">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <p class="course-content-units-description">
                This is your live session history. You can go back and view your previous sessions, but you can't submit new answers.
              </p>

              <ul>
                {% if livesessions %}
                  {% for lu in livesessions %}
                    <li>
                      <a href="{{ domain }}/chat/enrollcode/{{ lu.enroll_code.enrollCode }}/">
                        <h3>{{ lu.timestamp|date:"F j, Y P" }}</h3>
                        <p>{{ lu.lessons_done }} lessons</p>
                      </a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
{% endblock %}

{% block js %}
  <script src="{% static "js/course.js" %}"></script>
{% endblock %}
