{% extends "ctms_base.html" %}
{% load staticfiles %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
  <div class="card">
    <main class="card__content">
    <h1>{{ object }}</h1>
    <form method="post" id="bp-analysis">{% csrf_token %}
      <p> 
        {% for key, value in input_data.items %}
        <label for="{{ key }}">{{ value.label }}</label>
        <input type="{{ value.type }}" name="{{ key }}">
        {% endfor %}
      </p>
      <input type="submit" class="btn" value="Calculate">
    </form>
    </ul>
    <div id='result' hidden>
      <h2>Impact Analysis</h2><br>
      <ul>
        <div id='estimated_blindspots'></div>
      </ul>
      <form action="" id="fake-form" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="Next">
      </form>
    </ul>
  </div>
  </div>
</main>
</div>
{% endblock %}

{% block js %}
  <script>
      $(document).ready(function(){
        $form = $('#bp-analysis');
        $form.on('submit', function(e){
          e.preventDefault();
          var formData = $form.serializeArray();
          formData.push(
            {name: "best_practice_template_id", value: '{{ best_practice_template_id }}'},
          );
          console.log(formData);
          $.ajax({
            headers: {
              "X-CSRFToken": '{{ csrf_token }}'
            },
            data: formData,
            method: 'POST',
            url: '/api/v0/bp-analysis/'
          })
          .done( function(response) {
            console.log(response.result_data);
            $form.hide()
            $("#result").removeAttr('hidden');
            $.each( response.result_data, function( index, value ){
              $("#estimated_blindspots").append( "<li>" + String(value)+ "</li>")
            });
          })
          .fail( function(error) {
            alert('Something went wrong. Please refresh the page and try again.');
          })
        });
        $fake_form = $('#fake-form');
        $fake_form.on('submit', function(e){
          e.preventDefault();
          $form.unbind()
          $form.submit()
        });
      });
  </script>
{% endblock %}
