{% extends "ctms_base.html" %}
{% load static %}
{% load dictionary_extras %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
<div class="card mod">
    <header class="card__topbar card__topbar--with-description">
      <h1>{{ object }}</h1>
    </header>

    <main class="card__content">
      <h2 class="card__content__title">
        Enter your values here
      </h2>
      <form method="post" id="bp-analysis">{% csrf_token %}
        {% for key, value in input_data.items %}
        {% if forloop.counter0|divisibleby:"2" and not object.template.config.single_column %}<div class="input__row">{% endif %}
          <div class="input__row__item {{ value.subtype }}" {% if object.template.config.single_column %}style="width: 100%"{% endif %}>
            <label for="{{ key }}">{{ value.label }}{% if value.label_explanation %}<span> ({{ value.label_explanation }})</span>{% endif %}</label>
            <p>{{ value.help_text }}</p>
            <input type="{{ value.type }}"
              {% if value.type == "number" %}
                min={{ value.min }}
                step={{ value.step }}
                max={{ value.max }}
              {% endif %}
              name="{{ key }}"
              value="{% if best_practice_data and best_practice_data.input_data|get:key %}{{ best_practice_data.input_data|get:key }}{% elif value.default %}{{ value.default }}{% endif %}"
              required
            >
          </div>
        {% if not object.template.config.single_column %}
          {% if forloop.last or forloop.counter|divisibleby:"2"%}</div>{% endif %}
        {% endif %}
        {% endfor %}
        <input type="submit" class="btn-mod" value="Calculate Impact">
      </form>
    </main>
</div>

<div class="card-mod">
  <main class="card__content">
    <h2 id='result' class="card__content__title">
      Calculated impact for your class
    </h2>
    <h3>
      {% if object.template.scope == object.template.COURSELET %}
        Estimated student blindspot-engagements
      {% elif object.template.scope == object.template.COURSE %}
        Student blindspots resolved by your practice exam        
      {% endif %}
    </h3>
    <ul class="blindspots">
        <li class="blindspots__item">
            <span id="without_courselets_result" class="blindspots__number">
              {{ best_practice_data.result_data.w_o_courselets }}
            </span>
          Without Courselets
        </li>
        <li class="blindspots__item">
            <span id="with_courselets_result" class="blindspots__number">
              {{ best_practice_data.result_data.w_courselets }}
            </span>
          With Courselets
        </li>
      <li class="blindspots__item">
        <a id="recalculate">
          Recalculate
        </a>
      </li>
    </ul>
    <div class="text-block__holder">
        <div class="text-block">
            <h3>
                How we calculated impact
            </h3>
            <p>
            {% if object.template.config.calculated_impact %}
              {{ object.template.config.calculated_impact }}
            {% else%}
              1 student blindspot = 1 student response (to a question-part) that exposes a misconception. Your practice exam is projected to expose 6.72 blindspots on average for each student. Resolving all these for 200 students individually is inefficient compared with using Courselets
            {% endif %}
            </p>
        </div>
        <div class="text-block">
            <h3>
                Recommendations
            </h3>
            <p>
            {% if object.template.config.recommendations %}
              {{ object.template.config.recommendations }}
            {% else%}
              Your exam data indicate that there are far too many total student blindspots on this upcoming exam, for you to resolve them all in office hours or discussion forums.  To genuinely fix this number of student blindspots, you need an online platform that's actually designed to identify and resolve student blindspots with the least instructor effort possible.  Specifically, because identifying a blindspot for one student on Courselets will automatically help all students with that blindspot, you can focus your efforts on exactly what will help the most students, gaining a massive multiplier in student learning at no increase in effort.
            {% endif %}
            </p>
        </div>
    </div>
    <div class="btn-holder text-right">
    {% if object.template.scope == object.template.COURSELET %}
      <a href="{% url 'ctms:courslet_settings' course_pk=course.id pk=object.courselet.id %}#schedule-section" class="button button--primary">Schedule Your Courselet</a>
    {% elif object.template.scope == object.template.COURSE %}
      <a href="{% url 'ctms:courslet_create_with_bp' course.id object.id %}" class="button button--primary">Create a Courselet</a>
    {% endif %}
    </div>
  </main>
</div>

{% endblock %}

{% block js %}
  <script>
      $(document).ready(function(){
        $form = $('#bp-analysis');
        $form.on('submit', function(e){
          $("#btnSubmit").attr("disabled", true);
          $('html, body').animate({
            scrollTop: $("#result").offset().top
          }, 500);
          $estimatedBlindspots = $(".blindspots")
          e.preventDefault();
          var formData = $form.serializeArray();
          formData.push(
            {name: "best_practice_template_id", value: '{{ best_practice_template_id }}'},
          );
          formData.push(
            {name: "best_practice_id", value: '{{ object.id }}'},
          );
          console.log(formData);
          $.ajax({
            headers: {
              "X-CSRFToken": '{{ csrf_token }}'
            },
            data: formData,
            method: 'POST',
            url: '/api/v0/bp-analysis/'
          })
          .done( function(response) {
            console.log(response.result_data);
            $('#without_courselets_result').text(response.result_data.w_o_courselets);
            $('#with_courselets_result').text(response.result_data.w_courselets);
          })
          .fail( function(error) {
            alert('Something went wrong. Please refresh the page and try again.');
          })
          $("#btnSubmit").attr("disabled", false);
        });
        $('#recalculate').on('click', function(e){
          $('html, body').animate({
            scrollTop: $(".card__content").offset().top
          }, 500);
        })
        $fake_form = $('#fake-form');
        $fake_form.on('submit', function(e){
          e.preventDefault();
          $form.unbind()
          $form.submit()
        });
      });
  </script>
{% endblock %}
