{% extends "base.html" %}

{% block base_content %}
<div class="text-center">
  <h6>Course</h6>
  <h5><a href="{% url 'ctms:course_view' pk=course_pk %}">{{ course.title }}</a></h5>
</div>
<div class="text-center">
  <h5>Courslet</h5>
  <h5><a href="{% url 'ctms:courslet_view' course_pk=course_pk pk=pk %}">{{ courslet.unit.title }}</a></h5>
  <h6>Added by {{ course.addedBy }}</h6>
</div>

{% if form %}
<form class="form" action="{% url 'ctms:courslet_settings' course_pk=course_pk pk=pk %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Save">
</form>

<form action="{% url 'ctms:courslet_delete' course_pk=course_pk pk=pk %}" method="post">
  <input type="submit" onclick="return confirm('Are you sure want to delete this courslet?')"
         class="btn btn-danger" value="Delete this courslet">
  {% csrf_token %}

</form>
{% endif %}
{% endblock %}