{% extends "ctms_base.html" %}
{% load staticfiles %}
{% load best_practice %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>{{ course.title }}  </h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:course_best_practice' pk=course.id %}" class="card__nav-active">Best Practices</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_view' pk=course.id %}">Courselets</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_settings' pk=course.id %}">Settings</a>
        </li>

      </ul>
    </nav>

    <header class="get-started__intro">
      <div class="get-started__holder">
        <h1>Course Best Practices</h1>

        <p>
            Follow these best practices to make the most out of your course.
        </p>

        <span class="progress-line progress-line--over-white">
        <span style="width: calc({{ best_practices_progress | floatformat:"0" }}% + 2px);"></span>
        </span>
      </div>
    </header>

    <div class="get-started__steps">

      {% for template in best_practices_templates %}
      <!-- view_introduction -->
      <div class="get-started__step{% if template.bestpractice_set.all|bps_exists:course %} get-started__step--done{% endif %} get-started__step--summary"
          data-step-id="view_introduction"
          data-bps-exists="{{ template.bestpractice_set.all|bps_exists:course }}">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>
              {{forloop.counter}}. {{ template.summary }}
          </h2>
          <span class="get-started__step-tip">
            {% if template.bestpractice_set.all|bps_exists:course %}
              You've created best practice exams
                {% for best_practice in template.bestpractice_set.all|active:course %}
                  {% if best_practice.courselet %}
                    <a data-complete-step="test_courselet" href="{% url 'ctms:courslet_view' course_pk=best_practice.course.id pk=best_practice.courselet.id %}">
                      {{ best_practice.courselet.unit.exam_name }}
                    </a>{% if not forloop.last %}, {% else %}. {% endif %}
                  {% endif %}
                {% endfor %}
            {% else %}
              Get up to x amount of value by completing this best practice.
            {% endif %}
          </span>
          
          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">
            {% if template.bestpractice_set.all|bps_exists:course %}Create another one{% else %}View{% endif %}
          </a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            <p>
              {{ template.explanation }}
            </p>
            <a data-complete-step="test_courselet" href="#"
              data-bp-template-pk="{{ template.id }}"
              data-course-pk="{{ course.id }}"
              redirect="{% url 'ctms:courslet_create' course_pk=course.id %}"
              class="button button--primary create-new-bp-default">
            {% if template.bestpractice_set.all|bps_exists:course %}
              Create another practice exam courselet
            {% else %}
              Create a Practice Exam Courselet
            {% endif %}
            </a>
            <a data-complete-step="test_courselet" href="#" data-bp-template-pk="{{ template.id }}" data-course-pk="{{ course.id }}" class="button create-new-bp">
              Assess Impact for Your Class
            </a>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    // Add listeners once the DOM is ready
    $(function(){

      // Get started accordion
      $('.get-started__step-toggle').on('click', function(e) {
        e.preventDefault();

        // Save a reference to the button
        var $button = $(e.currentTarget);

        // Find the parent step
        var $step = $button.closest('.get-started__step');

        viewBtnText = "View"
        if ( $step.data('bps-exists') == "True" ) {
          viewBtnText = "Create another one";
        }
        
        // Close if the step is open
        if($step.hasClass('get-started__step--open')) {
          $button.html(viewBtnText);
          $step.removeClass('get-started__step--open');

        // Otherwise open it
        } else {
          $button.html('Hide');
          $step.addClass('get-started__step--open');
        }
      })

      // Complete get started steps
      $('[data-complete-step]').on('click', function(e) {
        // Get the step name and element
        var stepName = $(e.currentTarget).data('complete-step');
        var $step = $('.get-started__step[data-step-id='+ stepName +']');
        var data = {};
        data[stepName] = true;

        // Send an ajax request to save the update
        this.updateCartXhr = $.ajax({
          headers: {
            "X-CSRFToken": getCookie('csrftoken')
          },
          cache: false,
          context: this,
          data: data,
          dataType: 'json',
          method: 'PUT',
          url: '/api/v0/onboarding-status/'
        })
        .done( function(response) { })
        .fail( function(error) {
          alert('Something went wrong. Please refresh the page and try again.');
        });

        // Update the status checkbox
        $step.addClass('get-started__step--done');

        // Delay updates for 1 second (let e.g. video overlays animate in first)
        setTimeout(function() {

          // Hide open steps
          $('.get-started__step').removeClass('get-started__step--open');
          $('.get-started__step-toggle').html('View');

          // Find next incomplete step
          var $nextStep = $('.get-started__step').not('.get-started__step--done').first();

          // Open the next step if one exists
          $nextStep.addClass('get-started__step--open');
          $nextStep.find('.get-started__step-toggle').html('Hide');
        }, 1000)
      });

      $('.create-new-bp, .create-new-bp-default').on('click', function(e) {
        // Get the step name and element
        var bpPk = $(e.currentTarget).data('bpTemplatePk');
        var coursePk = $(e.currentTarget).data('coursePk');
        console.log(bpPk, coursePk)
        var data = {};
        data['template_id'] = bpPk;
        data['course_id'] = coursePk;

        // Send an ajax request to save the update
        this.updateCartXhr = $.ajax({
          headers: {
            "X-CSRFToken": getCookie('csrftoken')
          },
          cache: false,
          context: this,
          data: data,
          dataType: 'json',
          method: 'POST',
          url: "{% url 'api:v0:bp-creation' %}"
        })
        .done( function(response) {
          console.log(response.data.new_best_practice);
          if ($(e.currentTarget).is($('.create-new-bp'))){
            window.location.href = '/ctms/course/' + coursePk + '/bp/' + response.data.new_best_practice + '/calculation/';
          } else if
          ($(e.currentTarget).is($('.create-new-bp-default'))){
            window.location.href = '/ctms/course/' + coursePk + '/bestpractise/' + response.data.new_best_practice + '/courselet/new';
          };
        })
        .fail( function(error) {
          alert('Something went wrong. Please refresh the page and try again.');
        });
      });
      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterClose: function( instance, slide ) {
          var steps = $('.get-started__step').length;
          var done = $('.get-started__step--done').length;
          var redirectTo = $('[data-redirect-to-after-done]').data('redirect-to-after-done');

          if(steps == done && redirectTo) {
            window.location.href = redirectTo;
          }
        },
        afterShow: function() {
          var iframe = $(".fancybox-iframe");
          var player = new Vimeo.Player(iframe);
          player.on('ended', function() {
            if ( document.fullscreen ) {
              document.exitFullscreen();
            }
            parent.$.fancybox.close();
          });
        }
      });
      // Open first unresolved step
      $('.get-started__step').not('.get-started__step--done').first().addClass('get-started__step--open').find('.get-started__step-toggle').html('Hide');;
    });
  </script>
{% endblock %}
