{% extends "ctms_base.html" %}

{% block title %}
  Create a Courselet
{% endblock %}

{% block content %}
  <div class="card">
    <header class="card__topbar card__topbar--with-description">
      <h1>Create a Courselet</h1>
      <p>
        Let’s give your courselet a name.
      </p>
    </header>

    <main class="card__content">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ form.title.auto_id }}">Courselet Name</label>
          {{ form.title }}
          {% if form.title.errors %}
            {{ form.title.errors }}
          {% endif %}
        <input type="submit" value="Create Courselet">
      </form>
    </main>
  </div>
{% endblock %}
