{% extends "ctms/ctms_base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

<!--

  object.addedBy
-->

{% block content %}

  <div class="card">
    <header class="card__topbar">
      <h1>{{ object.title }}</h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:course_view' pk=object.id %}" class="card__nav-active">Courselets</a>
        </li>

        <li>
          <a href="">Share</a>
        </li>

        <li>
          <a href="">Settings</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      <h2>
        <span>Courselets</span>
        <a href="{% url 'ctms:courslet_create' course_pk=object.id %}" class="button button--primary">Add courselet</a>
      </h2>

      <table>
        <thead>
          <tr>
            <th>Courselet</th>

            <th>Answers</th>
          </tr>
        </thead>

        <tbody>
          {% for clt in courslets %}
            <tr>
              <td>
                <a href="{% url 'ctms:courslet_view' course_pk=clt.course.id pk=clt.id %}">{{ clt.unit.title }}</a>
              </td>

              <td>
                TODO
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </div>
{% endblock %}
