{% extends "ctms_base.html" %}
{% load waffle_tags %}

{% block title %}
Courselets
{% endblock %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>{{ object.unit.title }}</h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:courslet_view' course_pk=object.course.id pk=object.id %}" class="card__nav-active">Threads</a>
        </li>
        {% if u_lessons %}
        <li>
          <a href="{% url 'ctms:courselet_preview' course_pk=object.course.id pk=object.id %}" target="_blank">Preview</a>
        </li>
        {% else %}
        <li>
          <a href="#">Preview</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'ctms:courselet_invite' pk=object.course.id courselet_pk=object.id %}" class="">Share</a>
        </li>

        <li>
          <a href="{% url 'ctms:courslet_settings' course_pk=object.course.id pk=object.id %}">Settings</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      {% if u_lessons %}
        <h2>
          <span>Threads</span>
          <a href="{% url 'ctms:unit_create' course_pk=course_pk courslet_pk=pk %}" class="button button--primary button--small">Add Thread</a>

          {% switch "add_unit_by_chat" %}
          <!-- <a href="{% url 'ctms:add_units_chat' course_pk=course_pk pk=pk %}" class="button button--small">Add Units by Chat</a> -->
          {% endswitch %}
        </h2>

        <table>
          <thead>
            <tr>
              <th>Thread Name</th>
              <th>Answers</th>
            </tr>
          </thead>

          <tbody>
            {% for u_lesson in u_lessons %}
              <tr>
                <td>
                  <a href="{% url 'ctms:unit_edit' course_pk=course_pk courslet_pk=pk pk=u_lesson.pk %}">
                    {{ u_lesson.lesson.title }}
                  </a>
                </td>

                <td>
                  <a href="{% url 'ctms:unit_view' course_pk=course_pk courslet_pk=pk pk=u_lesson.pk %}">
                    {{ u_lesson.responses_count }}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="card__empty-state">
          <h3>Add Threads</h3>

          <div class="onboarding-content">
            {% include 'ctms/includes/onboarding/threads.html' %}

            <a href="{% url 'ctms:unit_create' course_pk=course_pk courslet_pk=pk %}" class="button button--primary">Add Thread</a>
          </div>
        </div>
      {% endif %}
    </main>
  </div>
{% endblock %}

{% block js %}
<script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    // Add listeners once the DOM is ready
    $(function(){
      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterShow: function() {
          var iframe = $(".fancybox-iframe");
          var player = new Vimeo.Player(iframe);
          player.on('ended', function() {
            if ( document.fullscreen ) {
              document.exitFullscreen();
            }
            parent.$.fancybox.close();
          });
        }
      });
    });
  </script>
{% endblock %}
