{% extends "ctms_base.html" %}

{% block title %}
  Create Courselet
{% endblock %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>Create Courselet</h1>
    </header>

    <main class="card__content">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.title.label_tag }}
        <p>Your students will see this, so give your courselet a descriptive name.</p>
          {{ form.title }}
          {% if form.title.errors %}
            {% for error in form.title.erros%}
              {{ error }}
            {% endfor %}
          {% endif %}
        <input type="submit" value="Create Courselet">
      </form>
    </main>
  </div>
{% endblock %}
