{% extends "ctms_base.html" %}
{% load static %}

{% block title %}
    Best Practices: {{ courselet.unit.title }}
{% endblock %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>{{ courselet.unit.title }} </h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:courselet_best_practice' course_pk=course_pk courselet_pk=courselet_pk %}" class="card__nav-active">Best Practices</a>
        </li>

        <li>
          <a href="{% url 'ctms:courslet_view' course_pk=course_pk pk=courselet_pk %}">Threads</a>
        </li>

        {% if u_lessons %}
        <li>
          <a href="{% url 'ctms:courselet_preview' course_pk=course_pk pk=courselet_pk %}" target="_blank">Preview</a>
        </li>
        {% else %}
        <li>
          <a href="#">Preview</a>
        </li>
        {% endif %}

        <li>
          <a href="{% url 'ctms:courselet_invite' pk=course_pk courselet_pk=courselet_pk %}" class="">Share</a>
        </li>

        <li>
          <a href="{% url 'ctms:courslet_settings' course_pk=course_pk pk=courselet_pk %}">Settings</a>
        </li>
      </ul>
    </nav>


    <header class="get-started__intro">
      <div class="get-started__holder">
        <h1>Courselet Best Practices</h1>

        <p>
            Follow these best practices to make the most out of your courselet.
        </p>

      </div>
    </header>

    <div class="get-started__steps">

      {% for template in best_practices_templates %}
      <!-- view_introduction -->
        {% if template.slug == 'upload-practice-exam' %}
          {% include 'ctms/includes/best_practices/add_thread.html' %}
        {% else %}
          {% include 'ctms/includes/best_practices/shedule_courselet.html' %}
        {% endif %}
      {% endfor %}


    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    // Add listeners once the DOM is ready
    $(function(){

      // Get started accordion
      $('.get-started__step-toggle').on('click', function(e) {
        e.preventDefault();

        // Save a reference to the button
        var $button = $(e.currentTarget);

        // Find the parent step
        var $step = $button.closest('.get-started__step');

        viewBtnText = "View"
        if ( $step.data('bps-exists') == "True" ) {
          viewBtnText = "Do this again";
        }
        
        // Close if the step is open
        if($step.hasClass('get-started__step--open')) {
          $button.html(viewBtnText);
          $step.removeClass('get-started__step--open');

        // Otherwise open it
        } else {
          $button.html('Hide');
          $step.addClass('get-started__step--open');
        }
      })

      // Complete get started steps
      $('[data-complete-step]').on('click', function(e) {
        // Delay updates for 1 second (let e.g. video overlays animate in first)
        setTimeout(function() {

          // Hide open steps
          $('.get-started__step').removeClass('get-started__step--open');
          $('.get-started__step-toggle').html('View');

          // Find next incomplete step
          var $nextStep = $('.get-started__step').not('.get-started__step--done').first();

          // Open the next step if one exists
          $nextStep.addClass('get-started__step--open');
          $nextStep.find('.get-started__step-toggle').html('Hide');
        }, 1000)
      });

      $('.create-new-bp, .create-new-bp-default').on('click', function(e) {
        // Get the step name and element
        var bpPk = $(e.currentTarget).data('bpTemplatePk');
        var coursePk = $(e.currentTarget).data('coursePk');
        var courseletPk = $(e.currentTarget).data('courseletPk');
        var data = {};
        data['template_id'] = bpPk;
        data['course_id'] = coursePk;
        data['courselet_id'] = courseletPk;
        // Send an ajax request to save the update
        this.updateCartXhr = $.ajax({
          headers: {
            "X-CSRFToken": getCookie('csrftoken')
          },
          cache: false,
          context: this,
          data: data,
          dataType: 'json',
          method: 'POST',
          url: "{% url 'api:v0:bp-creation' %}"
        })
        .done( function(response) {
          if ($(e.currentTarget).is($('.create-new-bp'))){
            window.location.href = '/ctms/course/' + coursePk + '/courselet/' + courseletPk + '/bp/' + response.data.new_best_practice + '/calculation/';
          } else if
          ($(e.currentTarget).is($('.create-new-bp-default'))){
            window.location.href = $(e.currentTarget).attr('redirect');
          };
        })
        .fail( function(error) {
          alert('Something went wrong. Please refresh the page and try again.');
        });
      });
      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterClose: function( instance, slide ) {
          var steps = $('.get-started__step').length;
          var done = $('.get-started__step--done').length;
          var redirectTo = $('[data-redirect-to-after-done]').data('redirect-to-after-done');

          if(steps == done && redirectTo) {
            window.location.href = redirectTo;
          }
        },
        afterShow: function() {
          var iframe = $(".fancybox-iframe");
          var player = new Vimeo.Player(iframe);
          player.on('ended', function() {
            if ( document.fullscreen ) {
              document.exitFullscreen();
            }
            parent.$.fancybox.close();
          });
        }
      });
      // Open first unresolved step
      $('.get-started__step').not('.get-started__step--done').first().addClass('get-started__step--open').find('.get-started__step-toggle').html('Hide');;
    });
  </script>
{% endblock %}
