{% extends "ctms_base.html" %}

{% block title %}
  Create a Courselet
{% endblock %}

{% block content %}
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#id_graded_assessment_datetime" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });
    } );
    </script>
  </head>
 
  <div class="card">
    <header class="card__topbar card__topbar--with-description">
      <h1>Create a Courselet</h1>
    </header>

    <main class="card__content">
      <form class="form__holder" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input__item">
          <label for="{{ form.title.auto_id }}">
            Courselet Name
            <span>Let’s give your courselet a name. We strongly recommend giving your courselet a name that says exactly what it prepares your students for, e.g. "Practice Test for Midterm 1".</span>
          </label>
          {{ form.title }}
          {% if form.title.errors %}
            {{ form.title.errors }}
          {% endif %}
        </div>
        <div class="input__item">
          <label for="{{ form.exam_name.auto_id }}">
            Follow-Up Assessment Name
            <span>We strongly recommend that you follow-up your courselet with a graded assignment that assesses the skills taught in your courselet. Enter the name of that graded assessment here, e.g. "Midterm 1".</span>
          </label>
          {{ form.exam_name }}
          {% if form.exam_name.errors %}
            {{ form.exam_name.errors }}
          {% endif %}
        </div>
        <div class="input__item">
          <label for="{{ form.graded_assessment_datetime.auto_id }}">
            Follow-Up Assessment Date
            <span>We recommend requiring your students to complete your courselet 2-3 days before the follow-up graded assessment. Enter the date when you think the follow-up graded assessment will occur, e.g. the date for Midterm 1.</span>
          </label>
          {{ form.graded_assessment_datetime }}
          {% if form.graded_assessment_datetime.errors %}
            {{ form.graded_assessment_datetime.errors }}
          {% endif %}
        </div>
        <input type="submit" value="Create Courselet">
      </form>
    </main>
  </div>
{% endblock %}
