{% extends "ctms_base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}

  <div class="card">
    <header class="card__topbar">
      <h1>{{ object.title }}</h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:course_best_practice' pk=object.id %}">Best Practices</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_view' pk=object.id %}" class="card__nav-active">Courselets</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_settings' pk=object.id %}">Settings</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      {% if courslets %}
        <h2>
          <span>Courselets</span>
          <a href="{% url 'ctms:courslet_create' course_pk=object.id %}" class="button button--primary button--small">Create Courselet</a>
        </h2>

        <table>
          <thead>
            <tr>
              <th>Courselet</th>

              <th>Answers</th>
            </tr>
          </thead>

          <tbody>
            {% for clt in courslets %}
              <tr>
                <td>
                  <a href="{% url 'ctms:courslet_view' course_pk=clt.course.id pk=clt.id %}">{{ clt.unit.title }}</a>
                </td>

                <td>
                  {{ clt.get_responses.count }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="card__empty-state">
          <h3>Create a Courselet</h3>

          <div class="onboarding-content">
            {% include 'ctms/includes/onboarding/courselet.html' %}

            <a href="{% url 'ctms:courslet_create' course_pk=object.id %}" class="button button--primary">Create a Courselet</a>
          </div>
        </div>
      {% endif %}
    </main>
  </div>
{% endblock %}

{% block js %}
<script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    // Add listeners once the DOM is ready
    $(function(){
      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterShow: function() {
          var iframe = $(".fancybox-iframe");
          var player = new Vimeo.Player(iframe);
          player.on('ended', function() {
            if ( document.fullscreen ) {
              document.exitFullscreen();
            }
            parent.$.fancybox.close();
          });
        }
      });
    });
  </script>
{% endblock %}
