{% extends "ctms_base.html" %}
{% load waffle_tags %}

{% block title %}
    Settings:: {{ courslet.unit.title }}
{% endblock %}


{% block content %}
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#id_follow_up_assessment_date" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });
      $( "#id_courselet_deadline" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });
    } );
    </script>
  </head>
  <div class="page__messages">

        <!-- TODO: Add notifications here -->

        <!--
          <div class="alert alert-success">
            Succcess
          </div>

          <div class="alert alert-info">
            Info
          </div>

          <div class="alert alert-warning">
            Warning
          </div>

          <div class="alert alert-danger">
            Danger
          </div>
        -->
      </div>


  <div class="card">
    <header class="card__topbar">
      <h1>{{ courslet.unit.title }}</h1>
    </header>

    <nav class="card__nav">
      <ul>
        {% switch "ctms_bp_courseletes_enabled" %}
        <li>
          <a href="{% url 'ctms:courselet_best_practice' course_pk=course_pk courselet_pk=pk %}">Best Practices</a>
        </li>
        {% endswitch %}
        <li>
          <a href="{% url 'ctms:courslet_view' course_pk=course_pk pk=pk %}">Threads</a>
        </li>

        {% if u_lessons %}
        <li>
          <a href="{% url 'ctms:courselet_preview' course_pk=course_pk pk=pk %}" target="_blank">Preview</a>
        </li>
        {% else %}
        <li>
          <a href="#">Preview</a>
        </li>
        {% endif %}

        <li>
          <a href="{% url 'ctms:courselet_invite' pk=course_pk courselet_pk=pk %}" class="">Share</a>
        </li>

        <li>
          <a href="{% url 'ctms:courslet_settings' course_pk=course_pk pk=pk %}" class="card__nav-active">Settings</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      <div class="form-group form-wrapper">
        <label class="card__title">Publish Settings</label>
        <p>
          {% if courslet.releaseTime %}
            Your courselet is published. Click on the button below if you want to unpublish it.
          {% else %}
            Your courselet has not been published yet. Click on the button below to publish it.
          {% endif %}
        </p>

        <div class="form-group__action">
          {% include 'ctms/includes/publish-unpublish-button.html' with courselet_pk=pk course_pk=course_pk courselet=courslet %}
        </div>
      </div>

      <form class="form_general form-wrapper" action="{% url 'api:v0:unit_update' pk=courslet.unit.id%}">
        {% csrf_token %}
        <div class="form-group form-group--not-first">
          <h1>General Settings</h1>
          <label for="{{ form.title.auto_id }}" class="form-label--name">Courselet Name</label>
          <p>You can change the name of your courselet here.</p>
          {{ form.title }}


          <label for="{{ form.is_show_will_learn.auto_id }}" class="form-checkbox--label">Concepts</label>
          <div>
            <span class="form-checkbox">{{ form.is_show_will_learn }}</span>
            Show Concepts in the Chat start page?
          </div>

        </div>
        <input type="submit" value="Update General Settings">
      </form>

      <form class="form_schedul form-wrapper" action="{% url 'api:v0:unit_update' pk=courslet.unit.id%}">
        {% csrf_token %}
        <div class="form-group form-group--not-first" id="schedule-section">
          <h1>Scheduling Settings</h1>
          <label for="{{ form.exam_name.auto_id }}">Follow-Up Assessment Name</label>
            <p class="form-field--description">Store as graded assessment name</p>
            {{ form.exam_name }}
            {% if form.exam_name.errors %}
              {{ form.exam_name.errors }}
            {% endif %}
          <label for="{{ form.follow_up_assessment_date.auto_id }}">Follow-Up Assessment Date</label>
          <p class="form-field--description">Exact time the paired (graded) assessment is due</p>
            {{ form.follow_up_assessment_date }}
            {% if form.follow_up_assessment_date.errors %}
              {{ form.follow_up_assessment_date.errors }}
            {% endif %}
            <label for="{{ form.error_resolution_days.auto_id }}">Courselet Resolution days</label>
            <p class="form-field--description">Number of days students are given to complete the courselet</p>
            {{ form.error_resolution_days }}
            {% if form.error_resolution_days.errors %}
            {{ form.error_resolution_days.errors }}
            {% endif %}
            <label for="{{ form.follow_up_assessment_grade.auto_id }}">Follow-Up Assessment Grade %</label>
            <p class="form-field--description">Follow-Up Assessment Grade</p>
              {{ form.follow_up_assessment_grade }}
              {% if form.follow_up_assessment_grade.errors %}
                {{ form.follow_up_assessment_grade.errors }}
              {% endif %}
            <label for="{{ form.error_resolution_days.auto_id }}">Courselet Deadline</label>
            <p class="form-field--description">Days between courselet deadline and paired (graded) assessment</p>
            {{ form.courselet_deadline }}
            {% if form.courselet_deadline.errors %}
            {{ form.courselet_deadline.errors }}
            {% endif %}
            <label for="{{ form.courselet_days.auto_id }}">Courselet duration</label>
            <p class="form-field--description">Number of days students are given to complete the courselet</p>
            {{ form.courselet_days }}
            {% if form.courselet_days.errors %}
            {{ form.courselet_days.errors }}
            {% endif %}
            <label for="{{ form.courselet_completion_credit.auto_id }}">Courselet Participation Credit</label>
            <p class="form-field--description">Total grade % students can earn by completing all courselets on time</p>
              {{ form.courselet_completion_credit }}
              {% if form.courselet_completion_credit.errors %}
              {{ form.courselet_completion_credit.errors }}
              {% endif %}
        </div>
        <!-- TODO: Replace label, description and input with real form
          {{ form.as_p }}
        -->

        <input type="submit" value="Update Scheduling Settings" class="submit__settings">
      </form>
      <div class="form-group form-group--last">
        <form action="{% url 'ctms:courslet_delete' course_pk=course_pk pk=pk %}" class="card__delete" method="post">
          {% csrf_token %}
          <label class="card__title">Delete Courselet</label>
          <p>Click on the button below if you want to delete this courselet.</p>
          <input type="submit" value="Remove Courselet" class="button button--delete" data-confirm-text="Do you really want to remove this courselet?">
        </form>
      </div>

    </main>
  </div>
  </div>
  </div>
<style>
  input.button-primary {
    margin-top: -48px !important;
    margin-right: 160px !important;
  }
</style>
{% endblock %}

{% block js %}
<script>
$formGeneral = $('.form_general');
$formSchedul = $('.form_schedul');

$messageContainer = $('.page__messages');

$formGeneral.on('submit', function(e){
  e.preventDefault();
  var formData = $formGeneral.serialize();

  $.ajax({
    type: 'PUT',
    url: $formGeneral.attr('action'),
    data: formData,
    headers: {
              "X-CSRFToken": '{{ csrf_token }}'
            },
    dataType: 'json'
  }).done(function(data){
    $messageContainer.html('<div class="alert alert-success"><div class="container"> Courselet successfully updated </div></div>');
    setTimeout(() => $messageContainer.html(''), 4000);
  }).fail(function(data){
    $messageContainer.html('<div class="alert alert-danger"><div class="container">'+data.error+'</div></div>');
    setTimeout(() => $messageContainer.html(''), 4000);
  });
})

$formSchedul.on('submit', function(e){
  e.preventDefault();
  var formData = $formSchedul.serialize();

  $.ajax({
    type: 'PUT',
    url: $formSchedul.attr('action'),
    data: formData,
    headers: {
              "X-CSRFToken": '{{ csrf_token }}'
            },
    dataType: 'json'
  }).done(function(data){
    $messageContainer.html('<div class="alert alert-success"><div class="container"> Courselet successfully updated </div></div>');
    setTimeout(() => $messageContainer.html(''), 4000);
  }).fail(function(data){
    $messageContainer.html('<div class="alert alert-danger"><div class="container">'+data.error+'</div></div>');
    setTimeout(() => $messageContainer.html(''), 4000);
  });
  $('html, body').animate({
      scrollTop: $(".page__messages").offset().top-200
  }, 600);
})
</script>
{% endblock %}
