{% extends "ctms_base.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Courselets{% endblock %}</title>
    <meta name="description" content="{% block description %}Write your own exercises using our fast, effective Open Response Concept Testing methodology.{% endblock %}">

    {# render_block "css" #}
    {% include "google-analytics.html" %}
  </head>

  <body>
    {% include "ctms/includes/sidebar.html" %}

    {% block content %}{% endblock %}

    {# render_block "js" #}

    <script language="JavaScript">
        $(".go-on-select").change(function() {
            document.location.href = $(this).val();
        })
    </script>
  </body>
</html>
