{% extends "ctms_base.html" %}

{% block title %}
  Share {{ object.title }}
{% endblock %}

{% block content %}

  <div class="card">
    <header class="card__topbar">
      <!-- TODO: Add course name -->
      <h1>{{ course.title }}</h1>
    </header>

    <!-- TODO: Add real links -->
    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:course_view' pk=course.id %}">Courselets</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_invite' pk=course.id %}" class="card__nav-active">Share</a>
        </li>

        <li>
          <a href="{% url 'ctms:course_settings' pk=course.id %}">Settings</a>
        </li>
      </ul>
    </nav>

    <section class="card__sub">
      <header class="card__topbar">
        <h2>Share</h2>
      </header>

      <!-- TODO: Add real links -->
      <nav class="card__nav">
        <ul>
          <li>
            <a href="{% url 'ctms:course_invite_student' pk=course.id %}" class="{% block invite_student_tab_cls %}{% endblock %}">
              Invite Students
            </a>
          </li>

          <li>
            <a href="{% url 'ctms:course_invite' pk=course.id %}" class="{% block invite_tester_tab_cls %}{% endblock %}">
              Invite Testers
            </a>
          </li>
        </ul>
      </nav>
    </section>

    <main class="card__content">
      {% block how_to %}
      <p>TODO: Add a description here.</p>
      {% endblock %}
      {% block invitation_content %}

          {% if courselets_email %}
              <div class="invite-courselets">
                <input type="button" value="Invite an Expert" class="invite__submit__form__" id="send_to_courselets" data-courselets-email="{{ courselets_email }}">
              </div>
          {% endif %}
          <form class="form" action="{% url 'ctms:course_invite' pk=course.id courslet_pk=courselet.id %}" method="POST">
            {% csrf_token %}

            <div class="input-with-button">
               {% block invite_form %}
                 {% for field in  invite_tester_form %}
                   {{ field }}
                 {% endfor %}

              <input type="submit" value="Invite"
                     class="invite__submit__form__"
                     data-success-msg="Invitation sent successfully. "
                     data-fail-msg="Invitation could not be sent now. Try again later.">
              {% endblock %}
            </div>

          </form>
      {% endblock %}

      {% block invites_list %}
      {% with 'Tester' as list_name %}
        {% with invites.testers as objects %}
          {% include 'ctms/includes/invites_list.html' %}
        {% endwith %}
      {% endwith %}
      {% endblock %}
      <!-- Publish/Unpublish -->
      <div>
          <form method="post" action="{% url 'ctms:courslet_settings' course_pk=course.id pk=courselet.id %}" class="publish_unpublish">
            {% csrf_token %}
            <input type="hidden" name="task" value="{% if courselet.releaseTime %}unrelease{% else %}release{% endif %}">
            <input type="submit"
                   class="button button--primary"
                   value="{% if courselet.releaseTime %}Unpublish{% else %}Publish{% endif %}"
            >
          </form>

      </div>
    </main>

    <!--<main class="card__content">-->
      <!--<p>How to invite students... Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit.</p>-->

      <!--<form class="form" action="{% url 'ctms:course_invite' pk=course.id %}" method="POST">-->
        <!--{% csrf_token %}-->

        <!--<div class="input-with-button">-->
          <!--{% for field in  invite_student_form %}-->
            <!--{{ field }}-->
          <!--{% endfor %}-->
          <!--<input type="submit" value="Invite">-->
        <!--</div>-->

      <!--</form>-->

      <!--{% with 'Student' as list_name %}-->
        <!--{% with invites.students as objects %}-->
          <!--{% include 'ctms/includes/invites_list.html' %}-->
        <!--{% endwith %}-->
      <!--{% endwith %}-->
    <!--</main>-->
  </div>
{% endblock %}

<!-- Invite Students
<h5>Invite student</h5>
<form class="form" action="." method="POST">
  {{ invite_student_form.as_p }}
  {% csrf_token %}
  <input type="submit" value="Send invite">
</form>

{% with 'Students' as list_name %}
{% with invites.students as objects %}
{% include 'ctms/includes/invites_list.html' %}
{% endwith %}
{% endwith %}
-->
