{% extends "ctms/invite_list.html" %}
{% load waffle_tags %}

{% block title %}
  Share {{ object.title }}
{% endblock %}

{% block invite_tester_tab_cls %}{% endblock %}

{% block invite_student_tab_cls %}card__nav-active{% endblock %}

{% block how_to %}
  {% switch "ctms_invite_students" %}
      {% if enroll_code %}
          <p>Please copy the URL below to invite students to join the course.</p>
      {% endif %}
  {% else %}
    <p>Coming soon...</p>
  {% endswitch %}
{% endblock %}

{% block invitation_content %}
  {% switch "ctms_invite_students" %}
    {% if enroll_code %}
      <div class="input-with-button">
        <input
          id="enroll_code"
          type="text"
          maxlength="254"
          value="{{ domain }}/chat/enrollcode/{{ enroll_code }}"
          readonly="readonly"
          >
        <button id="copy_enroll_code" class="btn">Copy</button>
      </div>
    {% else %}
      <p>Please create a courselet for an enroll code to be generated.</p>
    {% endif %}

  {% endswitch %}
{% endblock %}

{% block invites_list %}
    {% switch "ctms_invite_students" %}
        <div class="input-with-button">
            <label for="lti_url">Copy course URL</label>
                <p>Use this URL to launch course through LTI</p>
                <input readonly class="textinput textInput form-control"
                       id="id_title" maxlength="200"
                       name="lti_url" type="text"
                       value="{{ domain }}/lti{% url 'ct:study_unit' courselet.course.id courselet.id %}">

        </div>
    {% endswitch %}

    <!-- Publish/Unpublish -->
      <div>
          {% include 'ctms/includes/publish-unpublish-button.html' with courselet_pk=courselet.id course_pk=courselet.course.id %}

      </div>
{% endblock %}
