{% extends "ctms_base.html" %}
{% load staticfiles %}

{% block title %}
{% if course_form %}Create new course
{% else %}
  {% if my_courses %}
  My courses
  {% elif shared_courses %}
  Shared courses
  {% else %}
  Courselets
  {% endif %}
{% endif %}
{% endblock %}

{% block content %}
  {% if form %}
    {% include 'ctms/includes/create_course.html' %}
  {% else %}
    {% with 'My courses' as list_name %}
      {% with my_courses as courses %}
        {% include 'ctms/includes/courses_list.html' %}
      {% endwith %}
    {% endwith %}
{% endif %}
{% endblock %}

{% block js %}
<script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    // Add listeners once the DOM is ready
    $(function(){
      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterShow: function() {
          var iframe = $(".fancybox-iframe");
          var player = new Vimeo.Player(iframe);
          player.on('ended', function() {
            if ( document.fullscreen ) {
              document.exitFullscreen();
            }
            parent.$.fancybox.close();
          });
        }
      });
    });
  </script>
{% endblock %}
