{% extends "ctms_base.html" %}
{% load staticfiles %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
  <div class="card">
    <header class="get-started__intro">
      <h1>Get Started</h1>

      <p>
        We’re so happy you’ve decided to try out Courselets, Chris.
        This guide will help you get started, and you can return to it at any time by clicking on “Get Started” in your sidebar.
        If you have any questions or feedback, please send us an email at <a href="mailto:info@courselets.org">info@courselets.org</a>.
      </p>

      <div data-progress="{{ onboarding_percentage_of_done | floatformat:"0" }}" class="get-started__progress-circle">
        <div>{{ onboarding_percentage_of_done | floatformat:"0" }}<span>%</span></div>
      </div>
    </header>

    <div class="get-started__steps">

      <div class="get-started__step get-started__step--open" data-step-id="view_introduction">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>1. What is Courselets and how much does it boost learning outcomes?</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">Hide</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/introduction.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="instructor_intro">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>2. Test a courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/test.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="create_course">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>3. Create your first course</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/course.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="create_courselet">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>4. Create a courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/courselet.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="create_thread">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>5. Create a thread</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/threads.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="preview_courselet">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>6. Preview your courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/preview.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="next_steps" data-redirect-after-done="TODO Add redirect url here, only if some steps are incomplete">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>7. Next steps and help center</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/next.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="next_steps" data-redirect-after-done="TODO Add redirect url here, only if some steps are incomplete">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>8. Share your courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/share.html' %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    // Add listeners once DOM is ready
    $(function(){

      // Create progress circle
      var progressCircle = new ProgressBar.Circle('.get-started__progress-circle', {
        strokeWidth: 2,
        trailColor: '#DDE2E6',
        color: '#43B02A'
      });

      // Animate progress circle
      var progress = parseInt( $('.get-started__progress-circle').data('progress') ) / 100;
      progressCircle.animate(progress);

      // Get started accordion
      $('.get-started__step-toggle').on('click', function(e) {
        e.preventDefault();

        // Save a reference to the button
        var $button = $(e.currentTarget);

        // Find the parent step
        var $step = $button.closest('.get-started__step');

        // Close if the step is open
        if($step.hasClass('get-started__step--open')) {
          $button.html('View');
          $step.removeClass('get-started__step--open');

        // Otherwise open it
        } else {
          $button.html('Hide');
          $step.addClass('get-started__step--open');
        }
      })

      // Complete get started step
      $('[data-complete-step]').on('click', function(e) {
        // Get the step name and element
        var stepName = $(e.currentTarget).data('complete-step');
        var $step = $('.get-started__step[data-step-id='+ stepName +']')
        var data = {};
        data[stepName] = true;

        // Send an ajax request to save the update
        this.updateCartXhr = $.ajax({
          headers: {
            "X-CSRFToken": getCookie('csrftoken')
          },
          cache: false,
          context: this,
          data: data,
          dataType: 'json',
          method: 'PUT',
          url: '/api/v0/onboarding-status/'
        })
        .done( function(response) { })
        .fail( function(error) {
          alert('Something went wrong. Please refresh the page and try again.');
        });

        // Update the status checkbox
        $step.addClass('get-started__step--done');

        // Open the next step after 1 second (let e.g. video overlays animate in first)
        setTimeout(function() {
          // Hide open steps
          $('.get-started__step').removeClass('get-started__step--open');
          $('.get-started__step-toggle').html('View');

          // Find next incomplete step
          var $nextStep = $('.get-started__step').not('.get-started__step--done').first();

          // Open the next step if one exists
          $nextStep.addClass('get-started__step--open');
          $nextStep.find('.get-started__step-toggle').html('Hide');
        }, 1000)
      });
    });
  </script>
{% endblock %}
