{% extends "ctms_base.html" %}
{% load staticfiles %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
  <div class="card">
    <header class="get-started__intro">
      <h1>Get Started</h1>

      <p>
        We’re so happy you’ve decided to try out Courselets, Chris.
        This guide will help you get started, and you can return to it at any time by clicking on “Get Started” in your sidebar.
        If you have any questions or feedback, please send us an email at <a href="mailto:info@courselets.org">info@courselets.org</a>.
      </p>
    </header>

    <div class="get-started__steps">
      <div class="get-started__step get-started__step--open" data-step-id="1">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>1. What is Courselets and how much does it boost learning outcomes?</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">Hide</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/introduction.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="2">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>2. Test a courselet TODO</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/test.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="3">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>3. Create your first course</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/course.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="4">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>4. Create a courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/courselet.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="5">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>5. Create a thread</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/threads.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="6">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>6. Preview your courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/preview.html' %}
        </div>
      </div>

      <div class="get-started__step" data-step-id="7">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>7. Next steps, sharing and help center</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall">View</a>
        </div>

        <div class="get-started__step-content">
          {% include 'ctms/includes/onboarding/next.html' %}
        </div>
      </div>
    </div>
  </div>


<!-- <a href="{% if users_course.id %}{% url 'ctms:courselet_invite' pk=users_course.id courselet_pk=users_courselet.id %}{% else %}#{% endif %}">View</a> -->
{% endblock %}
