{% extends "ctms_base.html" %}
{% load staticfiles %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
  <div class="card">
    <header class="get-started__intro">
      <h1>Get Started</h1>

      <p>
        We’re so happy you’ve decided to test Courselets, {{ user.first_name }}.
        This guide will help you get started, and you can return to it at any time by clicking on “Get Started” in your sidebar.
        If you have any questions or feedback, please open the chat in your lower right corner and send us a message.
      </p>

      <div data-progress="{{ onboarding_percentage_of_done | floatformat:"0" }}" class="get-started__progress-circle">
        <div>
          <span class="get-started__progress-text">{{ onboarding_percentage_of_done | floatformat:"0" }}</span><span class="get-started__progress-sign">%</span>
        </div>
      </div>

      <span class="progress-line progress-line--over-white">
        <span style="width: calc({{ onboarding_percentage_of_done | floatformat:"0" }}% + 2px);"></span>
      </span>
    </header>

    <div class="get-started__steps">


      <!-- view_introduction -->
      <div class="get-started__step{% if view_introduction.done %} get-started__step--done{% endif %}" data-step-id="view_introduction">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>1.Watch our introduction to Courselets</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">Hide</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            <p>
              The product of seven years of classroom studies and peer-reviewed research,
              Courselets has been shown to produce big improvements in exam scores, student attrition,
              and student engagement – with its most powerful boosts for the bottom half of the class.
              Learn more about Courselets in the short video below.
            </p>

            <a data-fancybox data-ratio="1.333333333333" data-width="600" data-height="450" data-complete-step="view_introduction" href="https://vimeo.com/299782628" class="video-link">
              <div class="video-link__image"></div>
              <h3>What is Courselets?</h3>
              <p>1:17</p>
            </a>
          </div>
        </div>
      </div>


      <!-- test_courselet -->
      <div class="get-started__step{% if test_courselet.done %} get-started__step--done{% endif %}" data-step-id="test_courselet">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>2. Test a courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            <p>
              Is there an easy way for your class to get the best boost from Courselets?
              Try this 3 minute courselet to assess this for yourself, and experience directly
              how Courselets will actually work for your students.
            </p>

            <p>
              The courselet will open in a new tab. Simply close the tab when you’re done to return to this page.
            </p>

            <a data-complete-step="test_courselet" href="{{ enroll_url }}" class="button button--primary" target="_blank">
              Test a Courselet
            </a>
          </div>
        </div>
      </div>


      <!-- create_course -->
      <div class="get-started__step{% if create_course.done %} get-started__step--done{% endif %}" data-step-id="create_course">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>3. Create your first course</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            {% include 'ctms/includes/onboarding/course.html' %}

            <a href="{% url 'ctms:create_course' %}" class="button button--primary">Create a Course</a>
          </div>
        </div>
      </div>

      <!-- create_courselet -->
      <div class="get-started__step{% if create_courselet.done %} get-started__step--done{% endif %}" data-step-id="create_courselet">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>4. Create a courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onbarding-content">
            <div class="onboarding-content">
              {% include 'ctms/includes/onboarding/courselet.html' %}

              {% if users_course.id %}
                <a href="{% url 'ctms:courslet_create' course_pk=users_course.id %}" class="button button--primary">Create a Courselet</a>
              {% else %}
                <div class="alert alert-warning">
                  You need to create a course before you can create a courselet.
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      <!-- create_thread -->
      <div class="get-started__step{% if create_thread.done %} get-started__step--done{% endif %}" data-step-id="create_thread">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>5. Add a thread</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            {% include 'ctms/includes/onboarding/threads.html' %}

            {% if users_course.id and users_courselet.id %}
                <a href="{% url 'ctms:unit_create' course_pk=users_course.id courslet_pk=users_courselet.id %}" class="button button--primary">Add a Thread</a>
            {% else %}
                <div class="alert alert-warning">
                  You need to create a courselet before you can add a thread.
                </div>
            {% endif %}
          </div>
        </div>
      </div>


      <!-- preview_courselet -->
      <div id="preview" class="get-started__step{% if preview_courselet.done %} get-started__step--done{% endif %}" data-step-id="preview_courselet">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>6. Preview your courselet</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            <p>
              You’ve created your first thread. Nice! Let’s see what your courselet will look
              like for your students by clicking on the preview button below.
            </p>

            <p>
              The preview will open in a new tab, and you can simply close it when you’re done. You can click on
              “Preview” in your sidebar at any time to test your courselet again.
            </p>

            {% if users_course.id and users_courselet.id %}
                <a data-complete-step="preview_courselet" href="{% url 'ctms:courselet_preview' course_pk=users_course.id pk=users_courselet.id %}" class="button button--primary" target="_blank">
                  Preview {{ users_courselet.title }}
                </a>
            {% else %}
                <div class="alert alert-warning">
                  You need to add a thread before you preview your courselet.
                </div>
            {% endif %}
          </div>
        </div>
      </div>


      <!-- next_step -->
      <div class="get-started__step{% if next_steps.done %} get-started__step--done{% endif %}" data-step-id="next_steps"
           data-redirect-to-after-done="{% if users_course.id and users_courselet.id %}{% url 'ctms:courslet_view' course_pk=users_course.id pk=users_courselet.id %}?message=1{% else %}#{% endif %}">
        <div class="get-started__step-header">
          <div class="get-started__step-status"></div>
          <h2>7. Learn more about your next steps</h2>

          <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">View</a>
        </div>

        <div class="get-started__step-content">
          <div class="onboarding-content">
            <p>
              Well done! You’ve created and tested your first courselet. Watch the video below to
              complete this tutorial, get some tips, and learn about sharing your courselets.
              We'll also show you how to get help when you need it.
            </p>

            <a data-complete-step="next_steps" data-fancybox data-width="800" data-height="450" href="https://vimeo.com/300625888" class="video-link">
              <div class="video-link__image"></div>
              <h3>Next steps and Help Center</h3>
              <p>1:18</p>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    // Add listeners once the DOM is ready
    $(function(){

      // Create the progress circle
      var progressCircle = new ProgressBar.Circle('.get-started__progress-circle', {
        strokeWidth: 2,
        trailColor: '#DDE2E6',
        color: '#43B02A'
      });

      // Animate progress circle
      var progress = parseInt( $('.get-started__progress-circle').data('progress') ) / 100;
      progressCircle.animate(progress);

      // Get started accordion
      $('.get-started__step-toggle').on('click', function(e) {
        e.preventDefault();

        // Save a reference to the button
        var $button = $(e.currentTarget);

        // Find the parent step
        var $step = $button.closest('.get-started__step');

        // Close if the step is open
        if($step.hasClass('get-started__step--open')) {
          $button.html('View');
          $step.removeClass('get-started__step--open');

        // Otherwise open it
        } else {
          $button.html('Hide');
          $step.addClass('get-started__step--open');
        }
      })

      // Complete get started steps
      $('[data-complete-step]').on('click', function(e) {
        // Get the step name and element
        var stepName = $(e.currentTarget).data('complete-step');
        var $step = $('.get-started__step[data-step-id='+ stepName +']')
        var data = {};
        data[stepName] = true;

        // Send an ajax request to save the update
        this.updateCartXhr = $.ajax({
          headers: {
            "X-CSRFToken": getCookie('csrftoken')
          },
          cache: false,
          context: this,
          data: data,
          dataType: 'json',
          method: 'PUT',
          url: '/api/v0/onboarding-status/'
        })
        .done( function(response) { })
        .fail( function(error) {
          alert('Something went wrong. Please refresh the page and try again.');
        });

        // Update the status checkbox
        $step.addClass('get-started__step--done');

        // Delay updates for 1 second (let e.g. video overlays animate in first)
        setTimeout(function() {
          // Update the progress bars
          var newProgress = $('.get-started__step--done').length / $('.get-started__step').length;
          var newProgressPercentage = Math.floor(newProgress * 100);
          progressCircle.set(newProgress)
          $('.get-started__progress-text').html(newProgressPercentage)
          $('.progress-line span').css({width: 'calc('+ newProgressPercentage+'% + 2px)'})

          // Hide open steps
          $('.get-started__step').removeClass('get-started__step--open');
          $('.get-started__step-toggle').html('View');

          // Find next incomplete step
          var $nextStep = $('.get-started__step').not('.get-started__step--done').first();

          // Open the next step if one exists
          $nextStep.addClass('get-started__step--open');
          $nextStep.find('.get-started__step-toggle').html('Hide');
        }, 1000)
      });

      // Redirect when the user closes the final video
      $("[data-fancybox]").fancybox({
        afterClose: function( instance, slide ) {
          var steps = $('.get-started__step').length
          var done = $('.get-started__step--done').length;
          var redirectTo = $('[data-redirect-to-after-done]').data('redirect-to-after-done');

          if(steps == done) {
            window.location.href = redirectTo;
          }
        }
      });
      // Open first unresolved step
      $('.get-started__step').not('.get-started__step--done').first().addClass('get-started__step--open');
    });
  </script>
{% endblock %}
