{% extends 'ctms_base.html' %}
{% load staticfiles ct_extras %}

{% block content %}
<div class="card">
  <header class="card__topbar">
    <h1>{{ object.unitLesson.lesson.title }}</h1>
  </header>

  <nav class="card__nav">
    <ul>
      <li>
        <a href="{% url 'ctms:unit_edit' course_pk=course_pk courselet_pk=courselet_pk pk=unit_pk %}">Edit</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_view' course_pk=course_pk courselet_pk=courselet_pk pk=unit_pk %}" class="card__nav-active">Answers</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_settings' course_pk=course_pk courselet_pk=courselet_pk pk=unit_pk %}">Settings</a>
      </li>
    </ul>
  </nav>

  <main class="card__content">
    <div class="answer">
      <div class="answer__back">
        <a href="{% url 'ctms:unit_view' course_pk=course_pk courselet_pk=courselet_pk pk=unit_pk %}">&larr; All answers</a>
      </div>

      <div class="user-info">
        <img src="{% if object.author.instructor.icon_url %}{{ object.author.instructor.icon_url }}{% else %}{% static "img/student/avatar-student.jpg" %}{% endif %}" alt="{{ object.author|display_full_username }}" class="avatar">
        <h3>{{ object.author|display_full_username }}</h3>
        <p>{{ object.atime|date }}</p>
      </div>

      <div class="answer__meta">
        <b>Status:</b> {{ object.get_status_display }}
      </div>

      <div class="answer__answer">
        <p>{{ object.text }}</p>
        {% if object.lesson.sub_kind == 'canvas' or object.parent.sub_kind == 'canvas' %}
          {% if object.lesson.attachment %}
            <div class="draw-svg-container" disabled="disabled"
              style="background-image: url({{ object.lesson.attachment.url }})">
              <img src="{{ object.attachment.url }}">
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock %}
