{% extends "ctms_base.html" %}
{% load dictionary_extras %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>Courses</h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:my_courses' %}">My Courses</a>
        </li>

        <li>
          <a href="{% url 'ctms:shared_courses' %}" class="card__nav-active">Shared with Me</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      <h2>
        <span>Shared Courses</span>
      </h2>
      {% if shared_courses %}
        <table>
          <thead >
            <th>Course</th>
            <th>Author</th>
          </thead>

          <tbody>
            {% for sh in shared_courses %}
              <tr>
                <td>
                    <a class="invite-link" href="#" target="_blank">
                      {{ shared_courses|get:sh|get:'title' }}
                    </a>
                  <form method="{{ shared_courses|get:sh|get:'method' }}"
                        action="{{ shared_courses|get:sh|get:'link' }}" class="hidden">
                    {% csrf_token %}
                    <input type="hidden" name="course_pk" value="{{ shared_courses|get:sh|get:'course_pk' }}">
                  </form>
                </td>
                <td>{{ shared_courses|get:sh|get:'instructor' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No one has shared courses with you yet.</p>
      {% endif %}
    </main>
  </div>
{% comment %}
<!-- # TODO need to discuss -->
<!-- {% if instructor_role_courses %}
<h4>Has instructor role in these courses:</h4>
  <table class="table table-striped">
    <thead >
      <th>
        User who shared
      </th>
      <th>
        Course name
      </th>
      <th>
        link
      </th>

    </thead>
    <tbody>
    {% for course in instructor_role_courses %}
    <tr>
      <td>
        {{ course.addedBy }}
      </td>
      <td>
        {{ course.title }}
      </td>
      <td>
        <a href="{% url 'lms:course_view' course_id=course.id %}">open</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %} -->
{% endcomment %}
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(() => {
      $('.invite-link').click((event) => {
        event.preventDefault();
        $(event.currentTarget).next('form').submit();
      })
    });
  </script>
{% endblock %}
