{% extends "ctms/ctms_base.html" %}

{% block content %}
  <div class="card">
    <header class="card__topbar">
      <h1>Courses</h1>
    </header>

    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:my_courses' %}">My Courses</a>
        </li>

        <li>
          <a href="{% url 'ctms:shared_courses' %}" class="card__nav-active">Shared with Me</a>
        </li>
      </ul>
    </nav>

    <main class="card__content">
      <table class="table table-striped">
        <thead >
          <th>Course</th>
          <th>Author</th>
        </thead>

        <tbody>
          {% for sh in shared_courses %}
            <tr>
              <td><a href="{% url 'lms:course_view' course_id=sh.course.id %}">{{ sh.course.title }}</a></td>
              <td>{{ sh.from_user }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </div>
{% endblock %}
