{% extends 'ctms_base.html' %}

{% block title %}
Courselet
{% endblock %}

{% block content %}
<div class="card">
  <header class="card__topbar">
    <h1>{{ unit.lesson.title }}</h1>
  </header>

  <!-- TODO: We don't need this if when new and edit are separate views -->
  {% if pk %}
    <nav class="card__nav">
      <ul>
        <li>
          <a href="{% url 'ctms:unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %}" class="card__nav-active">Edit</a>
        </li>

        <li>
          <a href="{% url 'ctms:unit_view' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Answers</a>
        </li>

        <li>
          <a href="{% url 'ctms:unit_settings' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Settings</a>
        </li>
      </ul>
    </nav>
  {% endif %}

  <main class="card__content">
    <form action="{% url 'ctms:unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %}"
          method="POST" enctype="multipart/form-data" id="unitEditForm">
      <!--TODO: {# post data and redirect to {% url 'ctms:add_unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %} #}-->

      {% csrf_token %}

      {{ errors_formset.management_form }}

        <!-- Name -->
        <div class="form-group">
          <label for="{{ form.title.auto_id }}">Thread Name</label>

          <div class="expandable expandable--form-description">
            <p>
              Choose a name that's short and distinct. <a class="expandable__toggle" href="#">Read more</a>
            </p>

            <div class="expandable__content">
              <p>
                Choose a name that's short – a few words – and distinct – that helps students easily recognize this question within the list shown in the sidebar. For example, if your courselet presented questions about probability, and this question was the only one that featured trains (as an example), you could name it something like "Two Trains". Don't try to make the name a summary of what the question's asking -- that will be too long.
              </p>
            </div>
          </div>

          {{ form.title }}
          {% if form.title.errors %}
            {{ form.title.errors }}
          {% endif %}
          <!-- <input type="text"> -->
        </div>



        <!-- Unit type -->
        <div class="form-group">
          <label for="{{ form.unit_type.auto_id }}">Thread Type</label>

          <p>{{ form.unit_type.help_text }}</p>

          <div class="radio-list">
            {{ form.unit_type }}
          </div>
          {% if form.unit_type.errors %}
            {{ form.unit_type.errors }}
          {% endif %}
        </div>



        <!-- Introduction -->
        <div class="form-group form-group--introduction">
          <label for="{{ form.text.auto_id }}">Introduction</label>

          <p>
            Write your introduction here. You can use <a href="https://intercom.help/courselets/getting-started/formatting-basics-with-restructuredtext" target="_blank">ReStructuredText</a> to format your text.
          </p>
        </div>



        <!-- Question -->
        <div class="form-group form-group--question">
          <label for="{{ form.text.auto_id }}">Question</label>

          <p>
            You can use <a href="https://intercom.help/courselets/getting-started/formatting-basics-with-restructuredtext" target="_blank">ReStructuredText</a> to format your text. Here are some things to keep in mind when writing your question:
          </p>

          <ul class="line-list">
            <li>Take a real-world situation that's representative of how you think students should be able to apply a concept you've taught, but different from examples you've already shown them how to solve.</li>
            <li>Focus your question small enough that students only need to think about that one concept.</li>
            <li>Difficulty: thinking about that concept should lead pretty directly to the answer, without requiring other skills such as solving equations, but it should not be guessable.  In general, about 1/3 to 2/3 of your students should be able to do it.</li>
            <li>Ask for a definite, specific answer, so that it's easy for students to self-assess whether their answer is right, by comparison with your answer.</li>
            <li>Also ask students to briefly explain their reasoning for how they arrived at their answer, so that you'll be able to discover underlying misconceptions directly from students' responses.</li>
            <li>Keep your question SHORT, like a real chat conversation.  If it seems too long, use various ways to split it into smaller pieces: background explanations should be moved to a separate Introduction thread; state your question briefly, even if you're concerned some students may need additional clarifications: provide those separately in an embedded audio or video clip.</li>
          </ul>
        </div>

        {{ form.text }}
        {% if form.text.errors %}
          {{ form.text.errors }}
        {% endif %}

        {{ form.attachment }}
        {% if form.attachment.errors %}
            {{ form.attachment.errors }}
          {% endif %}

        <!-- Answer -->
        <div class="form-group form-group--answer">
          <label for="{{ answer_form.answer.auto_id }}">{{ answer_form.answer.label }}</label>

          <p>
            You can use <a href="https://intercom.help/courselets/getting-started/formatting-basics-with-restructuredtext" target="_blank">ReStructuredText</a> to format your text. Here are some things to keep in mind when writing your answer:
          </p>

          <ul class="line-list">
            <li>First provide a clear, brief statement of the definite, specific answer, so students can easily see whether their own answer was right.</li>
            <li>Then give a brief explanation of the logic showing how the concept leads to this conclusion, so that students get a second chance to see whether their thinking was correct.</li>
            <li>Don't warn about potential wrong ways of thinking; save that for the Error Models (see below).</li>
            <li>Keep your answer brief by only including the core points sufficient for most students.</li>
            <li>For students who need additional explanations, provide those separately in an embedded audio or video clip.</li>
          </ul>

          {{ answer_form.answer }}
          {% if answer_form.answer.errors %}
            {{ answer_form.answer.errors }}
          {% endif %}

          {{ answer_form.attachment }}
          {% if answer_form.attachment.errors %}
            {{ answer_form.attachment.errors }}
          {% endif %}
        </div>



        <!-- Error models -->
        <div class="form-group form-group--error-models">
          <label>Error Models <span>– Optional</span></label>

          <p>
            An error model explains a common misconception. You would generally create these based on
            answers, but you can also use errors that you already know that your students make. Your students will see these
            error models when they self assess, and it will help understand why they made this error.
            Some things to keep in mind:
          </p>

          <ul class="line-list">
            <li>Write a one-sentence statement of this point-of-view in the form "I thought...", as its title, e.g. "I thought all that glitters is gold."</li>
            <li>Explain the misconception: outline the thought process that produces this point of view, and point out exactly where exactly it goes wrong vs. the correct understanding.</li>
            <li>Identify precisely what the student must change, to use this concept correctly.</li>
            <li>For students who need additional explanations (e.g. a counter-example where this belief leads to an obviously absurd conclusion), provide those separately in an embedded audio or video clip.</li>
          </ul>

          {% if errors_formset %}
            <div class="error-models-form">

              <div class="error-models-form__items">
                {% for item_form in errors_formset %}
                  <div id="item-{{ forloop.counter0 }}">
                    <!--{#{ item_form.as_p }#}-->
                    {% for field in item_form %}
                      {% if field.is_hidden %}
                        {{ field }}
                      {% else %}
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                          {{ field.errors }}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    {# <!-- or for crispy forms --> {% crispy item_form %} #}
                    <a href="#" class="error-models-form__remove">Remove error model</a>

                    {% if course_pk and courslet and item_form.ul_id.value %}
                      <div class="alert alert-info">
                        <a class="edit-resolutions" href="{% url 'ct:resolutions' course_id=course_pk unit_id=courslet.unit.id ul_id=item_form.ul_id.value %}">Switch to the old Instructor UI</a> if you want to add resolutions.
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>

              <a href="#" class="button error-models-form__add">Start writing a new (blank) Error Model</a>
            </div>
          {% endif %}
        </div>

        <!-- Add unit aborts from the legacy interface -->
        <div class="form-group form-group--unit-aborts">
            <div style="float: left">
            {{ form.add_unit_aborts }}
            </div>
            <div style="margin-left: 1%; float: left">
               Offer help for meta-blindspots
                <br><a href="https://intercom.help/courselets/getting-started/what-are-meta-blindspots" target="_blank">What are meta-blindspots?</a>
            </div>
        </div>

      <!-- Submit -->
      <input type="submit" value="Save">
    </form>
  </main>
</div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
  <script>
    // Courselets namespace
    var Courselets = Courselets || {};

    // Toggles inputs visibility based on unit type
    Courselets.updateUnitType = function() {
      $.validator.setDefaults({
          errorElement: 'p',
      });
      const formValidator = $('#unitEditForm').validate({
        ignore: '.ignore'
      });
      $('input[type=submit]').click((event)=>{
          event.preventDefault();
          if (formValidator.valid()) {
            $(event.currentTarget).parent('form').submit();
          }
      });
        formValidator.resetForm();
      // Get current unit type
      var unitType = $("input[name=unit_type]:checked").val();

      // Question
      if(unitType === "{{ unit.lesson.ORCT_QUESTION }}") {
        $(".form-group--question, .form-group--answer, .form-group--error-models").show().find('input, textarea').removeClass('ignore');
        $(".form-group--introduction").hide().find('input, textarea').addClass('ignore');
        $(".form-group--unit-aborts").show().find('input, textarea').removeClass('ignore');
      // Introduction
      } else if(unitType === "{{ unit.lesson.EXPLANATION }}") {
        $(".form-group--introduction").show().find('input, textarea').removeClass('ignore');
        $(".form-group--question, .form-group--answer, .form-group--error-models").hide().find('input, textarea').addClass('ignore');
        $(".form-group--unit-aborts").hide().find('input, textarea').addClass('ignore');
      }
    };

    // Init the form once the document is ready
    $(function(){
      // Update form based on the current unit type
      Courselets.updateUnitType();

      // Listen to unit type changes
      $("input[name='unit_type']").on('change', function(){
        Courselets.updateUnitType();
      });

      // Listen to new error model button
      $('.error-models-form__add').on('click', function(e) {
        e.preventDefault();

        // Add new error model inputs
        var count = $('.error-models-form__items').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        var idElement = '#item-' + count;
        var focusElement = 'input#id_form-' + count + '-title.ignore';
        $('.error-models-form__items').append(compiledTmpl);

        // Update form count
        $('#id_form-TOTAL_FORMS').attr('value', count+1);

        // Animate scroll to the new form
        $('html, body').animate({
          scrollTop: $('.error-models-form__items '+idElement).offset().top - 84
        }, 800);
        $(focusElement).focus();
      });

      $('.error-models-form__remove').on('click', function(e) {
        var me = $(this);
        me.siblings('input[id*="-DELETE"]').val('on');
        me.closest('form').submit();
        e.preventDefault();
      });

      $('.edit-resolutions').on('click', function (e) {
          var form = $(this).closest('form');
          var action = form.attr('action');
          e.preventDefault();
          $.ajax({
              url: action,
              type: 'POST',
              data: form.serializeArray(),
              async: false,
              success: function (response) {
                  window.location.href = $(e.currentTarget).attr('href');
              }
          });
      });

      $('.js-upload-input').on('change', function(event) {
          var file = this.files[0];
          var fr = new FileReader();
          fr.onload = function(e) {
              $('#image-'+ $(event.currentTarget).data('id')).attr('src', this.result);
          };
          fr.readAsDataURL(file);
      });

      $('.js-upload-image').on('click', function(event) {
          $('#input-' + $(event.currentTarget).data('id')).click();
      });
    });
  </script>

  <!-- Error model template -->
  <script type="text/html" id="item-template">
    <div id="item-__prefix__">
      <!--{#{ errors_formset.empty_form.as_p }#}-->

      {% for field in errors_formset.empty_form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
        {% endif %}
      {% endfor %}
      <!-- crispy: {#% crispy item_forms.empty_form item_forms.form.helper %#} -->
    </div>
  </script>
{% endblock %}
