{% extends 'ctms_base.html' %}

{% block title %}
Create new courslet
{% endblock %}

{% block content %}
<div class="card">
  <header class="card__topbar">
    <h1>{{ courslet.unit.title }}</h1>
  </header>

  <!-- TODO: We don't need this if when new and edit are separate views -->
  {% if pk %}
  <nav class="card__nav">
    <ul>
      <li>
        <a href="{% url 'ctms:unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %}" class="card__nav-active">Edit</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_view' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Answers</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_settings' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Settings</a>
      </li>
    </ul>
  </nav>
  {% endif %}

  <main class="card__content">
    <form action="" method="POST">
      <!--TODO: {# post data and redirect to {% url 'ctms:add_unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %} #}-->
      <!-- TODO: Replace with real inputs
        {{ form.as_p }}
      -->
      {% if not pk %}
      {{ form.title.label_tag }}
      <p>Give your unit a descriptive name. This will show up as one unit in your students sidebar.</p>
      {{ form.title }}
      {% else %}

      {{ form.unit_type.label_tag }}
      <p>You can create interactive questions or passive introductions (without answers and self-assessment).</p>
      {{ form.unit_type }}

      <!--<label for="question">Question</label>-->
      <div class="text">
        {{ form.text.label_tag }}
        <p>Write your question here.</p>
        {{ form.text }}
      </div>

      <div class="answer">
      {{ answer_form.answer.label_tag }}
      <p>Write your answer here.</p>
      {{ answer_form.answer }}
      </div>

      <!-- TODO: How should we add error models here? -->
      <label for="error-models">Error Models <span>– optional</span></label>
      <p>An error model explains a common misconception. Your students can select error models when they self-assess. <a href="">How to write a good error model</a></p>


      {% endif %}

      {% csrf_token %}

      {{ errors_formset.management_form }}

      {#% comment %#}
      {% if errors_formset %}
      <div class="errors_formset">
        <h4>Error Models</h4>
          {#{ errors_formset.management_form }#}
          <div id="items-form-container">
          {% for item_form in errors_formset %}
            <div id="item-{{ forloop.counter0 }}">
              {{ item_form.id }}
              {{ item_form.as_p }}
              {# <!-- or for crispy forms --> {% crispy item_form %} #}
            </div>
          {% endfor %}
          </div>
      </div>
      {% endif %}
      {#% endcomment %#}

      <a href="#" id="add-item-button" class="btn btn-info add-item">Add error model</a>
      <br>
      <input type="submit" class="btn btn-primary" value="Save">
  </form>
</main>
{% endblock %}
{% block js %}
<script type="text/html" id="item-template">
  <div id="item-__prefix__">
      {{ errors_formset.empty_form.as_p }}
      <!-- crispy: {#% crispy item_forms.empty_form item_forms.form.helper %#} -->
  </div>
</script>


<script>
  $(document).ready(function(){
    $(".errors_formset").hide();

    if($("input[name='unit_type']:checked").val() == "{{ unit.lesson.ORCT_QUESTION }}") {
      $(".answer,.errors_formset").show();
      $("#add-item-button").addClass('active').removeClass('disabled');
    } else {
      $(".errors_formset").hide();
      $(".answer").hide();
      $("#add-item-button").addClass('disabled').removeClass('active');
    };

    $("input[name='unit_type']").change(function(){
      if($("input[name='unit_type']:checked").val() == "{{ unit.lesson.ORCT_QUESTION }}") {
          $(".errors_formset").toggle();
          $(".answer").toggle();
          $("#add-item-button").addClass('active').removeClass('disabled');
      } else {
        $("#add-item-button").addClass('disabled').removeClass('active');
        $(".errors_formset,.answer").hide();
      }
      // $('html, body').animate({
      //    scrollTop: $(".errors_formset").position().top-200
      // }, 800);
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('.add-item').click(function(ev) {
        if($("input[name='unit_type']:checked").val() == "{{ unit.lesson.ORCT_QUESTION }}") {
          ev.preventDefault();
          var count = $('#items-form-container').children().length;
          var tmplMarkup = $('#item-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('div#items-form-container').append(compiledTmpl);

          // update form count
          $('#id_form-TOTAL_FORMS').attr('value', count+1);

          // some animate to scroll to view our new form
          $('html, body').animate({
            scrollTop: $("#add-item-button").position().top-200
          }, 800);
        }
      });
    });
</script>
{% endblock %}
