{% extends 'ctms/ctms_base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card">
  <header class="card__topbar">
    <h1>{{ courslet.unit.title }}</h1>
  </header>

  <nav class="card__nav">
    <ul>
      <li>
        <a href="{% url 'ctms:unit_edit' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Edit</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_view' course_pk=course.id courslet_pk=courslet.id pk=pk %}" class="card__nav-active">Answers</a>
      </li>

      <li>
        <a href="{% url 'ctms:unit_settings' course_pk=course.id courslet_pk=courslet.id pk=pk %}">Settings</a>
      </li>
    </ul>
  </nav>

  <main class="card__content">
    {% if responses %}
      <table>
        <thead>
          <tr>
            <th>Answer</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for answer in responses %}
            <tr>
              <td>
                <div class="user-info">
                  <img src="{% static "img/instructor/default-avatar@2x.png" %}" alt="TODO: Username" class="avatar">
                  <h3>{{ answer.author }}</h3>
                  <p>{{ answer.atime|date }}</p>
                </div>

                <div class="table-answer">
                  {{ answer.text|truncatechars:150 }}
                </div>
              </td>

              <td>
                <!-- TODO: Add status here -->
                Still confused
              </td>

              <td>
                <a href="{% url 'ctms:response_view' course_pk=course_pk courslet_pk=courslet_pk unit_pk=pk pk=answer.id %}">View &rarr;</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No answers yet.</p>
    {% endif %}
  </main>
</div>
{% endblock %}
