{% extends 'ctms/ctms_base.html' %}

{% block title %}
Create new courslet
{% endblock %}

{% block content %}
<div class="text-center">
  <h6>Course</h6>
  <h5><a href="{% url 'ctms:course_view' pk=course.id %}">{{ course.title }}</a></h5>
</div>

{% if courslet %}
<div class="text-center">
  <h6>Courslet</h6>
  <h4><a href="{% url 'ctms:courslet_view' course_pk=course.id pk=courslet.id %}">{{ courslet.unit.title }}</a></h4>
</div>
{% endif %}

<form action="" method="POST">
  {{ form.as_p }}
  {% csrf_token %}
  <input type="submit" value="Save">
</form>
{% endblock %}