{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  generic info on courselets.org
{% endcomment %}

{% block title %}
  About Courselets.org
{% endblock %}

{% block content %}
Courselets.org is currently in private alpha release.
Details will be made available in the public beta release.
<ul>
<li>We want to hear your feedback!  If you have questions or comments
on a specific lesson in a courselet, click on its <b>FAQ</b> tab
to post your question or comment.</li>
<li>During the initial alpha period, if you have general comments
or questions, please email them to 
<a href="mailto:leec@chem.ucla.edu">leec@chem.ucla.edu</a>.</li>
<li>If you encounter software bugs or want to propose software
enhancements, please enter them on our
<a href="https://github.com/cjlee112/socraticqs2/issues">Github issue tracker</a>.</li>
</ul>
{% endblock %}

