{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  Ask the user a question
{% endcomment %}

{% block title %}
  {{ unitLesson.lesson.title }}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="StudyTabDiv">

  <section>
    <p> {{ qtext }} </p>
  </section>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<hr>
    <b>Type your answer in the box below</b>.
    If you want to use formatting features such as italics or
    equations, follow the simple
    <a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">
    reStructuredText</a> guidelines.  For example, to
    enter a LaTeX equation, type text lines like this (note that the
    equation is indented by typing three spaces):<br>
<pre>.. math::
   c^2=a^2+b^2</pre>
    <br>

<div class="container-fluid">
{% crispy form %}
</div>

  </div><!-- @end #StudyTabDiv -->
</div>
{% endblock %}
