{% extends "ct/portal.html" %}
{% comment %}
  Ask the user a question
{% endcomment %}

{% block title %}
  {{ question.title }}
{% endblock %}

{% block content %}
  <section>
    <p> {{ qtext }} </p>
  </section>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br>
    Briefly state your answer to the question in the box below.<br>
    You may enter latex equations by bracketing them as follows
    <PRE>\[\sum_{\alpha}{p(\alpha|Z)}=1\]</PRE>
    <br>

<form action="{{ actionTarget }}" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Go" />
</form>
{% endblock %}
