{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  Ask the user a question
{% endcomment %}

{% block title %}
  {{ unitLesson.lesson.title }}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="StudyTabDiv">

  <section>
    <p> {{ qtext }} </p>
  </section>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br>
    Briefly state your answer to the question in the box below.<br>
    You may enter latex equations by bracketing them as follows
    <PRE>\[\sum_{\alpha}{p(\alpha|Z)}=1\]</PRE>
    <br>

<div class="container-fluid">
{% crispy form %}
</div>

  </div><!-- @end #StudyTabDiv -->
</div>
{% endblock %}
