{% extends "ct/portal.html" %}
{% load ct_extras %}
{% comment %}
  Assess a student answer
{% endcomment %}

{% block title %}
  {{ response.question.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="headtoggle"/>Show Question<BR>
<div id="headdiv" style="display: none">
{{ qtext }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>

<h3>Author's answer</h3> 
{{ answer }}

<h3>Submitted answer</h3> 
{{ response.text |md2html }}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Assessment</h3>

<form action="{{ actionTarget }}" method="post">
{{ form.non_field_errors }}
{% csrf_token %}

{% if doSelfEval %}
<div class="fieldWrapper">
  {{ form.selfeval.errors }}
  <label for="id_selfeval">
  How does this answer compare with the right answer?</label><br>
  {{ form.selfeval }}
</div>
{% endif %}

<div class="fieldWrapper">
  {{ form.emlist.errors }}
  <label for="id_emlist">
  Did this submitted answer make one of the following common errors?
  </label><br>
  {{ form.emlist }}
</div>

<div class="fieldWrapper">
  {{ form.status.errors }}
  <label for="id_status">
  How well do you feel you understand this concept now?</label><br>
  {{ form.status }}
</div>

<p><input type="submit" value="Go" /></p>
</form>
{% endblock %}
