{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  Assess a student answer
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="headtoggle"/>Show Question<BR>
<div id="headdiv" style="display: none">
{{ pageData.headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>


<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="StudyTabDiv">

<input type="checkbox" id="anstoggle"
{% if showAnswer %}
CHECKED=""
{% endif %}
/>Show Author's Answer<BR>
{% if showAnswer %}
<div id="ansdiv">
{% else %}
<div id="ansdiv" style="display: none">
{% endif %}
<h3>Author's answer</h3> 
{{ answer }}
</div>

<script>
$( "#anstoggle" ).click(function() {
  $( "#ansdiv" ).toggle();
});
</script>

<h3>Submitted answer</h3> 
{{ response.text |md2html }}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if assessForm %}
  <h3>Assessment</h3>
  {% crispy assessForm %}

{% else %}
  <h3>Did
  {% if response.author == user %}
    your
  {% else %} 
    this submitted 
  {% endif %}
  answer make one of the following common errors?</h3>
  <form action="{{ actionTarget }}" method="post">
    {% csrf_token %}
<table class="table table-striped">
<thead><tr>
  <th>Common Errors</th>
</tr></thead>
<tbody>
{% for em in errorModels %}
  <tr>
    <td><input type="checkbox" name="emlist" value="{{ em.id }}"/>
        {{ em.lesson.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
    <p><input type="submit" value="Next" /></p>
  </form>
{% endif %}

  </div><!-- @end #StudyTabDiv -->
</div>
{% endblock %}
