{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  Show materials relevant for a given concept
{% endcomment %}

{% block title %}
  {{ concept.title }}
{% endblock %}

{% block content %}
{% if titleform %}
<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div class="container-fluid" id="editform" style="display: none">
{% crispy titleform %}
  
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Delete this Concept" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>
{% endif %}

{{ concept.description |md2html }}

{% if concept.conceptlink_set.count > 0 %}
<h2>Materials For Learning About This Concept</h2> 
  <ul>
  {% for ll in concept.conceptlink_set.all %}
    <li>
    <a href="{{ ll.lesson.get_url }}">{{ ll.lesson.title }}</a>
    {% if ll.lesson.sourceDB %}
      ({{ ll.lesson.sourceDB }})
    {% endif %}
    {% if ll.lesson.text.strip and ll.lesson.text|length < 100 %}
      : {{ ll.lesson.text |md2html }}
    {% else %}
      : {{ ll.get_relationship_display }} this concept.
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}

<h2>Related Concepts</h2> 
  <ul>
  {% for cl in concept.relatedFrom.all %}
    <li>
    <a href="{% url 'ct:concept' cl.fromConcept.id %}">{{ cl.fromConcept.title }}</a>
    : {{ cl.get_relationship_display }} this concept.
    </li>
  {% endfor %}
  {% for cl in concept.relatedTo.all %}
    <li>This concept {{ cl.get_relationship_display }}
    <a href="{% url 'ct:concept' cl.toConcept.id %}">{{ cl.toConcept.title }}</a>.
    </li>
  {% endfor %}
  </ul>

<p>
Added by: {{ concept.addedBy.get_full_name }}, {{ atime }}
</p>

{% endblock %}

