{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

{% if headText %}
<input type="checkbox" id="headtoggle"/>Show Text<BR>
<div id="headdiv" style="display: none">
{{ headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ConceptsTabDiv">

{% if conceptLinks.data %}
<table class="table table-striped">
<thead><tr>
{% for h in conceptLinks.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cl,clform in conceptLinks.data %}
  <tr>
    <td>
    {% if conceptLinks.noEdit %}
      {{ cl.get_relationship_display }}
    {% else %}
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ clform.relationship }}
    <input type="hidden" name="clID" value="{{ cl.id }}" />
    <input type="submit" value="Update" />
    </form>
    {% endif %}
    </td>
    <td><a href="{{ basePath }}concepts/{{ cl.concept.pk }}/lessons/">
        {{ cl.concept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if toTable.data %}
<table class="table table-striped">
<thead><tr>
{% for h in toTable.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cg,cgform in toTable.data %}
  <tr>
    <td>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ cgform.relationship }}
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Update" title="click to update the relationship" />
    </form>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="reverse" />
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Reverse" title="click to reverse the relationship between these concepts" />
    </form>
    </td>
    <td><a href="{{ basePath }}concepts/{{ cg.toConcept.pk }}/lessons/">
        {{ cg.toConcept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if fromTable.data %}
<table class="table table-striped">
<thead><tr>
{% for h in fromTable.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cg,cgform in fromTable.data %}
  <tr>
    <td><a href="{{ basePath }}concepts/{{ cg.fromConcept.pk }}/lessons/">
        {{ cg.fromConcept.title }}</a></td>
    <td>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ cgform.relationship }}
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Update" title="click to update the relationship" />
    </form>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="reverse" />
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Reverse" title="click to reverse the relationship between these concepts" />
    </form>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if errorModels %}
<table class="table table-striped">
<thead><tr>
  <th>Common misunderstandings of this concept</th>
</tr></thead>
<tbody>
{% for cg in errorModels %}
  <tr><td><a href="{{ basePath }}concepts/{{ cg.fromConcept.pk }}/lessons/">
        {{ cg.fromConcept.title }}</a></td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{{ msg }}
<form action="{{ actionTarget }}" method="get">
{{ searchForm }}
<input type="submit" value="Search" />
</form>

{% if cset or wset %}
<h2>Search Results</h2>
{% endif %}

{% if cset %}
If one of these matches the concept your question mainly aims to test,
please click <b>{{ actionLabel }}</b>.
<table class="table table-striped">
<thead><tr>
  <th>Concepts already defined in Courselets.org</th>
</tr></thead>
<tbody>
{% for c in cset %}
  <tr><td>
  <a href="{{ basePath }}concepts/{{ c.id }}/lessons/">{{ c.title }}</a>
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="conceptID" value="{{ c.id }}" />
  <input type="submit" value="{{ actionLabel }}" />
  </form>
  </td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if wset %}
If one of these matches the concept your question mainly aims to test,
and does <b>not</b> match any concept already added to Courselets.org
(above),
please click <b>{{ actionLabel }}</b>.
To see details from Wikipedia about each concept, just click its title.
<table class="table table-striped">
<thead><tr>
  <th>Concepts found in Wikipedia</th>
</tr></thead>
<tbody>
{% for title, sourceID, sourceURL in wset %}
  <tr><td>
  <a href="{{ sourceURL }}">{{ title }}</a>:
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="wikipediaID" value="{{ sourceID }}" />
  <input type="submit" value="{{ actionLabel }}" />
  </form>
  </td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if conceptForm %}
<h3>Write a New Concept</h3>
If none of the above matches your intended concept, you can add it
directly by giving a short title and description, then click <b>Add</b>.

<div class="container-fluid">
{% crispy conceptForm %}
</div>

{% endif %}

  </div><!-- @end #ConceptsTabDiv -->
</div>
{% endblock %}
