{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

{% if pageData.headText %}
<input type="checkbox" id="headtoggle"/>Show {{ pageData.headLabel }}<BR>
<div id="headdiv" style="display: none">
{{ pageData.headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ConceptsTabDiv">

{% if unitConcepts %}
<table class="table table-striped">
<thead><tr>
  <th>This courselet...</th><th>Concept</th>
</tr></thead>
<tbody>
{% for concept,conceptLinks in unitConcepts %}
  <tr>
    <td>
    {% for cl in conceptLinks %}
      <a href="{{ actionTarget |get_home_url:cl.unitLesson }}">
      {{ cl.get_relationship_display }}</a>...
    {% endfor %}
    </td>
    <td><a href="{{ actionTarget |get_object_url:concept }}">
        {{ concept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if conceptLinks.data %}
<table class="table table-striped">
<thead><tr>
{% for h in conceptLinks.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cl,clform in conceptLinks.data %}
  <tr>
    <td>
    {% if conceptLinks.noEdit %}
      {{ cl.get_relationship_display }}
    {% else %}
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ clform.relationship }}
    <input type="hidden" name="clID" value="{{ cl.id }}" />
    <input type="submit" value="Update" />
    </form>
    {% endif %}
    </td>
    <td><a href="{{ actionTarget |get_object_url:cl.concept }}">
        {{ cl.concept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if toTable.data %}
<table class="table table-striped">
<thead><tr>
{% for h in toTable.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cg,cgform in toTable.data %}
  <tr>
    <td>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ cgform.relationship }}
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Update" title="click to update the relationship" />
    </form>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="reverse" />
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Reverse" title="click to reverse the relationship between these concepts" />
    </form>
    </td>
    <td><a href="{{ actionTarget|get_object_url:cg.toConcept }}">
        {{ cg.toConcept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if fromTable.data %}
<table class="table table-striped">
<thead><tr>
{% for h in fromTable.headers %}
  <th>{{ h }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for cg,cgform in fromTable.data %}
  <tr>
    <td><a href="{{ actionTarget |get_object_url:cg.fromConcept }}">
        {{ cg.fromConcept.title }}</a></td>
    <td>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    {{ cgform.relationship }}
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Update" title="click to update the relationship" />
    </form>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="reverse" />
    <input type="hidden" name="cgID" value="{{ cg.id }}" />
    <input type="submit" value="Reverse" title="click to reverse the relationship between these concepts" />
    </form>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if errorModels %}
<table class="table table-striped">
<thead><tr>
  <th>Common misunderstandings of this concept</th>
</tr></thead>
<tbody>
{% for cg in errorModels %}
  <tr><td><a href="{{ actionTarget |get_object_url:cg.fromConcept }}">
        {{ cg.fromConcept.title }}</a></td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{{ msg }}
<form action="{{ actionTarget }}" method="get">
{{ searchForm }}
<input type="submit" value="Search" />
</form>

{% if cset %}
<table class="table table-striped">
<thead><tr>
  <th>Search Results</th>
</tr></thead>
<tbody>
{% for title,url,ul in cset %}
  <tr><td>
  <a href="{{ url }}">{{ title }}</a>
  {% if showConceptAction %}
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  {% if ul %}
    <input type="hidden" name="conceptID" value="{{ ul.lesson.concept.id }}" />
  {% else %}
    <input type="hidden" name="wikipediaID" value="{{ title }}" />
  {% endif %}
  <input type="submit" value="{{ actionLabel }}" />
  </form>
  {% endif %}
  </td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if conceptForm %}
<h3>Write a New Concept</h3>
If none of the above matches your intended concept, you can add it
directly by giving a short title and description, then click <b>Add</b>.

<div class="container-fluid">
{% crispy conceptForm %}
</div>

{% endif %}

  </div><!-- @end #ConceptsTabDiv -->
</div>
{% endblock %}
