{% extends "ct/portal.html" %}

{% comment %}
  Public courses page
{% endcomment %}

{% block title %}
    {% if user.is_authenticated and not 'anonymous' in user.username %}
        All Courses
    {% else %}
        Public courses
    {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
<thead><tr><th>Course</th><th>Course id</th></tr></thead>
<tbody>
    {% for course in courses %}
    <tr><td>
    <a href="{% url 'ct:subscribe' course.id %}">{{ course.title }}</a>
    </td>
    <td>{{ course.id }}</td>
    </tr>
    {% endfor %}
</tbody></table>

{% endblock %}
