{% extends "ct/portal.html" %}
{% load ct_extras %}
{% comment %}
  Let the instructor analyze exercise results
{% endcomment %}

{% block title %}
  {{ courseQuestion.question.title }}
{% endblock %}

{% block content %}

<input type="checkbox" id="qtoggle"/>Show Question & Answer<BR>
<div id="qdiv" style="display: none">
<h2>Question</h2> 
{{ qtext }}

<h2>Correct answer</h2> 
{{ answer }}
</div>

<script>
$( "#qtoggle" ).click(function() {
  $( "#qdiv" ).toggle();
});
</script>


<input type="checkbox" id="instrtoggle"/>Show Page Instructions<BR>
<div id="instrdiv" style="display: none">
<ul>
<li>Please write some instructions</li>
</ul>
</div>

<script>
$( "#instrtoggle" ).click(function() {
  $( "#instrdiv" ).toggle();
});
</script>

{% if statusCounts %}
<h2>Final Status for Understanding This Concept</h2>

<table border=1>
  <tr>
    <th>Still confused, need help</th>
    <th>OK, but need review</th>
    <th>Solid understanding</th>
    <th>(not yet)</th>
  </tr>
  <tr>
    {% for c in statusCounts %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr>
</table>
{% endif %}

{% if evalCounts %}
<h2>Student Self-Assessments</h2>

<table border=1>
  <tr>
    <th></th>
    <th>Wrong</th>
    <th>Close</th>
    <th>Correct</th>
  </tr>
  {% for label, row in evalCounts %}
  <tr>
    <td><b>{{ label }}</b></td>
    {% for c in row %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if errorCounts %}
<h2>Categorized Student Errors</h2>
<table border=1>
  <tr><th>Students</th><th>Error</th></tr>
  {% for em, emTotal in errorCounts %}
    <tr>
    <td>{{ emTotal }}</td>
    <td>{{ em.description |md2html }}
        (<a href="{% url 'ct:error_model' em.id %}">Details</a>)</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if uncategorized %}
<h2>Uncategorized Student Errors</h2>
<table border=1>
  <tr><th>Status</th><th>Correct?</th><th>Student's answer</th></tr>
  {% for r in uncategorized %}
    <tr>
    <td>{{ r.get_status_display }}</td>
    <td>{{ r.get_selfeval_display }})</td>
    <td>{{ r.atext |md2html }}</td>
    </tr>
  {% endfor %}
</table>

{% endif %}

<h3>Add an Error Model</h3>
<form action="{{ actionTarget }}" method="post">
{% csrf_token %}
{{ emform.as_p }}
<input type="submit" value="Create" />
</form>



{% endblock %}

