{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  View or edit a courselet
{% endcomment %}

{% block title %}
  {{ courselet.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div class="container-fluid" id="editform" style="display: none">
{% crispy titleform %}
  
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Delete this Courselet" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>

<p>Course: <a href="{% url 'ct:course' courselet.course.id %}">
{{ courselet.course.title }}</a></p>

{% if courselet.liveCourseQuestion %}
You are now teaching this courselet as a <b>live (classroom) session</b>. 
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="task" value="liveend" />
  <input type="submit" value="End Live Session" />
  </form>
{% endif %}

{% if courselet.coursequestion_set.count > 0 %}
<h2>Exercises in this Courselet</h2>
<ul>
{% for cq in courselet.coursequestion_set.all %}
  <li><a href="{% url 'ct:question' cq.question.id %}">
  {{ cq.question.title }}</a>:
  {% if cq.response_set.count > 0 %}
    (<a href="{% url 'ct:course_question' cq.id %}">
     {{ cq.response_set.count }} student responses</a>)
  {% endif %}
  {% if liveID %}
    <form action="{% url 'ct:course_question' cq.id %}" method="post"
     style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="livestart" />
    <input type="submit" value="Start Live Exercise" />
    </form>
  {% else %}
    <form action="{% url 'ct:course_question' cq.id %}" method="post"
     style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="delete" />
    <input type="submit" value="Remove from Courselet" />
    </form>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Add an Exercise</h2>

{% if slform %}
  <form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  {{ slform }}
  <input type="submit" value="Add" />
  </form>
{% endif %}

<input type="checkbox" id="newqtoggle"/>Write a New Exercise.<BR>
<div class="container-fluid" id="newqform" style="display: none">
{% crispy qform %}
</div>

<script>
$( "#newqtoggle" ).click(function() {
  $( "#newqform" ).toggle();
});
</script>


{% endblock %}

