{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  View or edit a courselet
{% endcomment %}

{% block title %}
  {{ courselet.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div class="container-fluid" id="editform" style="display: none">
{% crispy titleform %}
  
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Delete this Courselet" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>

<p>Course: <a href="{% url 'ct:course' courselet.course.id %}">
{{ courselet.course.title }}</a></p>

<h2>Concepts Taught in This Courselet</h2>
{% if courselet.concepts.count > 0 %}
  <ul>
  {% for c in courselet.concepts.all %}
     <li><a href="{% url 'ct:concept' c.id %}">{{ c.title }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <b>Please add one or more concepts to this courselet!</b>
{% endif %}
<button type="button" onclick="location.href='{% url 'ct:courselet_concept' courselet.id %}'">
Add Concept
</button>

{% if exercises %}
<h2>Exercises in this Courselet</h2>
<ul>
{% for ex in exercises %}
  <li>
  {% if ex.isQuestion %}
  <a href="{% url 'ct:question' ex.question.id %}">
  {{ ex.question.title }}</a>:
    (<a href="{% url 'ct:course_question' ex.id %}">
     {{ ex.response_set.count }} student responses in this course</a>)
  {% if fsmStack.state.liveSession %}
    <form action="{% url 'ct:course_question' ex.id %}" method="post"
     style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="livestart" />
    <input type="submit" value="Start Live Exercise" />
    </form>
  {% else %}
    <form action="{% url 'ct:course_question' ex.id %}" method="post"
     style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="delete" />
    <input type="submit" value="Remove from Courselet" />
    </form>
  {% endif %}
  {% else %}
  <a href="{% url 'ct:lesson' ex.lesson.id %}">
  {{ ex.lesson.title }}</a>:
    <form action="{% url 'ct:course_lesson' ex.id %}" method="post"
     style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="delete" />
    <input type="submit" value="Remove from Courselet" />
    </form>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Add an Exercise</h2>

{% if slform %}
  <form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  {{ slform }}
  <input type="submit" value="Add" />
  </form>
{% endif %}

<input type="checkbox" id="newqtoggle"/>Write a New Exercise.<BR>
<div class="container-fluid" id="newqform" style="display: none">
{% crispy qform %}
</div>

<script>
$( "#newqtoggle" ).click(function() {
  $( "#newqform" ).toggle();
});
</script>


<input type="checkbox" id="newltoggle"/>Write a New Lesson.<BR>
<div class="container-fluid" id="newlform" style="display: none">
{% crispy lform %}
</div>

<script>
$( "#newltoggle" ).click(function() {
  $( "#newlform" ).toggle();
});
</script>


{% endblock %}

