{% extends "ct/portal.html" %}
{% load ct_extras %}

{% comment %}
  Public courses page
{% endcomment %}

{% block title %}
    {% if user.is_authenticated and not 'anonymous' in user.username %}
        All Courses
    {% else %}
        Public courses
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and not 'anonymous' in user.username %}
    <p>You can access your personal list of <a href="/ct/">enrolled courses</a>
    by clicking the link.</p>
{% endif %}

<p>You can take individual courselets (short lessons each designed to master one
concept), or a whole course.  Click any course to get started!</p>
<table class="table table-striped">
<thead><th>Course descriptions</th></thead>
<tbody>
    {% for course in courses %}
    <tr><td>
    <a href="{% url 'ct:course_student' course.id %}"><b>{{ course.title }}</b></a>
    (Instructor: {{ course.addedBy.get_full_name }}).
    <input type="checkbox" id="desctoggle{{ course.id }}"/>Show description
    <div id="descdiv{{ course.id }}" style="display: none">
      <p>{{ course.description |md2html}}</p>
    </div>

    <script>
    $( "#desctoggle{{ course.id }}" ).click(function() {
      $( "#descdiv{{ course.id }}" ).toggle();
    });
    </script>
    </td>
    </tr>
    {% endfor %}
</tbody></table>

{% endblock %}
