{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ course.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div class="container-fluid" id="editform" style="display: none">
{% crispy titleform %}
<form action="{{ actionTarget }}" method="post">
{% csrf_token %}
<input type="hidden" name="task" value="delete" />
<input type="submit" value="Delete this Course" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>

{% if liveID %}
<div class="container-fluid" id="liveform">
<form action="{{ actionTarget }}" method="post">
{% csrf_token %}
<input type="hidden" name="task" value="liveend" />
<input type="submit" value="End Live Session" />
</form>
</div>
{% else %}
<div class="container-fluid" id="liveform">
<form action="{{ actionTarget }}" method="post">
{% csrf_token %}
<input type="hidden" name="task" value="livestart" />
<input type="submit" value="Start Live Session" />
</form>
</div>
{% endif %}

{% if course.courselet_set.count > 0 %}
<h2>Courselets in this Course</h2>
<ul>
{% for courselet in course.courselet_set.all %}
  <li><a href="{% url 'ct:courselet' courselet.id %}">{{ courselet.title }}</a>:
  {% if courselet.coursequestion_set.count > 0 %}
    ({{ courselet.coursequestion_set.count }} exercises)
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Add a New Courselet</h2>

<div class="container-fluid">
{% crispy courseletform %}
</div>

{% endblock %}

