{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %} 

{% comment %}
  Show materials relevant for a given concept
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="EditTabDiv">

<div class="container-fluid" id="editform">
{% crispy courseform %}
</div>

<hr>
<p>
Copy course URL
<input class="textinput textInput form-control" id="id_title" maxlength="200" name="title" type="text" value="{{ domain }}/lti{% url 'ct:course_student' course.id %}">
</p>

<hr>
<p>
Added by: {{ course.addedBy.get_full_name }}, 
          {{ course.atime|display_datetime }}
</p>


  </div><!-- @end #EditTabDiv -->
</div>
{% endblock %}

