{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  Show materials relevant for a given concept
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="EditTabDiv">

<div class="container-fluid" id="editform">
{% crispy unitform %}
</div>

<hr>
<p>
Copy course URL
<input class="textinput textInput form-control" id="id_title" maxlength="200" name="title" type="text" value="{{ domain }}/lti{% url 'ct:study_unit' courseUnit.course.id unit.id %}">
</p>


<hr>
Courselet created by: 
<a href="/ct/people/{{ user.pk }}/">{{ unit.addedBy.get_full_name }}</a>, 
{{ unit.atime|display_datetime }}
{% if courseUnit.releaseTime %}
  (published {{ courseUnit.releaseTime|display_datetime }})
{% else %}
  <br><b>This courselet has not yet been published for student access.</b>
    <form action="{{ actionTarget }}" method="post"
          style=" display:inline!important;">
    {% csrf_token %}
    <input type="hidden" name="task" value="release" />
    <input type="submit" value="Publish" />
    </form>
{% endif %}

  </div><!-- @end #EditTabDiv -->
</div>
{% endblock %}

