{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  Show materials relevant for a given concept
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>



<div class="tab-content">
  <div class="tab-pane active" id="EditTabDiv">

<div class="container-fluid" id="editform">
{% crispy titleform %}
</div>


<p>
Added by: {{ unitLesson.addedBy.get_full_name }}, {{ atime }}
</p>
<p>
<form action="." method="post">
  {% csrf_token %}
  <select id="js-slct-unit" name="unit_to_move" class="form-control">
    {% for unit in units %}
      {% if not unit == ul.unit %}
      <option selected="selected" value="{{ unit.id }}">{{ unit.title }}</option>
      {% else %}
      <option value="{{ unit.id }}">{{ unit.title }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" class="btn btn-primary" value="Move to select unit" />
</form>
</p>
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Delete this Lesson" />
</form>

  </div><!-- @end #EditTabDiv -->
</div>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

<script type="application/javascript">
$("#js-slct-unit").select2({placeholder: "Select a unit"});
</script>
{% endblock %}

