{% extends "ct/portal.html" %}
{% load crispy_forms_tags static %}
{% load ct_extras %}

{% comment %}
  Show materials relevant for a given concept
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

{% if course.copied_from %}
<b>Copied from:</b> <a href="{% url 'ct:course' course_id=course.copied_from.id %}">{{ course.copied_from.title }}</a><br>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="EditTabDiv">

<div class="container-fluid" id="editform">
{% crispy courseform %}
</div>

<hr>
<p>
Copy course URL
<input class="textinput textInput form-control" id="id_title" maxlength="200" name="title" type="text" value="{{ domain }}/lti{% url 'ct:course_student' course.id %}">
</p>

<hr>
<p>
Added by: {% if course.addedBy.get_full_name %}{{ course.addedBy.get_full_name }}{% else %}{{ course.addedBy.username }}{% endif %},
          {{ course.atime|display_datetime }}
</p>


  </div><!-- @end #EditTabDiv -->
</div>

<div class="analytics">
{% if reports %}
<hr>
<h2>Reports</h2>
    {% for report in reports %}
    <ul>
        <li>
            <a href='{% static report.response_report.url %}' target="_blank">Download</a>
            report from {{ report.date }}
            {% if report.addedBy %} created by
              {% if report.addedBy.get_full_name %}
                {{ report.addedBy.get_full_name }}
              {% else %}
                {{ report.addedBy.username }}
              {% endif %}
          {% endif %}
        </li>
    </ul>
    {% endfor %}
{% endif %}
<button type="button" name="button" class="btn btn-primary gen-report">Generate</button>
</div>

<hr>
<form action="{% url 'ct:deep_copy_course' course_id=course.id %}" method="post">
  <div class="row">
    <div class="col-md-4">
      To copy this course for a new quarter/semester click this button.
    </div>

    {% csrf_token %}
    <div class="col-md-6 row">
      <div class="col-md-6">
        <select name="copy_options">
          <option value="unpublish" checked="true">Unpublish all courselets in copied course</option>
          <option value="publish">Publish all courselets in copied course</option>
          <option value="asis">Copy this course as it is</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 text-right">
      <input type="submit" value="Copy course" class="btn btn-danger">
    </div>
  </div>
</form>

<hr>

<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script type="text/javascript">
$(function() {
  $('.gen-report').on('click', function (){
      $.get(
          "{% url 'api:v0:gen-report' %}",
          data={"course_id": {{ course.id }}}
      )
      .done(function () {
          $.notify('New report is about to start and will be completed soon.', "info");
      })
      .error(function (error) {
          $.notify('Something went wrong: ' + error.responseText, "error");
      });
  });
});
</script>
{% endblock %}
