{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

{% if pageData.headText %}
<input type="checkbox" id="headtoggle"
{% if pageData.showHead %}
CHECKED=""
{% endif %}
/>Show {{ pageData.headLabel }}<BR>
{% if pageData.showHead %}
<div id="headdiv">
{% else %}
<div id="headdiv" style="display: none">
{% endif %}
{{ pageData.headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ConceptsTabDiv">

{% if toConcepts %}
<table class="table table-striped">
<thead><tr>
  <th>This error...</th><th>Concept</th>
</tr></thead>
<tbody>
{% for cg in toConcepts %}
  <tr>
    <td>
    {{ cg.get_relationship_display }}
    </td>
    <td><a href="{{ actionTarget|get_object_url:cg.toConcept }}">
        {{ cg.toConcept.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if fromConcepts %}
<table class="table table-striped">
<thead><tr>
  <th>Concept</th><th>...this error</th>
</tr></thead>
<tbody>
{% for cg in fromConcepts %}
  <tr>
    <td><a href="{{ actionTarget |get_object_url:cg.fromConcept }}">
        {{ cg.fromConcept.title }}</a></td>
    <td>
    {{ cg.get_relationship_display }}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if testLessons %}
<table class="table table-striped">
<thead><tr>
  <th>Questions that test this error</th><th>Type</th><th>Author</th>
</tr></thead>
<tbody>
{% for ul in testLessons %}
  <tr>
    <td><a href="{{ actionTarget |get_object_url:ul }}">
        {{ ul.lesson.title }}</a></td>
    <td>{{ ul.lesson.get_kind_display }}</td>
    <td>{{ ul.lesson.addedBy.get_full_name }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if alternativeDefs %}
<table class="table table-striped">
<thead><tr>
  <th>Other examples of this error</th><th>Author</th>
</tr></thead>
<tbody>
{% for ul in alternativeDefs %}
  <tr>
    <td><a href="{{ actionTarget |get_object_url:ul }}">
        {{ ul.lesson.title }}</a></td>
    <td>{{ ul.lesson.addedBy.get_full_name }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}


  </div><!-- @end #ConceptsTabDiv -->
</div>
{% endblock %}
