{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  instructor UI for a conceptual error
{% endcomment %}

{% block title %}
  Error Model
{% endblock %}

{% block content %}
<p>{{ em.description }}</p>

<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div id="editform" style="display: none">
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  {{ emform.as_p }}
  <input type="submit" value="Update" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>

<p>
{% if em.question %}
  Question: <a href="{% url 'ct:question' em.question.id %}">
  {{ em.question.title }}</a>.
{% endif %}
{% if emPercent %}
  {{ emPercent }}% of students make this error (N={{ N }}).
{% endif %}
</p>

<h3>Remediations</h3>
<ul>
{% for remedy in em.remediation_set.all %}
  <li><a href="{% url 'ct:remediation' remedy.id %}">
  {{ remedy.title }}</a></li>
{% endfor %}
</ul>

{% if em.remediation_set.count > 0 %}
  <input type="checkbox" id="remtoggle"/>Add a new remediation.<BR>

  <script>
  $( "#remtoggle" ).click(function() {
    $( "#remform" ).toggle();
  });
  </script>

  <div class="container-fluid" id="remform" style="display: none">
{% else %}
  <div class="container-fluid" id="remform">
{% endif %}
Type a concise suggestion
for how students can learn to fix this specific error in their thinking
(e.g. "Review the reading on normalization"; you will have a chance
to add lesson links to this remediation later on), 
and click <b>Add</b>.

{% crispy nrform %}
</div>

{% if em.question.concept %}
  <h3>Link to Common Error</h3>
  {% if not em.commonError %}
    This Error Model is not linked to a Common Error for this concept.
    Please either link it to an existing Common Error for this
    concept, or add a new Common Error based on this Error Model:
  {% endif %}
  {% if emceForm %}
    <form action="{{ actionTarget }}" method="post">
      {% csrf_token %}
      {{ emceForm }}
      <input type="submit" value="Link to selected Common Error" />
      </form>
  {% endif %}
  
  {% if em.commonError %}
    <p>Example of common error: {{ em.commonError.synopsis }}</p>
  {% else %}
    <h3>Add new Common Error based on this Error Model</h3>
    <div class="container-fluid">
    {% crispy ceform %}
    </div>
  {% endif %}
{% endif %}

{% if relatedErrors %}
  <h3>Related Errors</h3>
  <ul>
  {% for re in relatedErrors %}
    <li><a href="{% url 'ct:error_model' re.id %}">
    {{ re.description }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

<p>By {{ em.author.get_full_name }}, {{ atime }}</p>


{% endblock %}
