{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

{% if headText %}
<input type="checkbox" id="headtoggle"/>Show Question and Answer<BR>
<div id="headdiv" style="display: none">
{{ headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ErrorsTabDiv">

{% if seTable %}
<table class="table table-striped">
<thead><tr>
  <th>Students</th><th>Error</th>
</tr></thead>
<tbody>
{% for ul,emTotal in seTable %}
  <tr>
    <td>{{ emTotal }}</td>
    <td><a href="{{ actionTarget |get_object_url:ul }}">{{ ul.lesson.title }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if responseFilterForm %}
<input type="checkbox" id="noverrtoggle"
{% if showNovelErrors %}
CHECKED
{% endif %}
/>Show Uncategorized Errors<BR>
{% if showNovelErrors %}
<div id="noverrdiv">
{% else %}
<div id="noverrdiv" style="display: none">
{% endif %}
<form action="{{ actionTarget }}" method="get"
   style=" display:inline!important;">
  Show uncategorized student responses that are
  {{ responseFilterForm.selfeval }} vs. the right answer,
  where the student was initially {{ responseFilterForm.confidence }},
  and now understands the concept: {{ responseFilterForm.status }}<br>
  <input type="submit" value="Show" />
</form><br>
<table class="table table-striped">
<thead><tr>
  <th>Status</th><th>Student's answer</th>
</tr></thead>
<tbody>
{% for r in novelErrors %}
  <tr>
  <td><a href="{{ actionTarget |get_object_url:r }}">Assess</a>
    </td>
  <td>{{ r.text|md2html }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>

<script>
$( "#noverrtoggle" ).click(function() {
  $( "#noverrdiv" ).toggle();
});
</script>
{% endif %}

{{ msg }}
{% if searchForm %}
<form action="{{ actionTarget }}" method="get">
{{ searchForm }}
<input type="submit" value="Search" />
</form>
{% endif %}

{% if lessonSet %}
<h2>Search Results</h2>
If one of these is relevant to this concept,
please click <b>{{ actionLabel }}</b>.
<ul>
{% for ul in lessonSet %}
  <li><a href="{{ actionTarget |get_object_url:ul }}">{{ ul.lesson.title }}</a>
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="ulID" value="{{ ul.pk }}" />
  <input type="submit" value="{{ actionLabel }}" />
  </form>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if lessonForm %}
<h3>Write a New Error Model</h3>
{{ creationInstructions }}
<div class="container-fluid">
{% crispy lessonForm %}
</div>
{% endif %}

  </div><!-- @end #ErrorsTabDiv -->
</div>
{% endblock %}
