{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  FSM explanation node page
{% endcomment %}

{% block title %}
  Activity Center
{% endblock %}

{% block content %}

{% if fsmStack.state %}
  You are currently in the middle of an activity:
  <b>{{ fsmStack.state.title }}</b>.

{% if fsmStack.state.fsmNode.fsm.description %}
<input type="checkbox" id="headtoggle"/>Show Description<BR>
<div id="headdiv" style="display: none">
{{ fsmStack.state.fsmNode.fsm.description }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

  <h3>Next Steps: {{ fsmStack.state.fsmNode.title }}</h3>
  {{ fsmStack.state.fsmNode.description }}

  <h3>Options</h3>
  <ul>
    <li>  You can resume the next step of this activity by clicking on
      the Resume Activity button.
      <button type="button" onclick="location.href='{{ fsmStack.state.path }}'">
      Resume Activity
      </button>
    </li>
    {% if cancelForm %}
    <li>You can cancel this activity.
      {% crispy cancelForm %}
    </li>
    {% endif %}
    <li>You can logout and resume this activity at another time.</li>
  </ul>
{% else %}
  You currently have no ongoing activities.
  {% if unfinished %}
    <h3>Unfinished Activities</h3>
    If you wish, you can resume (or cancel) one of the following 
    unfinished activities begun in a previous login session:
<table class="table table-striped">
<thead><tr>
  <th>Unfinished activities</th>
</tr></thead>
<tbody>
{% for state in unfinished %}
  <tr>
    <td><b>{{ state.title }}</b> (started {{ state.atime|display_datetime }}):
        {{ state.description }}
        <form action="{{ actionTarget }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="fsmstate_id" value="{{ state.id }}"/>
        <input type="submit" value="Resume this activity" />
     </td>
  </tr>
{% endfor %}
</tbody>
</table>
    
  {% endif %}
{% endif %}

{% endblock %}
