{% extends "ct/portal.html" %}
{% load ct_extras %}

{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  Courselets.org is currently in a private alpha release.
  Access to the private alpha is by invitation only.
  <section>
{% if user.is_authenticated and user.role_set.count > 0 %}
    {% if liveSessions %}
      <h2>Live Sessions</h2>
      You can join the following live classroom session(s) by clicking
      the Join button below:
      <table class="table table-striped">
      <thead><tr><th>Course</th><th>Instructor</th><th>Started</th></tr></thead>
      <tbody>
      {% for liveSession in liveSessions.all %}
        <tr><td>{{ liveSession.activity.course.title }}
          <form action="{{ actionTarget }}" method="post"
           style=" display:inline!important;">
          {% csrf_token %}
          <input type="hidden" name="liveID" value="{{ liveSession.id }}" />
          <input type="submit" value="Join" />
          </form>
          </td>
          <td>{{ liveSession.user.get_full_name }}</td>
          <td>{{ liveSession.activity.startTime|display_datetime }}</td>
        </tr>
      {% endfor %}
      </tbody></table>
    {% endif %}

<h2>Your Classes</h2>
Click on any of the following courses to start working on it!
<table class="table table-striped">
<thead><tr><th>Course</th><th>Role</th></tr></thead>
<tbody>
    {% for role in user.role_set.all %}
    <tr><td>
    {% if role.role == 'prof' %}
    <a href="{% url 'ct:course' role.course.id %}">{{ role.course.title }}</a>
    {% else %}
    <a href="{% url 'lms:course_view' role.course.id %}">{{ role.course.title }}</a>
    {% endif %}
    </td>
    <td>{{ role.get_role_display }}</td>
    </tr>
    {% endfor %}
</tbody></table>
{% elif user.is_authenticated %}
{# <a href="/ct/teach/">Homepage for Instructors</a> #}
{% else %}
    <h2>Welcome, new user. Please log in.</h2>
    <a href="/login/?next=/ct/">Login</a>
{% endif %}
  </section>
{% endblock %}
