{% extends "ct/portal.html" %}
{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  Courselets.org is currently in a private alpha release.
  Access to the private alpha is by invitation only.
  <section>
{% if user.is_authenticated and user.role_set.count > 0 %}
    {% if fsmStack.state.liveSession %}
      <p>You are currently in a live session.  Either click here
      to <a href="{% url 'ct:live' %}">go to its exercises</a> or else
      <form action="{{ actionTarget }}" method="post"
       style=" display:inline!important;">
      {% csrf_token %}
      <input type="hidden" name="task" value="liveend" />
      <input type="submit" value="Exit Live Exercise" />
      </form>
      </p>
    {% elif liveSessions %}
      <h2>Live Sessions</h2>
      <ul>
      {% for liveSession in liveSessions.all %}
        <li>{{ liveSession }}
          <form action="{{ actionTarget }}" method="post"
           style=" display:inline!important;">
          {% csrf_token %}
          <input type="hidden" name="liveID" value="{{ liveSession.id }}" />
          <input type="submit" value="Join" />
          </form>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
<table class="table table-striped">
<thead><tr><th>Your classes</th><th>Role</th></tr></thead>
<tbody>
    {% for role in user.role_set.all %}
    <tr><td>
    {% if role.role == 'not-prof' %}
    <a href="{% url 'ct:course' role.course.id %}">{{ role.course.title }}</a>
    {% else %}
    <a href="{% url 'ct:course_student' role.course.id %}">{{ role.course.title }}</a>
    {% endif %}
    </td>
    <td>{{ role.get_role_display }}</td>
    </tr>
    {% endfor %}
</tbody></table>
{% elif user.is_authenticated %}
<a href="/ct/teach/">Homepage for Instructors</a>
{% else %}
    <h2>Welcome, new user. Please log in.</h2>
    <a href="/login/?next=/ct/">Login</a>
{% endif %}
  </section>
{% endblock %}
