{% extends "ct/portal.html" %}
{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  Portal
{% endblock %}

{% block content %}
  <section>
{% if user.is_authenticated and user.role_set.count > 0 %}
    {% if liveID %}
      <p>You are currently in a live session.  Either click here
      to <a href="{% url 'ct:live' %}">go to its exercises</a> or else
      <form action="{{ actionTarget }}" method="post"
       style=" display:inline!important;">
      {% csrf_token %}
      <input type="hidden" name="task" value="liveend" />
      <input type="submit" value="Exit Live Exercise" />
      </form>
      </p>
    {% elif liveSessions %}
      <h2>Live Sessions</h2>
      <ul>
      {% for liveSession in liveSessions.all %}
        <li>{{ liveSession }}
          <form action="{{ actionTarget }}" method="post"
           style=" display:inline!important;">
          {% csrf_token %}
          <input type="hidden" name="liveID" value="{{ liveSession.id }}" />
          <input type="submit" value="Join" />
          </form>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <h2>{{ user.get_full_name }}'s Classes</h2>
    <ul>
    {% for role in user.role_set.all %}
    <li><a href="{% url 'ct:course' role.course.id %}">{{ role.course.title }}</a>
      ({{ role.get_role_display }})</li>
    {% endfor %}
    </ul>
{% else %}
    <h2>Welcome, new user. Please log in.</h2>
{% endif %}
    <p>This is the main page of the web portal.</p>
  </section>
{% endblock %}
