{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  View or edit a lesson
{% endcomment %}

{% block title %}
  {{ lesson.title }}
{% endblock %}

{% block content %}
{{ lesson.text |md2html }}
{% if lesson.sourceDB == 'youtube' %}
<iframe width="560" height="315"
        src="http://www.youtube.com/embed/{{ lesson.sourceID }}?rel=0"
        frameborder="0" allowfullscreen></iframe>
{% elif lesson.sourceDB == 'vimeo' %}
<iframe width="500" height="281"
        src="http://player.vimeo.com/video/{{ lesson.sourceID }}"
        frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
{% endif %}

{% if lesson.lessonlink_set.count > 0 %}
<h2>Related concepts</h2> 
  <ul>
  {% for ll in lesson.lessonlink_set.all %}
    <li>
    {{ ll.get_relationship_display }}
    <a href="{% url 'ct:concept' ll.concept.id %}">
    {{ ll.concept.title }}</a>.
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
