{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  Teacher's overview of a lesson
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="LessonsTabDiv">

{{ unitLesson.lesson.text |md2html }}
{% if unitLesson.lesson.sourceDB == 'youtube' %}
<iframe width="560" height="315"
        src="http://www.youtube.com/embed/{{ unitLesson.lesson.sourceID }}?rel=0"
        frameborder="0" allowfullscreen></iframe>
{% elif unitLesson.lesson.sourceDB == 'vimeo' %}
<iframe width="500" height="281"
        src="http://player.vimeo.com/video/{{ unitLesson.lesson.sourceID }}"
        frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
{% endif %}

{% if unitLesson.lesson.url %}
<b>Read <a href="{{ unitLesson.lesson.url }}">more information here</a></b>.
<br>
{% endif %}

<b>Author</b>: <a href="/ct/people/{{ unitLesson.lesson.addedBy.pk }}/">{{ unitLesson.lesson.addedBy.get_full_name }}</a>
<hr>

{% if pageData.nextForm %}
<div class="container-fluid">
{% crispy pageData.nextForm %}
</div>
{% endif %}

  </div><!-- @end #LessonsTabDiv -->
</div>
{% endblock %}
