{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  Teacher's overview of a lesson
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block refresher %}
{% if refreshInterval %}
<meta http-equiv="Refresh" content="{{ refreshInterval }}; url={{ actionTarget }}">
{% endif %}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="TeachTabDiv">

{% if addForm %}
  <b>This lesson is not part of this courselet.  You can add it to
  this courselet by clicking the Add button below.</b>
{% endif %}

{% if answer %}
  <input type="checkbox" id="headtoggle"/>Show Question<BR>
  <div id="headdiv" style="display: none">
{% endif %}

{{ unitLesson.lesson.text |md2html }}

{% if unitLesson.lesson.sourceDB == 'youtube' %}
<iframe width="560" height="315"
        src="http://www.youtube.com/embed/{{ unitLesson.lesson.sourceID }}?rel=0"
        frameborder="0" allowfullscreen></iframe>
{% elif unitLesson.lesson.sourceDB == 'vimeo' %}
<iframe width="500" height="281"
        src="http://player.vimeo.com/video/{{ unitLesson.lesson.sourceID }}"
        frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
{% endif %}

{% if unitLesson.lesson.url %}
<b>Read <a href="{{ unitLesson.lesson.url }}">more information here</a></b>.
<br>
{% endif %}

{% if answer %}
  </div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>

  <h3>Answer</h3>
  {{ answer.lesson.text |md2html }}
{% endif %}

{% if elapsedTime %}
  <b>Time Elapsed:</b> {{ elapsedTime }}<br>
  {% if answer %}
    When you are done presenting this answer, click Next:
  {% else %}
    When you are ready to present the answer to the students, click Next:
  {% endif %}
  {% if pageData.nextForm %}
    {% crispy pageData.nextForm %}
  {% endif %}
{% elif startForm %}
  When ready, click here to start the lesson timer:
  {% crispy startForm %}
{% endif %}

<b>Author</b>: <a href="/ct/people/{{ unitLesson.lesson.addedBy.pk }}/">{{ unitLesson.lesson.addedBy.get_full_name }}</a>
{% if statusTable %}
<h2>{{ statusTable.title }}</h2>

<table class="table table-striped">
  <thead><tr>
    {% for c in statusTable.headings %}
      <th>{{ c }}</th>
    {% endfor %}
  </tr></thead>
  <tbody><tr>
    {% for c in statusTable.data %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr></tbody>
</table>
{% else %}
  <p>No students have responded yet.</p>
{% endif %}


{% if needHelpResponses %}
  <h2>User responses still need help</h2>
  <table class="table table-striped">
    <thead><tr>
        <th>Response</th>
        <th>User</th>
        </tr>
    </thead>
    <tbody>
      {% for userResponse in needHelpResponses %}
      <tr>
        <td>
            <a href="{% url 'ct:assess_teach' course_id=userResponse.course.id unit_id=userResponse.course.id ul_id=userResponse.unitLesson.id resp_id=userResponse.id%}">{{ userResponse.text }}</a>
        </td>
        <td>
            <a href="{% url 'ct:person_profile' userResponse.author.pk %}">{{ userResponse.author }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}



{% if evalTable %}
<h2>Student Self-Assessments</h2>

<table class="table table-striped">
  <thead><tr>
    <th></th>
    <th>Wrong</th>
    <th>Close</th>
    <th>Correct</th>
  </tr></thead>
  <tbody>
  {% for label, row in evalTable %}
  <tr>
    <td><b>{{ label }}</b></td>
    {% for c in row %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if addForm %}
  {% crispy addForm %}
{% elif roleForm and not unitLesson.parent %}
  {% crispy roleForm %}
{% endif %}



  </div><!-- @end #TeachTabDiv -->
</div>
{% endblock %}
