{% extends "ct/portal.html" %}
{% load social_tags %}

{% block title %}
User profile page
{% endblock %}
{% block content %}
{% if person and user.id == person.id %}
    <div class="buttons">
      {% if user.is_authenticated and not 'anonymous' in user.username %}
        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
        </div>
      {% endif %}
      {% if user and 'anonymous' in user.username %}
      <h3>You are in a temporary anonymous session.</h3>
      <p>You can login with you social account to create real account.</p>
      {% endif %}
      {% if not user.email %}
      Also you can provide your email to create real account.
      {% endif %}
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
      {% endif %}

      <div class="social">
        {% include 'psa/social_backends.html' %}
      </div>

      {% if user and not 'anonymous' in user.username or not user.email %}
      <div class="legacy">
        {% include 'psa/legacy_backends.html' %}
      </div>
      {% endif %}

      <div>
        <a class="btn btn-primary" href="/logout/">
          <i class="fa fa-sign-out"></i>
          {% if user and 'anonymous' in user.username %}
          Leave anonymous session
          {% else %}
          Logout
          {% endif %}
        </a>
      </div>
    </div>

{% endif %}    
{% endblock %}
