{% extends "base.html" %}

{% load crispy_forms_tags menu_tags static %}
{% load ct_extras %}
{% load waffle_tags %}


{% comment %}
  This is the main template for all portal pages.
{% endcomment %}

{% block head %}
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>
<script type="text/javascript" src='{% static "js/ct.js" %}'>
</script>
<script src="https://use.typekit.net/aof4bxp.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{% block refresher %}{% endblock %}

{% if pageData %}
  <title>{{ pageData.title }} - Courselets</title>
{% else %}
  <title>Courselets</title>
{% endif %}

<link rel="stylesheet" href='{% static "css/ct.css" %}'>

{% endblock %}

{% block body %}

  <nav class="navbar-default navbar-static-top" role="navigation">
    <div class="container">
    {% if 'teach/courses' in request.get_full_path %}
      <div class="alert alert-info">
          You're currently viewing the old Instructor UI. <a href="{% url "ctms:my_courses" %}">Return to the new Instructor UI</a>.
      </div>
    
    {% elif 'ct/courses' in request.get_full_path and course %}
      <div class="alert alert-info">
          You're currently viewing the old LMS UI. <a href="{% url "lms:course_view" course.id %}">Return to the new LMS UI</a>.
      </div>
    {% endif %}

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Courselets.org</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="child sibling">
              <a href="/ct/">Courses Dashboard</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">
            {% if not fsmStack.state or not fsmStack.state.hideNav %}
              {{ actionTarget|get_dummy_navbar }}
            {% endif %}
            {% if pageData.fsmLauncher %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Start Activity <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for launchForm,fsm in pageData.fsmLauncher.values %}
                <li>
                   {% crispy launchForm %}
                </li>
              {% endfor %}
            </ul>
            </li>
            {% endif %}

            {% switch "menu_activity_center_link_enabled" %}
            {% if fsmStack.state %}
            <li><a href='/fsm/nodes/'>{{ fsmStack.state.title }}</a></li>
            {% elif user.is_authenticated %}

                <li><a href='/fsm/nodes/'>Activity Center</a></li>
            {% endif %}
            {% endswitch %}
          </ul>

          <ul class="nav navbar-nav">
            {% show_menu  0 1 100 100 %}

            <li class="child sibling">
              {% if request.user.is_authenticated %}
              <a href="{% url 'ct:person_profile' user_id=request.user.id %}">Profile</a>
              {% else %}
              <a href="{% url 'new_login' %}">Login</a>
              {% endif %}
            </li>

          </ul>
        </div>
    </div>
  </nav>

  <div class="container" style="padding-bottom: 150px;">
    {% if pageData.errorMessage %}
      <p><b>{{ pageData.errorMessage }}</b></p>
    {% elif pageData.statusMessage %}
      <p><b>{{ pageData.statusMessage }}</b></p>
    {% endif %}

    {% if fsmStack.state %}
      {% if pageData.fsm_help_message %}
        {{ pageData.fsm_help_message }}
        <br>
      {% elif pageData.fsm_off_path %}
        <b>Note</b>: you are currently in the middle of an activity:
        <b>{{ fsmStack.state.title }}</b>.
        When you're done viewing other pages such as this one,
        you can resume the next step of that activity by clicking on
        the Resume Activity button.
        <button type="button" onclick="location.href='{{ fsmStack.state.path }}'">
        Resume Activity
        </button>
        <br>
      {% endif %}
    {% endif %}

    <header>
      <h1>{% block title %}{% endblock %}</h1>
    </header>

    {% block content %}{% endblock %}
  </div>

  <footer class="footer-main" style="position: absolute; left: 0; bottom: 0; width: 100%; padding-bottom: 50px;">
     <div class="container">
      © 2019 Courselets.org
    </div>
  </footer>

  {% include 'psa/modal.html' %}
  {% include 'psa/auth.js.html' %}

{% endblock %}
