{% extends "base.html" %}
{% load ct_extras %}
{% comment %}
  This is the main template for all portal pages.
{% endcomment %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>

<script type="text/javascript">
function setInterest(targeturl, state, csrftoken)
{
  $.post(targeturl,
  {
    csrfmiddlewaretoken:csrftoken,
    state:state
  });
}

function toggleInterest(o, targeturl, csrftoken)
{
  if (o.value == "1")
  {
    o.value="0";
  }
  else
  {
    o.value="1";
  }
  setInterest(targeturl, o.value, csrftoken);
}
</script>

{% block refresher %}{% endblock %}

{% if pageData %}
  <title>{{ pageData.title }} - Courselets</title>
{% else %}
  <title>Courselets</title>
{% endif %}
{% endblock %}

{% block body %}
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/ct/">Courselets.org</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if not fsmStack.state or not fsmStack.state.hideNav %}
            <li><a href="/ct/about/">About</a></li>
            {{ actionTarget|get_dummy_navbar }}
          {% endif %}
          {% if fsmStack.state %}
          <li><a href='/ct/nodes/'>{{ fsmStack.state.title }}</a></li>
          {% endif %}
          {% block navbar %}{% endblock %}
        </ul>
        <ul class="nav navbar-right">
          {% if user %}
          <li><a href="/ct/people/{{ user.pk }}/">{{ user.get_full_name }}</a></li>
          {% else %}
          <li><a href="/login/?next=/ct/">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if pageData.errorMessage %}
    <p><b>{{ pageData.errorMessage }}</b></p>
  {% elif pageData.statusMessage %}
    <p><b>{{ pageData.statusMessage }}</b></p>
  {% endif %}

  {% if fsmStack.state %}
    {% if pageData.fsm_on_path %}
      {% if fsmStack.state.fsmNode.help %}
        {{ fsmStack.state.fsmNode.help }}
        <br>
      {% endif %}
    {% elif pageData.fsm_off_path %}
      <b>Note</b>: you are currently in the middle of an activity:
      <b>{{ fsmStack.state.title }}</b>.
      When you're done viewing other pages such as this one,
      you can resume the next step of that activity by clicking on
      the Resume Activity button.
      <button type="button" onclick="location.href='{{ fsmStack.state.path }}'">
      Resume Activity
      </button>
      <br>
    {% endif %}
  {% endif %}

  <header>
    <h1>{% block title %}{% endblock %}</h1>
  </header>

  {% block content %}{% endblock %}

{% endblock %}
