{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  Let the instructor monitor self-assessment
{% endcomment %}

{% block title %}
  {{ question.title }}
{% endblock %}

{% block content %}
<input type="checkbox" name="studylist"
onclick="toggleInterest(this, '{{ actionTarget }}studylist/', '{{ csrf_token }}')"
{% if inStudylist %}
value="1" CHECKED
{% else %}
value="0"
{% endif %}
/>Keep in my study list

<p>By {{ question.author.username }}, {{ atime }}</p>

{% if question.concept %}
<p>Tests <a href="{% url 'ct:concept' question.concept.id %}">
{{ question.concept.title }}</a>
  {% if allowEdit %}
    <button type="button" onclick="location.href='{{ actionTarget }}concept/'">
    Change
    </button>
  {% endif %}
</p>
{% elif allowEdit %}
Please link this question to a concept:
<button type="button" onclick="location.href='{{ actionTarget }}concept/'">
Add concept link
</button>
{% endif %}

<h2>Question</h2> 
{{ qtext }}

{% if answer %}
<h2>Correct answer</h2> 
{{ answer }}
{% endif %}

{% if allowEdit %}
  <input type="checkbox" id="edittoggle"/>Edit.<BR>
  <div class="container-fluid" id="editform" style="display: none">
  {% crispy qform %}
  </div>

  <script>
  $( "#edittoggle" ).click(function() {
    $( "#editform" ).toggle();
  });
  </script>
{% endif %}


{% endblock %}

