{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}

{% comment %}
  unit start page
{% endcomment %}

{% block title %}
  {{ unit.title }}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="StudyTabDiv">

{% if pageData.navTabs %}
<p>It looks like you've already started working on this courselet.</p>
<ul>
  <li>To see suggested next steps to study, such as exercises you haven't
  yet completed, click the <b>Tasks</b> tab.</li>
  <li>You can also repeat the lessons in this courselet at any time
  by clicking the <b>Start</b> button below.</li>
  <li>You can study individual lessons by clicking the <b>Lessons</b> tab.</li>
</ul>
{% else %}
Welcome!  To start this courselet, click <b>Start</b>.
{% endif %}

{% if startURL %}
<p><button type="button" onclick="location.href='{{ startURL }}'">
Start
</button></p>
{% else %}
<p>Your instructor has not added any lessons yet.</p>
{% endif %}

  </div><!-- @end #StudyTabDiv -->
</div>
{% endblock %}
