{% extends "ct/portal.html" %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  Prof. {{ user.username }}
{% endblock %}

{% block content %}
{% if courses.count > 0 %}
<h2>Your Courses</h2>
<ul>
{% for course in courses %}
  <li><a href="{% url 'ct:course' course.id %}">{{ course.title }}</a>:
  {% if course.unit_set.count > 0 %}
    ({{ course.unit_set.count }} units)
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Create a Course</h2>

<form action="{% url 'ct:courses' %}" method="post">
{% csrf_token %}
{{ courseform }}
<input type="submit" value="Add" />
</form>

{% endblock %}
