{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

{% if pageData.headText %}
<input type="checkbox" id="headtoggle" />Show {{ pageData.headLabel }}<BR>
<div id="headdiv" style="display: none">
{{ pageData.headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="FAQTabDiv">

(View <a href="{{ actionTarget |get_object_url:unitLesson }}faq/">
all FAQs for this lesson</a>)<br>

<h2>Discussion: {{ inquiry.title }}</h2> 
{% if pageData.numPeople %}
  {{ pageData.numPeople }} other people also have this question.
{% endif %}
{% if user != inquiry.author %}
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="task" value="meToo" />
  <input type="submit" value="Me too!" />
  </form>
{% endif %}

<table class="table table-bordered">
  <thead><tr class="info">
    <th>
    {{ inquiry.title }}
    (<a href="/ct/people/{{ inquiry.author.pk }}/">
    {{ inquiry.author.get_full_name }}</a>,
    {{ inquiry.atime|display_datetime }})</th>
  </tr></thead>
  <tbody>
  <tr class="active"><td>
    {{ inquiry.text|md2html }}
  <a href="{{ actionTarget|get_object_url:inquiry }}assess/">
  (Assess errors)</a>
  </td></tr>
</tbody></table>


{% if errorTable %}
{% for se in errorTable %}
  <table class="table table-bordered">
  <thead><tr class="info">
    <th>
    Caution: {{ se.errorModel.lesson.title }}
    (<a href="/ct/people/{{ se.author.pk }}/">
    {{ se.author.get_full_name }}</a>,
    {{ se.atime|display_datetime }})</th>
  </tr></thead>
  <tbody>
  <tr class="warning"><td>
    Were you falling into the following error model?
    {{ se.errorModel.lesson.text|md2html }}
    (Click here to 
    <a href="{{ actionTarget |get_object_url:se.errorModel }}">
    learn more about this issue</a>).
  </td></tr>
  </tbody></table>
{% endfor %}
{% endif %}

{% if faqTable %}
{% for ul in faqTable %}
  <table class="table table-bordered">
  <thead><tr class="info">
    <th>
    Suggested Exercise: {{ ul.lesson.title }}
    (<a href="/ct/people/{{ ul.addedBy.pk }}/">
    {{ ul.addedBy.get_full_name }}</a>,
    {{ ul.atime|display_datetime }})</th>
  </tr></thead>
  <tbody>
  <tr class="success"><td>
    This exercise may help you understand this issue better.
    (Click here to 
    <a href="{{ actionTarget |get_object_url:ul }}">
    try the exercise</a>).
  </td></tr>
  </tbody></table>
{% endfor %}
{% endif %}

{% if replyTable %}
{% for r,errors in replyTable %}
  <table class="table table-bordered">
  <thead><tr class="info">
    <th>
    {{ r.title }}
    (<a href="/ct/people/{{ inquiry.author.pk }}/">{{ r.author.get_full_name }}</a>,
    {{ r.atime|display_datetime }})</th>
  </tr></thead>
  <tbody>

  <tr class="active"><td>
    {{ r.text|md2html }}
    <a href="{{ actionTarget|get_object_url:r }}assess/">(Assess errors)</a>
  </td></tr>

  {% if errors %}
      {% for se in errors %}
        <tr class="warning"><td>
        <b>Note to the commenter: {{ se.errorModel.lesson.title }}
        (<a href="/ct/people/{{ se.author.pk }}/">
        {{ se.author.get_full_name }}</a>,
        {{ se.atime|display_datetime }})</b><br>
        Were you falling into the following error model?
        {{ se.errorModel.lesson.text|md2html }}
        (Click here to 
        <a href="{{ actionTarget |get_object_url:se.errorModel }}">
        learn more about this issue</a>).
        </td></tr>
      {% endfor %}
  {% endif %}
  </tbody></table>
{% endfor %}
{% else %}
There are no replies yet.
{% endif %}


{% if form %}
<h3>Reply to this discussion</h3>
<div class="container-fluid">
{% crispy form %}
</div>
{% endif %}


  </div><!-- @end #FAQTabDiv -->
</div>
{% endblock %}
