{% extends "ct/portal.html" %}

{% load ct_extras %}

{% block content %}
<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="EditTabDiv">

<div class="container-fluid" id="editform">

<h2>Answers for Courselet</h2>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Student Name</th>
      {% for i in table_head %}
      <th>{{ i }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for k, v in table_body.items %}
      <tr>
        <td>{{ k|display_full_username }}</td>
        {% for j in v %}
        <td>
        {% if j %}
          Eval:
          <a href="{% url 'ct:response_details' resp_id=j.id %}">{{ j.selfeval }}</a>
          <br>
          {% if j.status %}Status: {{ j.status }}{% else %}No status{% endif %}
          {% else %}
        {% endif %}
        </td>
        {% endfor %}
      {% endfor %}
  </tbody>
</table>

{% if roles.has_other_pages %}
  <ul class="pagination">
    {% if roles.has_previous %}
      <li><a href="?page={{ roles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in roles.paginator.page_range %}
      {% if roles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if roles.has_next %}
      <li><a href="?page={{ roles.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>

{% endblock %}
