{% extends "ct/portal.html" %}
{% comment %}
  Let the instructor analyze exercise results
{% endcomment %}

{% block title %}
  {{ unitq.question.title }}
{% endblock %}

{% block content %}

<input type="checkbox" id="qtoggle"/>Show Question & Answer<BR>
<div id="qdiv" style="display: none">
<h2>Question</h2> 
{{ qtext }}

<h2>Correct answer</h2> 
{{ answer }}
</div>

<script>
$( "#qtoggle" ).click(function() {
  $( "#qdiv" ).toggle();
});
</script>


<input type="checkbox" id="instrtoggle"/>Show Page Instructions<BR>
<div id="instrdiv" style="display: none">
<ul>
<li>Please write some instructions</li>
</ul>
</div>

<script>
$( "#instrtoggle" ).click(function() {
  $( "#instrdiv" ).toggle();
});
</script>

<h2>Final Status for Understanding This Concept</h2>

<table border=1>
  <tr>
    <th>Still confused, need help</th>
    <th>OK, but need review</th>
    <th>Solid understanding</th>
    <th>(not yet)</th>
  </tr>
  <tr>
    {% for c in statusCounts %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr>
</table>

{% if evalCounts %}
<h2>Student Self-Assessments</h2>

<table border=1>
  <tr>
    <th></th>
    <th>Wrong</th>
    <th>Close</th>
    <th>Correct</th>
  </tr>
  {% for label, row in evalCounts %}
  <tr>
    <td><b>{{ label }}</b></td>
    {% for c in row %}
    <td>{{ c }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if errorCounts %}
<h2>Student Errors</h2>
<ul>
  {% for em, studentErrors, emTotal in errorCounts %}
    <li><b>{{ emTotal }}</b>: {{ em.description }}</li>
  {% endfor %}
</ul>
{% endif %}



{% endblock %}

