{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}
{% load ct_extras %}
{% comment %}
  View or edit a course
{% endcomment %}

{% block title %}
  {{ pageData.title }}
{% endblock %}

{% block content %}

{% if pageData.headText %}
<input type="checkbox" id="headtoggle"/>Show {{ pageData.headLabel }}<BR>
<div id="headdiv" style="display: none">
{{ pageData.headText }}
</div>

<script>
$( "#headtoggle" ).click(function() {
  $( "#headdiv" ).toggle();
});
</script>
{% endif %}

<ul class="nav nav-tabs">
  {% for tabLabel,tabURL in pageData.navTabs %}
  {% if "/" in tabURL %}
  <li><a href="{{ tabURL }}">{{ tabLabel }}</a></li>
  {% else %}
  <li class="active"><a href="{{ tabURL }}" id="{{ tabLabel }}TabA" data-toggle="tab">{{ tabLabel }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="TasksTabDiv">

<table class="table table-striped">
<thead><tr>
  <th>Lesson</th><th>Next Step to work on</th>
</tr></thead>
<tbody>

{% for ul,task in taskTable %}
  <tr>
  {% if task == 'start' %}
    <td>
      <a href="{{ actionTarget|get_object_url:ul }}ask/">{{ ul.lesson.title }}</a>
    </td>
    <td>
      answer the question
    </td>
  {% else %}
    <td>
      <a href="{{ actionTarget|get_tasks_url:ul }}">{{ ul.lesson.title }}</a>
    </td>
    <td>
    {% if task == 'selfeval' %}
      assess the correctness of your answer
    {% elif task == 'classify' %}
      classify what error(s) you made in your answer
    {% else %}
      work to resolve an error you made in your answer
    {% endif %}
    </td>
  {% endif %}
  </tr>
{% endfor %}

</tbody>
</table>

  </div><!-- @end #TasksTabDiv -->
</div>
{% endblock %}
