{% extends "ct/portal.html" %}
{% load crispy_forms_tags %}

{% comment %}
  View or edit a course unit
{% endcomment %}

{% block title %}
  {{ unit.title }}
{% endblock %}

{% block content %}
<input type="checkbox" id="edittoggle"/>Edit.<BR>
<div class="container-fluid" id="editform" style="display: none">
{% crispy titleform %}
  
<form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Delete this Unit" />
</form>
</div>

<script>
$( "#edittoggle" ).click(function() {
  $( "#editform" ).toggle();
});
</script>

<p>Course: <a href="{% url 'ct:course' unit.course.id %}">
{{ unit.course.title }}</a></p>

{% if unit.liveUnitQ %}
You are now teaching this unit as a <b>live (classroom) session</b>. 
  <form action="{{ actionTarget }}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="task" value="liveend" />
  <input type="submit" value="End Live Session" />
  </form>
{% endif %}

{% if unit.unitq_set.count > 0 %}
<h2>Exercises in this Unit</h2>
<ul>
{% for unitq in unit.unitq_set.all %}
  <li><a href="{% url 'ct:question' unitq.question.id %}">
  {{ unitq.question.title }}</a>:
  {% if unitq.response_set.count > 0 %}
    (<a href="{% url 'ct:unitq' unitq.id %}">
     {{ unitq.response_set.count }} student responses</a>)
  {% endif %}
  <form action="{% url 'ct:unitq' unitq.id %}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="task" value="livestart" />
  <input type="submit" value="Start Live Exercise" />
  </form>
  <form action="{% url 'ct:unitq' unitq.id %}" method="post"
   style=" display:inline!important;">
  {% csrf_token %}
  <input type="hidden" name="task" value="delete" />
  <input type="submit" value="Remove from Unit" />
  </form>
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Add an Exercise</h2>

{% if slform %}
  <form action="{{ actionTarget }}" method="post">
  {% csrf_token %}
  {{ slform }}
  <input type="submit" value="Add" />
  </form>
{% endif %}

<input type="checkbox" id="newqtoggle"/>Write a New Exercise.<BR>
<div class="container-fluid" id="newqform" style="display: none">
{% crispy qform %}
</div>

<script>
$( "#newqtoggle" ).click(function() {
  $( "#newqform" ).toggle();
});
</script>


{% endblock %}

