<li class="{{#if isUnlocked}} unlocked {{/if}}
           {{#if isStarted}} started {{/if}}
           {{#if isDone}} done {{/if}}"
           data-href="{{id}}"
           data-ul="{{ul}}">
  {{{html}}}
</li>
