[run]
omit =
    ../*admin*
    ../*migrations*
    psa/models.py
    psa/custom_django_storage.py
    psa/custom_django_strategy.py
    */test/*
    */tests/*
    */*tests*.py
    conftest.py
    */__init__.py
    manage.py
    mysite/settings/*
    mysite/urls.py
    mysite/wsgi.py
    fsm/fsm_plugin/testme.py
    ct/urls.py
    fsm/urls.py
    lms/urls.py
    lti/urls.py
    psa/urls.py
    api/urls.py
    api/v0/urls.py
    chat/urls.py
    fsm/mixins.py
