[run]
omit =
    ../*admin*
    ../*migrations*
    psa/models.py
    psa/custom_django_storage.py
    psa/custom_django_strategy.py
    */test/*
    */tests/*
    */*tests*.py
    conftest.py
    */__init__.py
    manage.py
    mysite/settings/*
    mysite/urls.py
    mysite/wsgi.py
