{% extends "lms_base.html" %}
{% load ct_extras %}
{% load staticfiles %}

{% block head %}
  <!-- Hide main content while page is loading if JavaScript is enabled -->
  <script>
    document.write('<style>main{display:none;}#page-preloader{display:block;}</style>');
  </script>
  <!-- End hide -->

  <link rel="stylesheet" href="{% static 'css/draw_svg.css' %}">
{% endblock %}

{% block content %}
  <!-- Preloader -->
  <div id="page-preloader"><span></span><span></span><span></span></div>

  <!-- Chat -->
  <main>
    <!-- Header -->
    <header class="course-header" {% if img_url %} style="background-image:url('{{ img_url }}');" {% else %} style="background-image:url('{% static "img/student/hero.jpg" %}');" {% endif %}>
      <div class="overlay"></div>

      <div class="container">
        <div class="logo"></div>

        <h1>{{ course.title }}</h1>

        <p>
          by {{ course.addedBy|display_full_username }}
        </p>
      </div>
    </header>

    <!-- Introduction -->
    <section class="chat-introduction">
      <div class="chat-introduction-title">
        <a href="{{ back_url }}">{{ back_url_name }}</a>
        {% if chat.is_live %}
        <h2>Live Session - {% if chat.last_modify_timestamp%}{{ chat.last_modify_timestamp|date:"F j, Y P" }}{% else %}{{ chat.timestamp }}{% endif %}</h2>
        {% else %}
        <h2>{{ unit.title }}</h2>
        {% endif %}
      </div>

      <div class="chat-introduction-body">
        <div class="description container">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              {% if fsmstate or not chat.is_live %}
              <p>
                {{ unit.description }} Remember that it doesn't matter if your answers are correct on Courselets. They are only a starting point for learning more about a concept.
              </p>

              <div class="row">
                <div class="col-lg-6">
                  <h3>You will learn about</h3>
                    <ul>
                      {% if will_learn %}
                      {% for title, url in will_learn %}
                      <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
                      {% endfor %}
                      {% else %}
                      <li>No prerequisities</li>
                      {% endif %}
                    </ul>
                </div>

                <div class="col-lg-6">
                  <h3>You need to know about</h3>
                    <ul>
                      {% if need_to_know %}
                      {% for title, url in need_to_know %}
                      <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
                      {% endfor %}
                      {% else %}
                      <li>No prerequisities</li>
                      {% endif %}
                    </ul>
                </div>
              </div>
              {% else %}
              <p>This is your history from your live session with {{ course.addedBy.get_full_name }} on {% if chat.last_modify_timestamp%}{{ chat.last_modify_timestamp|date:"F j, Y" }}{% else %}{{ chat.timestamp }}{% endif %}.
                You can view your previous answers, but you can't submit new ones.
              </p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="meta">
          <div class="container">
            {% if not fsmstate %}
              <span class="lessons">{{ lesson_cnt }} lessons</span>
              {% if not chat.is_live %}
              <span class="duration">~ {{ duration }} minutes</span>
              {% endif %}
            {% endif %}
          </div>
        </div>

        {% if not chat_id %}
          <div class="chat__history">
            <div class="container">
              <div class="col-lg-6 col-lg-offset-3">
                <h2>My History</h2>
                <p>
                  Click on a chat session to continue working on it or to review your previous answers.
                  You can start over if you want work on the lessons in this courselet again by clicking
                  on <em>New Chat Session</em> below.
                </p>

                <div class="unit-links unit-links--small">
                  <ul>
                    <!-- TODO Loop through courselet history -->
                  {% if chat_sessions %}
                    {% for chat_sess in chat_sessions %}
                    <!--TODO: remove comments after success runing code-->
                    <li>
                      <a href="{{ domain }}/chat/enrollcode/{{ chat_sess.enroll_code.enrollCode }}/{{ chat_sess.id }}/"
                         class="chat-start-session" data-chat-id="{{ chat_sess.id }}">
                        <h3>
                          {% if chat_sess.last_modify_timestamp%}
                          {{ chat_sess.last_modify_timestamp|date:"F j, Y P" }}
                          {% else %}{{ chat_sess.timestamp }}
                          {% endif %}
                        </h3>

                        <p>{{ chat_sess.lessons_done }} of {{ chat_sess.total_lessons }} lessons completed</p>
                        <p>Time spent: {{ chat_sess.get_formatted_time_spent }} </p>

                        <div class="unit-links__progress">
                          <span style="width: {% if chat_sess %}{{ chat_sess.progress }}{% else %}0{% endif %}%;"></span>
                        </div>
                      </a>
                    </li>
                    {% endfor %}
                  {% endif %}

                    <li>
                      <a class="chat-start-session unit-links__new" href="{{ domain }}/chat/enrollcode/{{ chat.enroll_code.enrollCode }}/0/" data-chat-id="0">
                        <h3>New Chat Session</h3>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        {% elif chat_id %}
          <div class="chat__start">
            <div class="container">
              <button class="chat-start-session" data-chat-id="{{ chat_id }}">
                {% if fsmstate %}Let's Get Started!{% else %}View History{%endif%}</button>
              </button>
            </div>
          </div>
        {% endif %}
      </div>

    </section>

    <!-- Chat messages container -->
    <section class="chat-messages"></section>
  </main>

  <!-- Chat sidebar -->
  <aside class="chat-sidebar">
    <header>
      <a href="{% if chat.is_test or chat.is_preview %}#is_test{% else %}{{ domain }}/lms/courses/{{ course.id }}{% endif %}">
        <div class="inner clearfix">
          {% if small_img_url %}
          <div class="cover" style="background-image:url('{{ small_img_url }}');"></div>
          {% else %}
          <div class="cover" style="background-image:url('{% static "img/student/hero.jpg" %}');"></div>
          {% endif %}

          <div class="description">
            <h3 class="courselet">{{ unit.title }}</h3>
            <div class="course">{{ course.title }}</div>
          </div>
        </div>
      </a>
    </header>

    <section>
      <h4>Formatting</h4>
      <div class="formatting-info">
        **<strong>bold</strong>** *<em>italic</em>* <a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html" target="_blank">more…</a>
      </div>
    </section>

    <section>
      <h4>Lessons</h4>
      <ul class="chat-sidebar-breakpoints"></ul>
    </section>

    <section>
      <h4 class="chat-sidebar-resources-header">Resources</h4>
      <ul class="chat-sidebar-resources"></ul>
    </section>
  </aside>

  <!-- Chat input bar -->
  <section class="chat-input-bar">
    <div class="inner">
      <div class="sidebar-toggle"><span></span></div>

      <div class="chat-progress">
        <span></span>
      </div>

      <div class="chat-container">
        <img src="{% static "img/student/avatar-student.jpg" %}" alt="Avatar" class="chat-avatar">

        <div class="chat-input">

          <div class="chat-input-text">

            <form class="chat-input-text-form" action="">

              <div class="input-text">
                <div class="preview" style=""></div>

                <textarea name="text" rows="1" placeholder="Type your answer here…"></textarea>
              </div>

              <div class="input-number">

              </div>

              <input type="submit" value="Send">
            </form>
          </div>

          <div class="chat-input-options"></div>

          <div class="chat-input-custom"></div>
        </div>

        <div class="chat-loading"><span></span><span></span><span></span></div>
      </div>

      <div class="fullscreen-toggle"><span></span></div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <!-- Chat config -->
  <script>
    var CUI = CUI || {};
    CUI.config = CUI.config || {};

    {% if not fsmstate.isLiveSession %}
    CUI.config.initNewChatUrl = '{% url 'chat:init_chat_api' enroll_key=enroll_code chat_id=0 %}';
    {% endif %}

    CUI.config.chatID = {% if chat_id %}{{ chat_id }}{% else %}0{% endif %};
    CUI.config.historyUrl = '/chat/history/';
    CUI.config.progressUrl = '/chat/progress/';
    CUI.config.resourcesUrl = '/chat/resources/';
    CUI.config.defaultStudentAvatar = '{% static "img/student/avatar-student.jpg" %}';
    CUI.config.defaultTeacherAvatar = '{{ instructor_icon }}';
  </script>

  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'writemaths/demo/rangy-core.js' %}"></script>
  <script type="text/javascript" src="{% static 'writemaths/demo/textinputs_jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'writemaths/writemaths.js' %}"></script>

  <!-- Mathjax -->
  <!--<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js">
    MathJax.Hub.Config({
      extensions: ['tex2jax.js',"TeX/AMSmath.js","TeX/AMSsymbols.js"],
      tex2jax: {inlineMath: [["$","$"]]}, //["\\(","\\)"]
      jax: ["input/TeX","output/HTML-CSS"],
      displayAlign: "center",
      displayIndent: "0.1em",
      showProcessingMessages: false
    });
  </script>

  <script language="javascript">
      // $(document).ready(function() {
          // $('div.input-text textarea').writemaths({
          //     position:'center top',
          //     previewPosition: 'center top',
          //     of: $('.preview')
          // });
      // });
  </script>

  <style >
    .preview {
      position: relative;
      bottom: 60px;
    }
  </style>

  <!-- Chat js -->
  <script src="{% static "bower_components/screenfull/src/screenfull.js" %}"></script>
  <script src="{% static "bower_components/zoom.js/dist/zoom.min.js" %}"></script>
  <script src="{% static "js/plugins/jquery.more-less.js" %}"></script>
  <script src="{% static "js/plugins/jquery.expanding-textarea.js" %}"></script>
  <script src="{% static "js/plugins/jquery.notify.js" %}"></script>
  <script src="{% static "js/cui.js" %}"></script>
  <script src="{% static "js/chat/models/cui.chat-breakpoint-model.js" %}"></script>
  <script src="{% static "js/chat/models/cui.chat-media-model.js" %}"></script>
  <script src="{% static "js/chat/models/cui.chat-message-model.js" %}"></script>
  <script src="{% static "js/chat/models/cui.sidebar-breakpoint-model.js" %}"></script>
  <script src="{% static "js/chat/models/cui.input-option-model.js" %}"></script>
  <script src="{% static "js/chat/models/cui.sidebar-resource-model.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.chat-message-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.chat-media-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.chat-breakpoint-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.input-option-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.sidebar-breakpoint-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.sidebar-resource-presenter.js" %}"></script>
  <script src="{% static "js/chat/presenters/cui.chat-presenter.js" %}"></script>
  <script src="{% static "js/helpers.js" %}"></script>
  <script src="{% static "js/chat/chat.js" %}"></script>
  <script src="{% static "js/draw_svg.js" %}"></script>
{% endblock %}
