<li class="{{#if isAvailable}} available {{/if}}
           {{#if isStarted}} started {{/if}}
           {{#if isDone}} done {{/if}}
           {{#if isCurrent}} is-active {{/if}}"
    data-first-message-id="{{id}}"
    data-thread-id="{{threadId}}"
    data-ul="{{ul}}">
  {{{html}}}
</li>
