<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Courselets</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="header-main">
          <div class="container">
            <a href="/" class="brand"><img src="img/courselets-logo.png" alt="Courselets Logo"></a>
          </div>
        </header>

        <main role="main">
          <header class="hero" role="banner">
            <div class="inner">
              <div class="container">
                <h1>A fun way to improve learning outcomes and solve challenges with other instructors!</h1>

                <p>
                  Join us for a hands-on workshop...Lorem ipsum dolor sit amet, in regione saperet deleniti vel. Vel no postea scripta omnesque, ne vis inani dicam eligendi.
                </p>

                <a href="#interested" class="btn">I'm Interested</a>
              </div>

              <div class="cta-bar">
                <div class="container">
                  <p class="info">A free hackathon sponsored by UCLA and NIH</p>
                  <p class="scroll">Scroll to learn more</p>
                  <a href="#interested" class="btn">I'm Interested</a>
                </div>
              </div>
            </div>
          </header>

          <section class="section-attrition">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <img src="" alt="">
                </div>

                <div class="col-md-6">
                  <h2>Active learning &amp; attrition rates</h2>

                  <p>
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Donec ullamcorper nulla non. Data from UCLA 2011 - 2014.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="section-cards">
            <h2>
              <div class="container">
                What you'll get from this hackathon
              </div>
            </h2>

            <div class="container">
              <div class="row">
                <div class="col-md-4 card">
                  <img src="" alt="">

                  <h3>Knowledge</h3>

                  <p>Learn how to ipsum lorem ipsum dolor.</p>
                </div>

                <div class="col-md-4 card">
                  <img src="" alt="">

                  <h3>Metrics</h3>

                  <p>Define learning outcomes and actionable metrics.</p>
                </div>

                <div class="col-md-4 card">
                  <img src="" alt="">

                  <h3>Boost Student Learning</h3>

                  <p>Work in a fun group setting and take small steps to boost student learning outcomes.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="section-questions">
            <h2>
              <div class="container">
                Is this workshop for me?
              </div>
            </h2>

            <ul class="list-questions">
              <li>Do you have high student drop rates?</li>
              <li>Are students struggling to understand key concepts?</li>
              <li>Do your students lack the ability to apply what they've learned to real world problems?</li>
              <li>Do you have metrics and clear learning outcomes for your course? Can you easily evaluate how well your students are learning?</li>
            </ul>
          </section>

          <section class="section-agenda">
            <h2>
              <div class="container">
                Workshop Description
              </div>
            </h2>

            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <h3>Agenda</h3>

                  <ol>
                    <li>Review key concepts</li>
                    <li>Participate in fun guided group activities</li>
                  </ul>

                  <h3>Key Concepts</h3>

                  <p>The Problem: <strong>Student Blind Spots</strong>. We'll briefly review these problems and how to solve them.</p>

                  <ul class="list-checklist">
                    <li>High attrition rates from math-intensive STEM classes</li>
                    <li>Poor ability to solve real-world problems</li>
                    <li>Poor conceptual understanding (basic misconceptions on 50% of the concepts, and little improvement by the end of a course)</li>
                    <li>Missing ways to identify specific misconceptions, or to see how to fix them</li>
                    <li>Instructors lack a way to see what each student is actually thinking, and thus cannot diagnose their underlying conceptual errors, let alone fix them</li>
                  </ul>

                  <p>
                    Ut persecuti cotidieque pri, tamquam luptatum qualisque duo ad. Eu repudiandae instructior sit, ne deleniti intellegam cum. Qui sensibus assentior definitionem id, et cibo mazim philosophia vel. Debet officiis reformidans qui id. Ei mutat maluisset intellegat has, erat urbanitas nec ne.
                  </p>

                  <h3>Group Activities</h3>

                  <p>Lorem ipsum dolor sit amet, in regione saperet deleniti vel. Vel no postea scripta omnesque, ne vis inani dicam eligendi. Te ius augue melius, te delectus persecuti vel, porro debet appetere per ad. Unum integre no nam. Appareat legendos suscipiantur sea ei, te saperet adipiscing eum.</p>

                  <p class="list-header">Identify four your courses:</p>

                  <ul>
                    <li>Key concepts and applications</li>
                    <li>Target problems that you can use right away as exam prep exercises</li>
                  </ul>
                </div>

                <div class="col-md-4 col-md-offset-1">
                  <h3>Details</h3>

                  <dl>
                    <dt>Duration:</dt>
                    <dd>3 meetings</dd>

                    <dt>Sessions:</dt>
                    <dd>2 hours each meeting</dd>

                    <dt>Location:</dt>
                    <dd>Online video conference</dd>

                    <dt>Number Participants:</dt>
                    <dd>4-8</dd>

                    <dt>What you need to participate:</dt>
                    <dd>A computer or mobile device, webcam, headset.</dd>
                  </dl>

                  <div>
                    VIDEO
                    <p>This workshop can help you take small easy steps to improve your student learning outcomes.</p>
                  </div>

                  <blockquote>
                    <p>This hackathon was a great experience, and I was able to Lorem ipsum dolor sit amet.</p>
                    <small>&mdash; Pepe Ping, UCLA BD2K</small>
                  </blockquote>
                </div>
              </div>

              <h3>Your Personal Guides</h3>

              <div class="row">
                <div class="col-md-6 card card-chris">
                  <h4>Christopher Lee, PhD</h4>

                  <p>
                    Chris received a B.A. summa cum laude in Biochemistry and Molecular Biology in 1988 from Harvard College, and a Ph.D. in Structural Biology from Stanford University in 1993. He has been a faculty member in the UCLA  Department of Chemistry and Biochemistry since 1998. He personally struggled with high attrition rates in his bioinformatics classes, and has a personal passion for improving learning outcomes in STEM disciplines.
                  </p>
                </div>

                <div class="col-md-6 card card-chris">
                  <h4>Rachel Horak, PhD</h4>

                  <p>
                    Rachel Lorem ipsum dolor sit amet, in regione saperet deleniti vel. Vel no postea scripta omnesque, ne vis inani dicam eligendi. Te ius augue melius, te delectus persecuti vel, porro debet appetere per ad. Unum integre no nam. Appareat legendos suscipiantur sea ei, te saperet adipiscing eum.
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="section-faq">
            <h2>
              <div class="container">FAQ</div>
            </h2>

            <div class="container">
              <dl class="faq">
                <dt>Who should attend?</dt>
                <dd>Answer</dd>

                <dt>What do I need to participate in the workshop?</dt>
                <dd>Answer</dd>
              </dl>
            </div>
          </section>

          <section id="interested" class="interested">
            <div class="interested-info">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <h2>I’m Interested in the Online Workshop</h2>

                    <p>There is no commitment to take the workshop at this point. We'll contact you when we get enough participants to schedule a workshop.</p>
                  </div>
                </div>
              </div>
            </div>

            <form action="">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <p>
                      <label>Name</label>

                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" name="first_name" placeholder="First">
                        </div>

                        <div class="col-md-6">
                          <input type="text" name="last_name" placeholder="Last">
                        </div>
                      </div>
                    </p>

                    <p>
                      <label>Email</label>
                      <input type="text" name="email" placeholder="Email">
                    </p>

                    <p>
                      <label>When can you join?</label>
                      <small>
                        We plan to host hackathons between ? and ?. Please tell us more about your availability below. Our hackathons are split into 3 meetings that are about 2 hours long.
                      </small>

                      <textarea name="when_join"></textarea>
                    </p>

                    <p>
                      <label>
                        What is your timezone?
                      </label>

                      <input type="text" name="timezone">
                    </p>

                    <p>
                      <input type="submit" value="Keep Me Informed">
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </section>

          <section class="section-share">
            <div class="container">
              <h2>Share This Event</h2>

              <div class="share-buttons">
                Share buttons
              </div>
            </div>
          </section>

          <footer class="footer-main">
            <div class="container">
              &copy; 2015 Courselets.org
            </div>
          </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-66334221-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
