<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Courselets</title>
        <meta name="description" content="Based on our own experiences of what works, we've designed Courselets to give you the power-tools, methods and materials to add Active Learning exercises your students can start using right away.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <script src="https://use.typekit.net/aof4bxp.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main role="main">

          <!-- Hero -->
          <header class="hero" role="banner">
            <div class="inner">
              <div class="container">
                <a href="http://courselets.org" class="brand"><img src="img/courselets-logo@2x.png" alt="Courselets Logo"></a>

                <h1>Transform student outcomes</h1>

                <p>
                  Join the hands-on workshop that utilizes the Courselets platform. Participants have the opportunity to refine their teaching strategies and create a learning environment that addresses student needs in real-time.
                </p>

                <a href="#" class="btn im-interested">Sign Up Now</a>
              </div>
            </div>

            <div class="cta-bar">
              <div class="container clearfix">
                <p class="info">A free hackathon sponsored by UCLA and NIH</p>

                <div class="extra">
                  <p class="scroll">
                    Scroll to learn more
                    <span class="mouse">
                      <span class="mouse-wheel">
                      </span>
                    </span>
                  </p>

                  <a href="#" class="btn im-interested">Sign Up Now</a>
                </div>
              </div>
            </div>
          </header>

          <!-- Attrition rates -->
          <section class="section-attrition">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Collaborative, online hackathon</h2>
                </div>

                <div class="col-sm-4 col-md-5 right">
                  <figure>
                    <img src="img/attrition-chart@2x.png" alt="Active learning attrition rates">
                    <figcaption>Student attrition rates using Courselets framework</figcaption>
                  </figure>
                </div>

                <div class="col-sm-7 col-md-7">
                  <p>
                    This small-group workshop will give you the opportunity to work with other instructors to implement the Courselets framework, taking small steps to improve overall student learning outcomes and decrease attrition rates.
                  </p>

                  <p>
                    This workshop might be for you if your:
                  </p>

                  <ul>
                    <li>Subject matter contains STEM content</li>
                    <li>Course reflects high student drop rates</li>
                    <li>Students struggle to understand key course concepts and apply them to real-world scenarios</li>
                    <li>Available in-class technology doesn’t provide real-time data or metrics for understanding gaps in learning</li>
                    <li>Teaching goals include increasing collaborative learning in the classroom</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>

          <section class="section-cards">
            <header>
              <div class="container">
                <h2>What you'll get from this hackathon</h2>
              </div>
            </header>

            <div class="cards-container">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <img src="https://placeimg.com/360/220/nature" alt="Knowledge (use h3 text here)">
                      <div class="inner">
                        <h3>Action Plans</h3>

                        <p>Working in collaborative groups, take small, actionable steps to assess and improve student learning outcomes through customized solutions.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card">
                      <img src="https://placeimg.com/360/220/arch" alt="Metrics (use h3 text here)">

                      <div class="inner">
                        <h3>Analytics Reports</h3>

                        <p>Access real-time analytics that will help you understand where and why students are struggling. Explore data and work with colleagues to fill in gaps in learning.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card">
                      <img src="https://placeimg.com/360/220/tech" alt="Boost (use h3 text here)">

                      <div class="inner">
                        <h3>Increased Prestige</h3>

                        <p>Gain the metrics and tools you need to pursue grant funding, publish your research and establish yourself as an innovator among your peers.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Agenda -->
          <section class="section-agenda">
            <header>
              <div class="container">
                <h2>Workshop Description</h2>
              </div>
            </header>

            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <h3>Agenda</h3>

                  <ol>
                    <li>Review key concepts</li>
                    <li>Participate in fun guided group activities</li>
                  </ol>

                  <h3>Key Concepts</h3>

                  <p>The Problem: <strong>Student Blind Spots</strong>. We'll briefly review these problems and how to solve them.</p>

                  <ul class="list-checklist">
                    <li>High attrition rates from math-intensive STEM classes</li>
                    <li>Poor ability to solve real-world problems</li>
                    <li>Poor conceptual understanding (basic misconceptions on 50% of the concepts, and little improvement by the end of a course)</li>
                    <li>Missing ways to identify specific misconceptions, or to see how to fix them</li>
                    <li>Instructors lack a way to see what each student is actually thinking, and thus cannot diagnose their underlying conceptual errors, let alone fix them</li>
                  </ul>

                  <p>
                    Ut persecuti cotidieque pri, tamquam luptatum qualisque duo ad. Eu repudiandae instructior sit, ne deleniti intellegam cum. Qui sensibus assentior definitionem id, et cibo mazim philosophia vel. Debet officiis reformidans qui id. Ei mutat maluisset intellegat has, erat urbanitas nec ne.
                  </p>

                  <h3>Group Activities</h3>

                  <p>Lorem ipsum dolor sit amet, in regione saperet deleniti vel. Vel no postea scripta omnesque, ne vis inani dicam eligendi. Te ius augue melius, te delectus persecuti vel, porro debet appetere per ad. Unum integre no nam. Appareat legendos suscipiantur sea ei, te saperet adipiscing eum.</p>

                  <p class="list-header">Identify four your courses:</p>

                  <ul>
                    <li>Key concepts and applications</li>
                    <li>Target problems that you can use right away as exam prep exercises</li>
                  </ul>
                </div>

                <div class="col-md-4 col-md-offset-1">
                  <h3>Details</h3>

                  <dl>
                    <dt>Duration:</dt>
                    <dd>3 meetings</dd>

                    <dt>Sessions:</dt>
                    <dd>2 hours each meeting</dd>

                    <dt>Location:</dt>
                    <dd>Online video conference</dd>

                    <dt>Number Participants:</dt>
                    <dd>4-8</dd>

                    <dt>What you need to participate:</dt>
                    <dd>A computer or mobile device, webcam, headset.</dd>
                  </dl>

                  <iframe src="https://player.vimeo.com/video/136898815?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                  <p>This workshop can help you take small easy steps to improve your student learning outcomes.</p>


                  <blockquote>
                    <p>This hackathon was a great experience, and I was able to Lorem ipsum dolor sit amet.</p>
                    <small>&mdash; Pepe Ping, UCLA BD2K</small>
                  </blockquote>
                </div>
              </div>

              <h3>Your Personal Guides</h3>

              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <img src="img/chris.jpg" alt="Christopher Lee, PhD">

                    <div class="inner">
                      <h4>Christopher Lee, PhD</h4>

                      <p>
                        Chris received a B.A. summa cum laude in Biochemistry and Molecular Biology in 1988 from Harvard College, and a Ph.D. in Structural Biology from Stanford University in 1993. He has been a faculty member in the UCLA  Department of Chemistry and Biochemistry since 1998. He personally struggled with high attrition rates in his bioinformatics classes, and has a personal passion for improving learning outcomes in STEM disciplines.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card">
                    <img src="img/rachel.jpg" alt="Rachel Horak, PhD">

                    <div class="inner">
                      <h4>Rachel Horak, PhD</h4>

                      <p>
                        Rachel Lorem ipsum dolor sit amet, in regione saperet deleniti vel. Vel no postea scripta omnesque, ne vis inani dicam eligendi. Te ius augue melius, te delectus persecuti vel, porro debet appetere per ad. Unum integre no nam. Appareat legendos suscipiantur sea ei, te saperet adipiscing eum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- FAQ -->
          <section class="section-faq">
            <header>
              <div class="container">
                <h2>FAQ</h2>
              </div>
            </header>

            <div class="container">
              <dl class="faq">
                <dt>Who should attend?</dt>
                <dd>Answer</dd>

                <dt>What do I need to participate in the workshop?</dt>
                <dd>Answer</dd>
              </dl>
            </div>
          </section>

          <!-- Form -->
          <section id="interested" class="interested">
            <div class="interested-info">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <h2>I’m Interested in the Online Workshop</h2>

                    <p>There is no commitment to take the workshop at this point. We'll contact you when we get enough participants to schedule a workshop.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="message-container">

            </div>

            <form action="" id="interested-form">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div>
                      <label>Name</label>

                      <div class="row">
                        <div class="col-xs-6">
                          <input type="text" name="first_name" placeholder="First" data-validation="required" data-validation-error-msg="Please enter your first name">
                        </div>

                        <div class="col-xs-6">
                          <input type="text" name="last_name" placeholder="Last" data-validation="required" data-validation-error-msg="Please enter your last name">
                        </div>
                      </div>
                    </div>

                    <div>
                      <label>Email</label>
                      <input type="text" name="email" placeholder="Email" data-validation="email" data-validation-error-msg="Please enter your email">
                    </div>

                    <div>
                      <label>When can you join?</label>
                      <small>
                        We plan to host hackathons between ? and ?. Please tell us more about your availability below. Our hackathons are split into 3 meetings that are about 2 hours long.
                      </small>

                      <textarea name="when_join" data-validation="required" data-validation-error-msg="Please tell us when you can join"></textarea>
                    </div>

                    <div>
                      <label>
                        What is your timezone?
                      </label>

                      <input type="text" name="timezone" data-validation="required" data-validation-error-msg="Please enter your timezone">
                    </div>

                    <input type="submit" value="Keep Me Informed">
                  </div>
                </div>
              </div>
            </form>
          </section>

          <!-- Share -->
          <section class="section-share">
            <div class="container">
              <h2>Share This Event</h2>

              <div class="share-buttons">

                <!-- Facebook -->
                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>

                <!-- Twitter -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>

                <!-- LinkedIn -->
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/Share"></script>

                <!-- Google+ -->
                <script src="https://apis.google.com/js/platform.js" async defer></script><div class="g-plus" data-action="share" data-annotation="none"></div>
              </div>
            </div>
          </section>

          <!-- Footer -->
          <footer class="footer-main">
            <div class="container">
              &copy; 2015 Courselets.org
            </div>
          </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Load Facebook SDK -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Load Twitter SDK -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-66334221-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
