{% load cms_tags sekizai_tags %}

<header class="hero" role="banner">
  <div class="inner">
    <div class="container">
      <h1>{{ instance.title }}</h1>

      {{ instance.description|safe }}

      <a href="#interested" class="btn">{{ instance.text_button }}</a>
    </div>

    <div class="cta-bar">
      <div class="container">
        <p class="info">{{ instance.sponsors_text }}</p>
        <p class="scroll">Scroll to learn more</p>
        <a href="#interested" class="btn">{{ instance.text_button }}</a>
      </div>
    </div>
  </div>
</header>
