{% if not instance.hidden %}
<section id="interested" class="interested">
<div class="interested-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>{{ instance.title }}</h2>

        <p>{{ instance.description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="message-container">

</div>

<form action="" id="interested-form">
    {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <label>{{ instance.name_field }}</label>

          <div class="row">
            <div class="col-xs-6">
              <input type="text" name="first_name" placeholder="First" data-validation="required length" data-validation-length="max100" data-validation-error-msg-required="{{ instance.first_name_error_msg }}">
            </div>

            <div class="col-xs-6">
              <input type="text" name="last_name" placeholder="Last" data-validation="required length" data-validation-length="max100" data-validation-error-msg-required="{{ instance.last_name_error_msg }}">
            </div>
          </div>
        </div>

        <div>
          <label>{{ instance.email_field }}</label>
          <input type="text" name="email" placeholder="Email" data-validation="email" data-validation-error-msg="{{ instance.email_error_msg }}">
        </div>

        <div>
          <label>{{ instance.when_field }}</label>
          <small>
              {{ instance.description_field|safe }}
          </small>

          <textarea name="when_join" data-validation="required" data-validation-error-msg="{{ instance.when_error_msg }}"></textarea>
        </div>

        <div>
          <label>
            {{ instance.timezone_field }}
          </label>

          <input type="text" name="timezone" data-validation="required length" data-validation-length="max70" data-validation-error-msg-required="{{ instance.timezone_error_msg }}">
        </div>

        <input type="submit" value="{{ instance.btn_text }}">
      </div>
    </div>
  </div>
</form>
</section>
{% endif %}
