{% load cms_tags %}

{% if not instance.hidden %}
<div class="card panel">
    <div class="card-header" role="tab" id="heading{{ instance.uid }}">
      <h2>
        <a data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{ instance.uid }}" aria-expanded="false" aria-controls="collapse{{ instance.uid }}">
          <span class="btn btn-link">{{ instance.button_text }}</span> {{ instance.title }}
        </a>
      </h2>
    </div>

    <div id="collapse{{ instance.uid }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ instance.uid }}" data-parent="#accordionExample">
      <div class="card-body">
        {{ instance.description }}
      </div>
    </div>
  </div>
{% endif %}
