{% extends "ct/portal.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="buttons">
{% if not user.is_authenticated %}
<h4>Howdy Stranger!</h4>
{#<h4>You can enroll to course via <a href="/ct/courses/">Course</a> link to test some courses.</h4>#}
<h4>To get started on Courselets fast and keep your work secure, we suggest you sign-in with one of your existing social media accounts.  Sign in with:</h4>
{% endif %}

{% include "psa/social_backends.html" %}

<br>
<div class="container-fluid">
{% if not user.is_authenticated %}
<h4>Alternatively, you can try out Courselets without signing in.  If you want to access your work in the future (or from another computer), we can email you an access link.  To get started, just enter your email address (we'll keep it safe from spammers):</h4>
{% endif %}
  {% include "psa/legacy_backends.html" %}
</div>
<br>

<div id="login">
<h4>Alternatively, if you already have a Courselets.org password, you can sign in here:</h4>
    <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
    </form>
</div>

{% if DEBUG %}
    {% include "psa/user_details.html" %}
{% endif %}

{% endblock %}
