{% extends "ctms_base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="buttons">
{% if not user.is_authenticated %}
{% endif %}

{% include "psa/social_backends.html" %}

<br>

<div id="login">
  <h4>Login</h4>
    <form class="form-horizontal" name="LoginForm" action="." method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if not field.is_hidden %}
      <div class="control-group">
        {{ field.label_tag }}
          <div class="controls">
            {{ field.errors }}
            {{ field }}
          </div>
      </div>
      {% else %}
        {{ field }}
      {% endif %}
    {% endfor %}
    <br>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
    </form>

  <br />
  <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
  <a href="{% url 'accounts:password_reset' %}" class="btn btn-warning">Forgot password</a>
</div>

{% if DEBUG %}
    {% include "psa/user_details.html" %}
{% endif %}


{% endblock %}
