{% extends "psa_base.html" %}

{% block content %}
<div class="auth-card">
  <header>
    <h1>Sign Up</h1>

    <p>For new instructors. Already have an account? <a href="{% url 'new_login' %}{% if form.next.value %}?next={{ form.next.value }}{% endif %}">Log in</a></p>
  </header>

  <section class="auth-card__social-options">
    {% include "psa/new_social_backends.html" %}

    <p>
      <span>You can also sign up using your email below</span>
    </p>
  </section>

  <main class="auth-card__content">
    <form name="RegistrationForm" action="." method="post">
      {% csrf_token %}

      {% for field in form %}
        {% if not field.is_hidden %}
          {% if field.name == 'first_name' %}
            <label for="{{ field.auto_id }}">Name</label>
            <div class="row">
              <div class="col-lg-6">
                {{ field }}
              </div>
            {% elif field.name == 'last_name' %}
              <div class="col-lg-6">
                {{ field }}
              </div>
            </div>
            {% if form.first_name.errors or form.last_name.errors %}
            <div class="row">
              <div class="col-lg-6">
                {{ form.first_name.errors }}
              </div>
              <div class="col-lg-6">
                {{ form.last_name.errors }}
              </div>
            </div>
            {% endif %}
          {% else %}
        {# ALL FIELDS EXCL. first_name, last_name #}
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% if field.help_text %}
              <p><span>{{ field.help_text }}</span></p>
            {% endif %}
            {{ field }}
            {{ field.errors }}
          {% endif %}
        {% else %}
        {# HIDDEN FIELDS #}
          {{ field }}
        {% endif %}
      {% endfor %}

      <div class="auth-card__actions">
        <input type="submit" value="Sign Up">
      </div>
    </form>
  </main>

  {% if DEBUG %}
      {% include "psa/user_details.html" %}
  {% endif %}
{% endblock %}
