{% extends "ct/portal.html" %}

{% block content %}

<div class="buttons">
{% if not user.is_authenticated %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}

{% include "psa/social_backends.html" %}

<br>
<div class="container-fluid">
{% if not user.is_authenticated %}
{% endif %}
  {% include "psa/legacy_backends.html" %}
</div>
<br>

<div id="login">
<h4>Signup:</h4>
    <form class="form-horizontal" name="LoginForm" action="." method="post">
    {% csrf_token %}

    {% for field in form %}
      {% if not field.is_hidden %}
      <div class="control-group">
        {{ field.label_tag }}
        <div class="controls">
          {{ field.errors }}
          {{ field }}
        </div>
      </div>
      {% else %}
      {{ field }}
      {% endif %}
    {% endfor %}
      {% if form.errors %}
      {% comment %} {{ form.errors }} {% endcomment %}
      {% endif %}

    {% comment %} {%if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    {% endcomment %}
    <br>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
    </form>
</div>

{% if DEBUG %}
    {% include "psa/user_details.html" %}
{% endif %}

{% endblock %}
