{% load social_tags %}

{% similar_backends %}
<hr>
{% if similar_users %}
<h5>Your email <b>{{ person.email }}</b> is used in the following accounts.
    We recommend you to merge accounts to have all your study activities in one place. </h5>
{% endif %}
{% for similar, backends in similar_users.items %}
<div class="row">
    <h5><a href="/ct/people/{{ similar.pk }}/">{{ similar }}: </a></h5>
    {% for backend in backends %}
      <li>{{ backend|backend_name }}</li>
    {% endfor %}
</div>
{% endfor %}