{% if user.is_authenticated and not 'anonymous' in user.username %}
  <section>
    <header><h1>User details</h1></header>
    <div style="text-align: left">
      <p>You are logged in as <strong>{{ user.username }}</strong>!</p>
      <p>Associated accounts:</p>
      <ul>
        {% for assoc in backends.associated %}
          <li>
            {{ assoc.provider }} ({{ assoc.uid }})
            {% if show_disconnect %}
              <form method="post" action="{% url 'social:disconnect_individual' assoc.provider assoc.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <button>Disconnect</button>
              </form>
            {% endif %}
          </li>
        {% empty %}
          <li>No associations</li>
        {% endfor %}
      </ul>
      <h5>Primary email: {{ user.email }}</h5>
      <h5>Secondary emails:</h5>
      <ul>
      {% for secondary in user.secondary.all %}
        <li>From provider <b>{{ secondary.provider.provider }}: </b> {{ secondary.email }} </li>
      {% endfor %}
      </ul>
      {% include 'psa/similar_auth.html' %}
    </div>
  </section>
{% endif %}
