{% extends "psa_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="auth-card">
    <header>
      <h1>Create a new password</h1>
      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    </header>

    <main class="auth-card__content">
      {% if validlink %}
        <form action="" method="post">
          {% csrf_token %}

          <label for="id_new_password1">{% trans 'New password:' %}</label>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}


          <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}

          <div class="auth-card__actions">
            <input type="submit" value="{% trans 'Change my password' %}" /></p>
          </div>
        </form>
      {% else %}
        <p>
          {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
          <a href="{% url 'accounts:password_reset' %}">Forgot password</a>
        </p>
      {% endif %}
    </main>
  </div>
{% endblock %}
