{% extends "psa_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="auth-card">
    <header>
      <h1>Reset Password</h1>

      <p>We’ll send you an email with instructions on how to reset your password.</p>
    </header>

    <main class="auth-card__content">
      <form action="" method="post">
        {% csrf_token %}

        <label for="id_email">{% trans 'Email address' %}</label>
        {{ form.email }}
        {{ form.email.errors }}

        <div class="auth-card__actions">
          <input type="submit" value="{% trans 'Reset Password' %}" />

          <a href="{% url 'new_login' %}">Log in</a>
          <span>|</span>
          <a href="{% url 'signup' %}">Sign up</a>
        </div>
      </form>
    </main>
  </div>
{% endblock %}
