{% extends "psa_base.html" %}

{% block content %}
{% if form %}
<div class="auth-card">
    <header>
      <h1>Almost Done</h1>
      <p>Please tell us a little bit more about yourself to create your account.</p>
    </header>
    <main class="auth-card__content" style="text-align: left; margin: 0 auto;">
      <form class="form" action="{% url 'accounts:profile_update' %}" method="post">
        {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% if field.name == 'institution' %}
            <label for="{{ form.institution.auto_id }}">Where do you teach?</label>
            {{ form.institution }}
          {% elif field.name == 'what_do_you_teach'%}
            <label for="{{ form.what_do_you_teach.auto_id }}">What do you teach?</label>
            {{ field }}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Continue" class=" ">
      </form>
    </main>
  </div>

{% endif %}
{% endblock %}
