@charset "UTF-8";
/*
 * Author: Karl Ollars
 * Email: karlmagnusollars@gmail.com
 */
html {
  margin-top: 0 !important; }

body {
  background: #fff;
  font: normal 14px/24px "proxima-nova", sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased; }

.no-scroll {
  overflow: hidden; }

.browserupgrade {
  position: absolute;
  top: 92px;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  text-align: center;
  z-index: 10; }

.container {
  padding-left: 28px;
  padding-right: 28px; }

h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  color: #307FE2;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 36px;
  line-height: 44px;
  color: #fff; }

h2 {
  font-size: 28px;
  line-height: 32px;
  color: #307FE2; }

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 48px 0 28px 0; }

h4 {
  font-size: 21px;
  line-height: 24px;
  color: #307FE2;
  margin: 0 0 20px 0; }

a, a:visited {
  color: #307FE2;
  text-decoration: none;
  transition: color 0.3s; }

a:hover, a:active {
  color: #307FE2;
  text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0; }

p + p {
  margin-top: 26px; }

ol {
  counter-reset: li;
  margin: 34px 0 0 0;
  padding: 0 0 8px 0; }
  ol li {
    list-style: none;
    position: relative;
    padding: 0 0 0 44px;
    margin: 0 0 20px 0; }
    ol li:last-child {
      margin: 0; }
    ol li:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-width: 24px;
      padding: 3px 4px;
      font-size: 12px;
      line-height: 16px;
      color: #307FE2;
      text-align: center;
      border: 1px solid #307FE2;
      border-radius: 12px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.nav li {
    list-style-image: none; }
  ul.dropdown-menu li {
    padding: 5px; }
    ul.dropdown-menu li .form-group {
      margin-bottom: 0; }
  ul li {
    list-style-image: url(../img/list-icon.svg);
    list-style-position: inside; }
    ul li:last-child {
      margin: 0; }

ul.nav.navbar-nav li.child {
  background: none; }
  ul.nav.navbar-nav li.child.selected {
    font-weight: bold; }

dl {
  margin: 0; }

dt, dd {
  display: block; }

blockquote {
  background: #06038D;
  color: #F0F0F5;
  border-radius: 4px;
  padding: 32px 40px 34px 40px;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  border: 0;
  margin: 52px 0; }
  blockquote:before {
    content: '“';
    position: absolute;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 100px;
    line-height: 100px;
    vertical-align: top;
    color: #307FE2;
    top: -20px;
    left: -19px; }
  blockquote small {
    color: #9291CB;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px; }
    blockquote small:before {
      display: none; }

.btn, .btn:visited, input[type=submit] {
  font-family: "proxima-nova", sans-serif;
  background: #307FE2;
  background: rgba(48, 127, 226, 0.85);
  border: 0;
  box-shadow: none;
  border-radius: 4px;
  vertical-align: middle;
  color: #fff;
  font-weight: normal;
  margin: 32px 0 0 0;
  display: inline-block;
  transition: background 0.2s;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 24px; }
  .btn.btn-large, .btn:visited.btn-large, input[type=submit].btn-large {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 60px; }

input[type=submit] {
  font-size: 16px;
  line-height: 20px;
  padding: 16px 60px; }

.btn:hover, .btn:active, .btn:focus, input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  background: #307FE2;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  outline: none; }

label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin: 34px 0 4px 0; }

input[type=text], input[type=password], textarea {
  display: block;
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 20px;
  background: #fff;
  border: 1px solid #D7D7E0;
  color: #333;
  box-shadow: none;
  border-radius: 4px;
  transition: all 0.3s; }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: 0;
    border: 1px solid #307FE2; }

textarea {
  height: 120px; }

form input[type=submit] {
  margin-top: 40px;
  width: 100%; }

form ul {
  list-style: none;
  padding: 0;
  margin: 0; }

form li {
  margin: 0;
  padding: 0;
  background: #fff !important; }
  form li:first-child label {
    margin-top: 0; }

form small {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  display: block;
  margin-bottom: 12px; }

.validation_message {
  margin: 4px 0 0;
  color: #F03737; }

.validation_error, .gform_confirmation_message {
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #fff;
  background: #E07D7D;
  border-radius: 2px; }

.validation_error {
  margin-bottom: 40px; }

.gform_confirmation_message {
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d; }

.gform_footer {
  position: relative; }

.gform_ajax_spinner {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 60px;
  left: -32px;
  display: block !important; }

::-webkit-input-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.brand {
  position: absolute;
  top: 40px;
  z-index: 1; }

.brand img {
  height: 14px; }

.hero {
  position: relative;
  padding: 0;
  background: #ccc url(../img/hero-bg.jpg) no-repeat center center;
  background-size: cover; }
  .hero .inner {
    padding: 170px 0 180px 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center; }
  .hero h1, .hero p {
    color: #fff;
    max-width: 712px; }
  .hero h1 {
    margin: 0 auto; }
  .hero p {
    margin: 13px auto 35px auto; }
  .hero .btn {
    margin: 0; }
  .hero .cta-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #F0F0F0;
    color: #808080; }
    .hero .cta-bar p {
      font-size: 14px;
      line-height: 28px;
      margin: 16px 0;
      vertical-align: middle;
      color: #999; }
    .hero .cta-bar .extra {
      display: none; }
    .hero .cta-bar .scroll {
      visibility: visible;
      transition: opacity 1s ease; }
    .hero .cta-bar .btn {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      margin: 0;
      top: 12px;
      right: 0;
      transition: opacity 1s ease; }
    .hero .cta-bar .mouse {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 19px;
      height: 28px;
      border: 1px solid #aaa;
      border-radius: 14px;
      margin-left: 16px; }
    .hero .cta-bar .mouse-wheel {
      position: absolute;
      top: 7px;
      left: 7px;
      width: 3px;
      height: 3px;
      background: #aaa;
      border-radius: 2px;
      animation: scroll-animation 2s ease-in-out infinite; }
@keyframes scroll-animation {
  0% {
    opacity: 1;
    top: 7px; }
  25% {
    opacity: 1;
    top: 14px; }
  50% {
    opacity: 0;
    top: 14px; }
  75% {
    opacity: 0;
    top: 7px; }
  100% {
    opacity: 1;
    top: 7px; } }
section {
  border-top: 1px solid #F0F0F5; }
  section header {
    padding: 54px 0;
    background: #fff;
    border-bottom: 1px solid #F0F0F5; }
    section header p {
      margin: 20px 0 0 0;
      max-width: 720px; }
  section:not(.section-share) iframe {
    max-width: 100%;
    width: 100%;
    height: 300px;
    margin: 72px 0 0 0; }

.hero + section {
  border-top: 0; }

.section-text-with-image {
  padding: 80px 0 72px 0; }
  .section-text-with-image .right {
    float: right; }
  .section-text-with-image figure {
    width: 322px;
    max-width: 100%;
    display: block;
    margin: 46px auto 74px auto; }
  .section-text-with-image figcaption {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background: #FAFAFC;
    border-top: 1px solid #EBEBF0;
    border-bottom: 1px solid #EBEBF0;
    margin: 20px 0 0 0;
    padding: 12px 28px; }
  .section-text-with-image img {
    width: 100%;
    height: auto;
    display: block; }
  .section-text-with-image h2 {
    margin: 0 0 46px 0; }

.section-2-cols-centered {
  padding: 80px 0 72px 0;
  text-align: center; }
  .section-2-cols-centered h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 26px 0; }

.section-3-cards .cards-container {
  background: #FAFAFC;
  padding: 0px 0 60px 0; }
.section-3-cards .col-md-4 .card {
  border-bottom: 2px solid #06038D; }
.section-3-cards .col-md-4:nth-child(2) .card {
  border-bottom: 2px solid #307FE2; }
.section-3-cards .col-md-4:nth-child(3) .card {
  border-bottom: 2px solid #FCE300; }
.section-3-cards .card {
  margin-top: 60px; }

.card {
  background: #fff; }
  .card img {
    width: 100%;
    height: auto; }
  .card .inner {
    padding: 36px 40px 32px 40px; }
  .card h3 {
    margin: 0 0 12px 0; }

.section-2-cols {
  padding: 0 0 60px 0; }
  .section-2-cols.section-2-cols-bg {
    background: #FAFAFC; }
  .section-2-cols .col-md-6 {
    margin-top: 60px; }
    .section-2-cols .col-md-6 h3 {
      margin-top: 0; }
    .section-2-cols .col-md-6 iframe {
      margin-top: 0; }

.list-questions {
  list-style: none;
  margin: 76px 0;
  padding: 0; }
  .list-questions li {
    padding: 0 0 0 36px;
    background: url(../img/list-question.png) no-repeat 0 4px;
    margin: 0 0 12px 0; }

.section-2-cards {
  background: #FAFAFC;
  padding: 0 0 60px 0; }
  .section-2-cards .card {
    border-radius: 0;
    overflow: hidden;
    margin-top: 60px; }

.list-checklist {
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0; }
  .list-checklist li {
    padding: 1px 0 0 44px;
    background: url(../img/list-checkmark.png) no-repeat 0 0;
    margin: 0 0 19px 0; }

.list-header {
  font-weight: bold; }

.faq {
  margin: 60px 0 80px 0; }
  .faq dt {
    font-weight: normal;
    color: #307FE2;
    display: block;
    padding: 20px 0 20px 40px;
    background: url(../img/faq-expand.png) no-repeat 0 20px;
    cursor: pointer;
    border-bottom: 1px solid #EBEBF0;
    transition: 0.2s; }
    .faq dt:hover {
      opacity: 0.6; }
  .faq dd {
    display: block; }
  .faq dd {
    display: none;
    padding: 20px 0 20px 40px; }

.section-centered-background {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 114px 0 112px 0; }
  .section-centered-background h2 {
    color: #fff;
    margin: 0 0 20px 0; }
  .section-centered-background p {
    margin: 0; }

.section-form {
  padding: 80px 0; }
  .section-form .alert {
    text-align: center;
    padding: 28px 0;
    margin: 0; }

.section-share {
  background: #06038D;
  background-image: linear-gradient(135deg, #12109E, #040275);
  text-align: center;
  padding: 114px 0; }
  .section-share h2 {
    color: #fff;
    margin: 0 0 40px; }
  .section-share .fb_iframe_widget {
    top: -8px; }
  .section-share .fb_iframe_widget, .section-share .twitter-share-button, .section-share .IN-widget, .section-share .container div:last-child {
    margin: 20px auto !important;
    display: block !important; }

.footer-main {
  background: #FAFAFC;
  padding: 40px 0;
  color: #999;
  text-align: center; }

@media (max-width: 767px) {
  .section-text-with-image .right {
    width: 100%; } }
@media (min-width: 768px) {
  html, body, main {
    height: 100%; }

  .hero {
    height: 100%;
    min-height: 540px;
    font-size: 0;
    /* Vertical align fix */
    position: relative; }
    .hero:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .hero .inner {
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      width: 100%; }
    .hero .cta-bar.affix, .hero .cta-bar.affix-bottom {
      position: fixed;
      top: 0;
      left: 0;
      bottom: auto;
      z-index: 100; }
      .hero .cta-bar.affix .scroll, .hero .cta-bar.affix-bottom .scroll {
        opacity: 0;
        visibility: hidden; }
      .hero .cta-bar.affix .btn, .hero .cta-bar.affix-bottom .btn {
        opacity: 1;
        visibility: visible; }
    .hero .cta-bar .info {
      float: left; }
    .hero .cta-bar .extra {
      position: relative;
      display: block;
      float: right; }

  .section-text-with-image figure {
    position: relative;
    top: 8px;
    left: 0;
    margin: 0; }

  .section-share h2 {
    margin-bottom: 0; }
  .section-share .fb_iframe_widget, .section-share .twitter-share-button, .section-share .IN-widget, .section-share .container div:last-child {
    margin: 20px !important;
    display: inline-block !important; }
  .section-share .twitter-share-button {
    position: relative !important;
    top: 20px; } }
@media (min-width: 992px) {
  .section-text-with-image, .section-2-cols-centered {
    padding: 112px 0; } }
@media (min-width: 1200px) {
  .section-text-with-image figure {
    left: 67px;
    margin: 0; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list-questions li {
    background-image: url(../img/list-question@2x.png);
    background-size: 16px 16px; }

  .list-checklist li {
    background-image: url(../img/list-checkmark@2x.png);
    background-size: 24px 24px; }

  ul li {
    background-image: url(../img/list-icon@2x.png);
    background-size: 12px 12px; }

  .faq dt {
    background-image: url(../img/faq-expand@2x.png);
    background-size: 19px 19px; } }
#cms-top + .navbar-fixed-top {
  margin-top: 46px; }

/*# sourceMappingURL=main.css.map */
