/*# Social proofs */
.company-text a {
	color: #007bc6;
}

.container-proofs {
	padding: 100px 20px;
}

.block-title {
	color: #0078c6;
	font-weight: 300;
	text-align: center;
	font-size: 35px;
	margin: 10px auto 40px;
	max-width: 600px;
}

.block-companies {
	display: flex;
}

.long-column {
	width: 70%;
	box-sizing: border-box;
	padding-right: 50px;
}

.short-column {
	width: 30%;
}

.company-single {
	margin-bottom: 40px;
}

.company-logo {
	max-width: 200px;
	margin-bottom: 15px;
}

.company-logo img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.company-text {
	font-size: 16px;
}

.company-text p {
	margin-bottom: 15px;
	color: #6f7477;
	font-weight: 300;
}

.long-column .company-text {
	font-size: 22px;
}

.short-column .company-text {
	font-size: 16px;
}

@media screen and (max-width: 991px) {
	.block-companies {
		display: block;
	}

	.long-column {
		padding: 0;
	}
	
	.long-column,
	.short-column {
		width: 100%;
	}
}

/* Accordion */

.keynotes-accordion {
	padding-top: 110px;
	padding-bottom: 110px;
}

.keynotes-accordion .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.keynotes-accordion .card-header a {
	display: flex;
	align-items: center;
	color: #777;
	font-size: 20px;
	font-weight: 700;
}

.keynotes-accordion .card-header a:hover,
.keynotes-accordion .card-header a:focus,
.keynotes-accordion .card-header a[aria-expanded="true"] {
	text-decoration: none;
	cursor: pointer;
	color: #4d4d4d;
}

.keynotes-accordion .card-header a[aria-expanded="true"] .btn,
.keynotes-accordion .card-header a:hover .btn {
	background: #307fe2;
}

.keynotes-accordion .btn-link {
	margin: 0 20px 0 0;
	text-align: center;
	width: 200px;
	height: auto;
	white-space: inherit;
	word-break: break-word;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	border-radius: 3px;
}

.keynotes-accordion .card-body {
	margin-top: 20px;
	font-size: 16px;
}

@media screen and (max-width: 991px) {
	.keynotes-accordion {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 768px) {
	.keynotes-accordion .btn-link {
		margin-right: 0;
		width: 100%;
	}

	.keynotes-accordion .card-header a {
		flex-direction: column;
	}
}
