body {
  background: #FAFBFD;
  -webkit-font-smoothing: antialiased;
  font: normal 14px/24px "Avenir Next Rounded W01", sans-serif;
  color: #333; }

/**
 * Links
 */
a {
  color: #43B02A;
  text-decoration: none;
  transition: color 0.2s, opacity 0.2s; }
  a:hover, a:active, a:focus {
    color: #8ED07F;
    text-decoration: none; }

/**
 * Text
 */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  font-family: "Avenir Next Rounded W01", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000; }

h1 {
  margin-top: 0; }

h3 {
  font-size: 18px; }

h4, h5, h6 {
  font-size: 10px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }

p {
  margin: 24px 0 0 0; }

b, strong {
  font-weight: bold; }

/**
 * Tables
 */
table, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 36px; }

thead {
  border-bottom: 1px solid #DDE2E6; }

tbody tr {
  border-bottom: 1px solid #DDE2E6; }
  tbody tr:nth-child(odd) {
    background: #FAFBFD; }

th, td {
  padding: 18px 12px 17px 12px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top; }

th {
  color: #000;
  font-weight: 500; }

td {
  color: #333; }

td a {
  color: #333; }
  td a:hover, td a:active, td a:focus {
    color: #333;
    opacity: 0.6; }

/**
 * Forms
 */
form {
  margin: 0;
  padding: 0; }
  form:before, form:after {
    content: " ";
    display: table; }
  form:after {
    clear: both; }

label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin: 48px 0 0 0;
  padding: 6px 0 0 0; }
  label:first-of-type {
    margin-top: 0; }
  label span {
    color: #7F7F7F; }

label + p {
  color: #7F7F7F;
  margin: 6px 0 0 0; }

input[type=text], input[type=password], input[type=email], textarea {
  display: block;
  width: 100%;
  height: 54px;
  font-family: "Avenir Next Rounded W01", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 24px;
  background: #fff;
  border: 1px solid #D0D5D9;
  border-radius: 4px;
  color: #333;
  margin: 18px 0 0 0; }

textarea {
  height: 300px;
  padding: 24px; }

input[type=submit] {
  display: inline-block;
  width: auto;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  background: #43B02A;
  color: #fff;
  margin: 60px 0 0 0;
  padding: 14px 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #43B02A;
  cursor: pointer;
  transition: all 0.2s; }
  input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
    opacity: 0.6;
    outline: 0; }

.checkbox, .radio, .checkbox-inline, .radio-inline {
  margin: 12px 0 0 0;
  color: #333; }

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin: 12px 0 0 12px; }

.sidebar {
  display: none;
  background: #1E1A34;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  padding-top: 61px;
  overflow: hidden; }
  .sidebar header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #1B172F;
    border-bottom: 1px solid #2F2B43;
    height: 61px; }
    .sidebar header:before, .sidebar header:after {
      content: " ";
      display: table; }
    .sidebar header:after {
      clear: both; }
    .sidebar header a {
      float: left;
      line-height: 60px;
      padding: 0 9px;
      color: #B1B0B9; }
      .sidebar header a:hover, .sidebar header a:focus, .sidebar header a:active {
        color: #B1B0B9;
        opacity: 0.6; }
    .sidebar header .sidebar__logo {
      display: block;
      padding: 18px 9px 18px 24px; }
      .sidebar header .sidebar__logo img {
        display: block;
        width: 24px;
        height: 24px; }
  .sidebar section {
    border-top: 1px solid #2F2B43;
    padding: 17px 24px 18px 24px; }
    .sidebar section:first-of-type {
      border-top: 0; }
  .sidebar h4 {
    margin: 0;
    color: #676476; }
  .sidebar .dropdown-toggle {
    font-size: 14px;
    line-height: 24px;
    color: #B1B0B9;
    cursor: pointer;
    transition: all 0.2s; }
    .sidebar .dropdown-toggle:hover, .sidebar .dropdown-toggle:active, .sidebar .dropdown-toggle:focus {
      opacity: 0.6; }
    .sidebar .dropdown-toggle span:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: calc(100% - 66px);
      vertical-align: middle; }
    .sidebar .dropdown-toggle .sidebar__arrow {
      display: inline-block;
      background: url(../../img/instructor/dropdown-caret.svg) no-repeat left center;
      width: 6px;
      height: 3px;
      vertical-align: middle;
      margin: 0px 0 0 12px; }

.sidebar__scroll-container {
  position: relative;
  height: calc(100vh - 61px);
  overflow: hidden; }

.sidebar__actions ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar__actions ul:before, .sidebar__actions ul:after {
    content: " ";
    display: table; }
  .sidebar__actions ul:after {
    clear: both; }
.sidebar__actions li {
  float: left;
  margin-left: 12px; }
  .sidebar__actions li:first-child {
    margin-left: 0; }
.sidebar__actions a {
  position: relative;
  display: block;
  font-size: 12px;
  color: #8C8A98; }
  .sidebar__actions a:before {
    content: '';
    visibility: hidden;
    opacity: 0;
    background: #43B02A;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -19px;
    left: 0;
    transition: all 0.2s; }
  .sidebar__actions a.sidebar__actions__active, .sidebar__actions a:hover, .sidebar__actions a:active, .sidebar__actions a:focus {
    color: #8C8A98; }
    .sidebar__actions a.sidebar__actions__active:before, .sidebar__actions a:hover:before, .sidebar__actions a:active:before, .sidebar__actions a:focus:before {
      opacity: 1;
      visibility: visible; }

.sidebar__units ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; }
.sidebar__units li {
  display: block; }
.sidebar__units a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  color: #B1B0B9;
  line-height: 30px;
  padding-left: 22px;
  padding-right: 48px;
  margin-left: -24px;
  border-left: 2px solid transparent;
  transition: all 0.2s; }
  .sidebar__units a:hover, .sidebar__units a:active, .sidebar__units a:focus, .sidebar__units a.sidebar__units__active {
    color: #B1B0B9;
    border-left: 2px solid #43B02A; }

a.sidebar__add {
  display: block;
  color: #8C8A98;
  font-size: 12px;
  line-height: 30px;
  padding-left: 54px;
  background: url(../../img/instructor/sidebar-add.svg) no-repeat 24px center;
  margin-top: 6px;
  margin-bottom: -6px;
  border-left: 0; }
  a.sidebar__add:hover, a.sidebar__add:active, a.sidebar__add:focus {
    border-left: 0;
    color: #B1B0B9;
    opacity: 1; }

.sidebar__empty p {
  margin: 0;
  padding-right: 12px;
  color: #8C8A98; }
.sidebar__empty a {
  display: block;
  color: #B1B0B9;
  margin-top: 12px; }
  .sidebar__empty a:hover, .sidebar__empty a:active, .sidebar__empty a:focus {
    color: #B1B0B9;
    opacity: 0.6; }

@media (min-width: 1024px) {
  .sidebar {
    display: block !important;
    width: 308px; }
    .sidebar header {
      width: 308px; } }
.page {
  padding-top: 61px;
  padding-bottom: 24px; }

.page__topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #1E1A34; }

.page__topbar-inner {
  height: 61px;
  background: #fff;
  border-bottom: 1px solid #DDE2E6; }

.page__account {
  display: block;
  float: left;
  line-height: 60px;
  height: 60px;
  color: #333;
  padding-left: 24px; }
  .page__account:hover, .page__account:active, .page__account:focus {
    color: #333;
    opacity: 0.6; }
  .page__account .avatar {
    float: left;
    margin-top: 15px; }
  .page__account span {
    display: none;
    float: left;
    margin-left: 18px; }

.page__messages .alert {
  margin: 0;
  border-top: 0;
  border-radius: 0; }

@media (min-width: 1024px) {
  .page {
    padding-top: 0;
    padding-left: 308px;
    padding-bottom: 60px; }

  .page__topbar {
    position: relative; }

  .page__topbar-inner {
    border-radius: 5px 0 0 0; }

  .page__account {
    float: right;
    padding-left: 0;
    padding-right: 72px; }
    .page__account span {
      display: block; } }
.card {
  position: relative;
  background: #fff;
  border-top: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6;
  margin: 23px 0 0 0; }
  .card section {
    margin-top: 60px;
    border-top: 1px solid #DDE2E6;
    padding-top: 60px; }
    .card section:first-of-type {
      margin-top: 0;
      border-top: 0;
      padding-top: 0; }
    .card section h2 {
      margin-top: 3px; }
    .card section form {
      margin-top: 45px; }

.card__topbar {
  height: 96px;
  border-bottom: 1px solid #DDE2E6;
  padding: 36px 24px; }
  .card__topbar h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.card__topbar.card__topbar--with-description {
  height: auto; }
  .card__topbar.card__topbar--with-description p {
    color: #333;
    margin: 18px 0 0 0;
    max-width: 600px; }

.card__nav {
  border-bottom: 1px solid #DDE2E6;
  padding-left: 9px;
  height: 48px; }
  .card__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    white-space: nowrap;
    overflow: scroll; }
  .card__nav li {
    display: inline-block; }
  .card__nav a {
    position: relative;
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    transition: all 0.2s; }
    .card__nav a:before {
      content: '';
      visibility: hidden;
      opacity: 0;
      background: #43B02A;
      width: calc(100% - 30px);
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 15px;
      transition: all 0.2s; }
    .card__nav a.card__nav-active, .card__nav a:hover, .card__nav a:active, .card__nav a:focus {
      color: #43B02A; }
      .card__nav a.card__nav-active:before, .card__nav a:hover:before, .card__nav a:active:before, .card__nav a:focus:before {
        opacity: 1;
        visibility: visible; }

.card__sub {
  position: relative; }
  .card__sub .card__topbar {
    height: 60px;
    padding: 18px 24px; }
    .card__sub .card__topbar h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 24px;
      margin: 0; }

.card__content {
  position: relative;
  padding: 48px 24px; }
  .card__content > *:first-child {
    margin-top: -12px; }
  .card__content .alert {
    padding: 12px 24px; }
  .card__content .alert-info a {
    color: #31708f;
    font-weight: 500;
    text-decoration: underline; }
    .card__content .alert-info a:hover, .card__content .alert-info a:focus, .card__content .alert-info a:active {
      text-decoration: none; }

.card__empty-state h3 {
  margin: 4px 0 0 0; }
.card__empty-state p {
  margin: 15px 0 0 0; }
.card__empty-state .button {
  margin: 27px 0 0 0; }

.card__notice {
  background: #d9edf7;
  color: #31708f;
  border-bottom: 1px solid #DDE2E6;
  padding: 23px 24px; }
  .card__notice a {
    color: #31708f;
    font-weight: 500;
    text-decoration: underline; }
    .card__notice a:hover, .card__notice a:focus, .card__notice a:active {
      text-decoration: none; }

@media (min-width: 1024px) {
  .card {
    margin: 59px 60px 0 60px;
    border-radius: 4px;
    border-left: 1px solid #DDE2E6;
    border-right: 1px solid #DDE2E6; }

  .card__topbar {
    padding: 36px 400px 36px 60px; }

  .card__topbar.card__topbar--with-description {
    padding-right: 60px; }

  .card__nav {
    position: absolute;
    top: 0;
    right: 45px;
    height: 96px;
    padding-left: 0; }
    .card__nav ul {
      overflow: auto; }
    .card__nav a {
      padding-top: 39px;
      padding-bottom: 33px; }

  .card__sub .card__topbar {
    padding: 18px 24px 18px 60px; }
  .card__sub .card__nav {
    height: 60px; }
    .card__sub .card__nav a {
      padding-top: 19px;
      padding-bottom: 17px; }

  .card__content {
    padding: 60px;
    min-height: 168px; }

  .card__delete .button, .card__delete input[type=submit], .card__delete input[type=submit].button {
    position: absolute;
    bottom: 60px;
    left: 60px;
    margin: 0; }

  .card__notice {
    padding: 23px 60px; } }
.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.3); }

.hamburger {
  position: fixed;
  display: block;
  width: 60px;
  height: 60px;
  top: 0;
  right: 7px;
  z-index: 102;
  cursor: pointer; }
  .hamburger:before, .hamburger:after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    right: 18px;
    width: 24px;
    height: 1px;
    background: #333;
    transform: rotate(0);
    transition: all 0.25s; }
  .hamburger:after {
    top: 34px; }

.hamburger--active:before, .hamburger--active:after {
  background: #B1B0B9;
  transform: rotate(45deg);
  top: 30px; }
.hamburger--active:after {
  transform: rotate(-45deg); }

@media (min-width: 1024px) {
  .hamburger {
    display: none; } }
.button, input[type=submit].button {
  display: inline-block;
  width: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  background: #F5F7FA;
  color: #515A66;
  margin: 36px 0 0 0;
  padding: 14px 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #DDE2E6;
  cursor: pointer;
  transition: all 0.2s; }
  .button:hover, .button:active, .button:focus, input[type=submit].button:hover, input[type=submit].button:active, input[type=submit].button:focus {
    text-decoration: none;
    border-color: #43B02A;
    background: #43B02A;
    color: #fff;
    outline: 0;
    opacity: 1; }

.button--primary {
  border-color: #43B02A;
  background: #43B02A;
  color: #fff;
  font-size: 14px;
  font-weight: 500; }
  .button--primary:hover, .button--primary:active, .button--primary:focus {
    opacity: 0.6; }

.button--small {
  padding: 11px 18px;
  font-size: 13px; }

.button + .button {
  margin-left: 18px; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  display: block; }
h1 .button, h2 .button, h3 .button, h4 .button, h5 .button, h6 .button {
  margin-top: 24px; }

@media (min-width: 1024px) {
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    display: inline; }
  h1 .button, h2 .button, h3 .button, h4 .button, h5 .button, h6 .button {
    float: right;
    margin-top: -9px;
    margin-left: 18px; } }
.user-info {
  position: relative;
  padding: 6px 0 0 48px;
  min-height: 42px; }
  .user-info .avatar {
    position: absolute;
    top: 6px;
    left: 0; }
  .user-info h3 {
    margin: 0;
    font-size: 14px;
    line-height: 18px; }
  .user-info p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #B1B0B9; }

.table-answer {
  padding: 0 0 0 48px; }

.auth-topbar {
  height: 61px;
  background: #fff;
  border-bottom: 1px solid #DDE2E6;
  text-align: center; }
  .auth-topbar a {
    display: inline-block;
    padding: 12px; }
    .auth-topbar a:hover, .auth-topbar a:active, .auth-topbar a:focus {
      opacity: 0.7; }

.auth-card {
  position: relative;
  background: #fff;
  border-top: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6;
  margin: 23px auto 24px auto;
  max-width: 720px; }
  .auth-card header {
    text-align: center;
    padding: 36px 36px 34px 36px;
    border-bottom: 1px solid #DDE2E6; }
    .auth-card header h1 {
      margin-top: 3px; }
    .auth-card header p {
      margin-top: 9px;
      color: #7F7F7F; }

.auth-card__social-options {
  position: relative;
  text-align: left;
  padding: 27px 24px;
  border-bottom: 1px solid #DDE2E6; }
  .auth-card__social-options .button {
    margin: 6px; }
  .auth-card__social-options p {
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
    margin: 0; }
    .auth-card__social-options p span {
      display: inline-block;
      background: #fff;
      color: #7F7F7F;
      padding: 0 12px; }

.auth-card__content {
  padding: 60px; }
  .auth-card__content > *:first-child {
    margin-top: -12px; }
  .auth-card__content label {
    margin-top: 36px; }
    .auth-card__content label:first-of-type {
      margin-top: 0; }

.auth-card__content--centered {
  text-align: center; }

.auth-card__actions {
  margin-top: 48px; }
  .auth-card__actions:before, .auth-card__actions:after {
    content: " ";
    display: table; }
  .auth-card__actions:after {
    clear: both; }
  .auth-card__actions a, .auth-card__actions span {
    float: left;
    display: inline-block;
    padding: 24px 24px 24px 0; }
  .auth-card__actions span {
    color: #ccc; }
  .auth-card__actions input[type=submit] {
    display: block;
    width: 100%;
    margin: 12px 0 0 0; }

@media (min-width: 768px) {
  .auth-card__social-options {
    text-align: center; }

  .auth-card__actions input[type=submit] {
    float: right;
    display: inline-block;
    width: auto; } }
@media (min-width: 1024px) {
  .auth-card {
    margin-top: 59px;
    margin-bottom: 60px;
    border-radius: 4px;
    border-left: 1px solid #DDE2E6;
    border-right: 1px solid #DDE2E6; } }
.answer .user-info {
  margin-top: 15px; }

.answer__back {
  margin-top: 6px; }

.answer__meta {
  margin-top: 18px;
  padding: 12px 0;
  border-top: 1px solid #DDE2E6;
  border-bottom: 1px solid #DDE2E6; }

.answer__answer {
  margin-top: 18px; }

.alert {
  padding: 12px 24px;
  margin: 12px 0 0 0; }

@media (min-width: 1024px) {
  .alert {
    padding: 12px 60px; } }
.errorlist {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin: 3px 0 0 0;
  padding: 12px 18px;
  list-style: none; }
  .errorlist li {
    display: block; }

.expandable__toggle {
  cursor: pointer; }

.expandable__content {
  display: none; }

.form-group {
  margin: 48px 0 0 0; }
  .form-group:first-of-type {
    margin-top: 0; }

.form-group--question, .form-group--answer, .form-group--error-models, .form-group--introduction {
  display: none; }

.radio-list ul {
  margin: 0;
  padding: 0;
  list-style: 0; }
.radio-list li {
  display: inline-block;
  margin-top: 6px; }
.radio-list li + li {
  margin-left: 24px; }
.radio-list label {
  cursor: pointer; }
.radio-list input[type=radio] {
  margin-right: 6px; }

.error-models-form {
  border-top: 1px solid #E6E8EB;
  border-bottom: 1px solid #E6E8EB;
  margin-top: 18px; }
  .error-models-form .button {
    margin-top: 24px;
    margin-bottom: 24px; }

.error-models-form__items > div {
  padding: 0 24px 24px 24px;
  border-bottom: 1px solid #E6E8EB; }

.error-models-form__remove {
  display: inline-block;
  margin-top: 12px; }

.dropdown-menu {
  width: 260px;
  border-radius: 5px;
  padding: 12px 0;
  margin: 6px 0; }

.dropdown-menu > li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  padding: 6px 24px;
  color: #333;
  transition: all 0.2s; }
  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #43B02A; }

.input-with-button {
  position: relative;
  margin-top: 30px; }
  .input-with-button input[type=text], .input-with-button input[type=password], .input-with-button input[type=email] {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 56px; }
  .input-with-button .button, .input-with-button input[type=submit], .input-with-button button {
    position: absolute;
    top: 4px;
    right: 4px;
    margin: 0; }

.chat-input-text-form textarea {
  min-height: 20px; /* for default height */
  overflow: hidden;
  resize: none;
  border: 1px solid #000;
}
/*# sourceMappingURL=app.css.map */
