<div class="image-upload-container">
    <img id="image-{{ id }}" src="{% if value %}/media/{{ value }}{% endif %}" alt=""
         class="image-holder js-image-holder"><br>
    {% if value %}
        <div class="image-clear">
            <input id="{{ name }}-clear_id" name="{{ name }}-clear" type="checkbox">
            <label for="{{ name }}-clear_id">Check if you want to delete image</label>
        </div>
    {% endif %}
    <button type="button" class=" btn btn-success js-upload-image" data-id="{{ id }}">Choose image</button>

    <input type="file" class="hidden js-upload-input" id="input-{{ id }}" data-id="{{ id }}" name="{{ name }}">
</div>
