{% load best_practice_courselet %}

<div class="get-started__step{% if courselet.unit.scheduled %} get-started__step--done{% endif %} get-started__step--summary"
    data-step-id="view_introduction"
    data-bps-exists="{{ courselet.unit.scheduled }}">
  <div class="get-started__step-header">
    <div class="get-started__step-status"></div>
    <h2>
        {{forloop.counter}}. {{ template.summary }}
    </h2>
    <span class="get-started__step-tip">
      {% if courselet.unit.scheduled %}
          You have scheduled this courselet for {{ courselet.unit.courselet_deadline|date:"F j, Y" }} ({{ courselet.unit.error_resolution_days }} day{% if courselet.unit.error_resolution_days > 1 %}s{% endif %} before assessment).
      {% else %}
        {{ template.explanation }}
      {% endif %}
    </span>
    
    <a href="#" class="get-started__step-toggle button button--xsmall button--no-focus-style">
      {% if courselet.unit.scheduled %}Do this again{% else %}View{% endif %}
    </a>
  </div>

  <div class="get-started__step-content">
    <div class="onboarding-content">
      <p>
        {{ template.description }}
      </p>
      <a href="#"
        data-bp-template-pk="{{ template.id }}"
        data-course-pk="{{ course_pk }}"
        data-courselet-pk="{{ courselet_pk }}"
        redirect="{% url 'ctms:courslet_settings' course_pk=course_pk pk=courselet_pk %}#schedule-section"
        class="button button--primary create-new-bp-default">
        Schedule Courselet
      </a>
      <a href="#"
        data-bp-template-pk="{{ template.id }}"
        data-course-pk="{{ course_pk }}"
        data-courselet-pk="{{ courselet_pk }}"
        class="button create-new-bp">
        Assess Impact for Your Class
      </a>
    </div>
  </div>
</div>