html {

}

body {
  background: #FAFBFD;
  -webkit-font-smoothing: antialiased;
  font: normal 14px/24px $font-family;
  color: $color-text-primary;
}



/**
 * Links
 */
a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.2s, opacity 0.2s;

  &:hover, &:active, &:focus {
    color: #8ED07F;
    text-decoration: none;
  }
}



/**
 * Text
 */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $color-headline;
}

h1 {
  margin-top: 0;
}

h2 {

}

h3, h4, h5, h6 {

}

p {
  margin: 24px 0 0 0;
}

b, strong {
  font-weight: 500;
}



/**
 * Tables
 */
 table, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 48px;
}

thead {
  border-bottom: 1px solid #DDE2E6;
}

tbody tr {
  border-bottom: 1px solid #DDE2E6;

  &:nth-child(odd) {
    background: #FAFBFD;
  }
}

th, td {
  padding: 18px 12px;
  font-size: 14px;
  line-height: 24px;
}

th {
  color: $color-headline;
  font-weight: 500;
}

td {
  color: $color-text-primary;
}

td:first-child a {
  color: $color-text-primary;

  &:hover, &:active, &:focus {
    color: $color-text-primary;
    opacity: 0.6;
  }
}
