html {

}

body {
  background: #FAFBFD;
  -webkit-font-smoothing: antialiased;
  font: normal 14px/24px $font-family;
  color: $color-text-primary;
}



/**
 * Links
 */
a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.2s, opacity 0.2s;

  &:hover, &:active, &:focus {
    color: #8ED07F;
    text-decoration: none;
  }
}



/**
 * Text
 */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $color-headline;
}

h1 {
  margin-top: 0;
}

h2 {

}

h3, h4, h5, h6 {

}

p {
  margin: 24px 0 0 0;
}

b, strong {
  font-weight: 500;
}
