html {

}

body {
  background: #FAFBFD;
  -webkit-font-smoothing: antialiased;
  font: normal 14px/24px $font-family;
  color: $color-text-primary;
}



/**
 * Links
 */
a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.2s, opacity 0.2s;

  &:hover, &:active, &:focus {
    color: #8ED07F;
    text-decoration: none;
  }
}



/**
 * Text
 */
h1, h2, h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $color-headline;
}

h1 {
  margin-top: 0;
}

h2 {

}

h3 {
  font-size: 18px;
}

h4, h5, h6 {
  font-size: 10px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  margin: 24px 0 0 0;
}

b, strong {
  font-weight: 500;
}



/**
 * Tables
 */
 table, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 48px;
}

thead {
  border-bottom: 1px solid #DDE2E6;
}

tbody tr {
  border-bottom: 1px solid #DDE2E6;

  &:nth-child(odd) {
    background: #FAFBFD;
  }
}

th, td {
  padding: 18px 12px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}

th {
  color: $color-headline;
  font-weight: 500;
}

td {
  color: $color-text-primary;
}

td a {
  color: $color-text-primary;

  &:hover, &:active, &:focus {
    color: $color-text-primary;
    opacity: 0.6;
  }
}



/**
 * Forms
 */
form {
  @include clearfix;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-headline;
  margin: 54px 0 0 0;

  &:first-of-type {
    margin-top: 0;
  }
}

label + p {
  color: #7F7F7F;
  margin: 6px 0 0 0;
}

input[type=text], input[type=password], input[type=email], textarea {
  display: block;
  width: 100%;
  height: 54px;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 24px;
  background: #fff;
  border: 1px solid #D0D5D9;
  border-radius: 4px;
  color: $color-text-primary;
  margin: 12px 0 0 0;
}

textarea {
  height: 150px;
  padding: 24px;
}

input[type=submit] {
  display: inline-block;
  width: auto;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  background: $color-primary;
  color: #fff;
  margin: 48px 0 0 0;
  padding: 14px 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $color-primary;;
  cursor: pointer;
  transition: all 0.2s;

  &:hover, &:active, &:focus {
    opacity: 0.6;
    outline: 0;
  }
}

.checkbox, .radio, .checkbox-inline, .radio-inline {
  margin: 12px 0 0 0;
  color: $color-text-primary;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin: 12px 0 0 12px;
}
