// Courselets variables
$font-family: 'Avenir Next Rounded W01', sans-serif;
$color-primary: #43B02A;
$color-dark: #1E1A34;
$color-headline: #000;
$color-text-primary: #333;
$color-text-secondary: #7f7f7f;

// Bootstrap variables
$grid-gutter-width: 24px;
